<div class="border-t border-gray-350 px-3 py-2 flex justify-between items-center">
  <div class="footer-logo">
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 45.44 12.76"
      xml:space="preserve"
      class="svg fill-current text-gray-350"
      style="enable-background: new 0 0 30.8 28"
    >
      <g>
        <path
          d="M13.28.07a1.91,1.91,0,0,0-2.36,1.32L9.53,6.25,6.07.88A1.9,1.9,0,0,0,4.19,0,1.93,1.93,0,0,0,2.62,1.39L.07,10.32a1.91,1.91,0,0,0,1.32,2.36,1.88,1.88,0,0,0,.52.08,1.91,1.91,0,0,0,1.84-1.39L5.14,6.51l3.45,5.37a1.93,1.93,0,0,0,1.89.86A1.9,1.9,0,0,0,12,11.37L14.6,2.44A1.92,1.92,0,0,0,13.28.07Z"
          transform="translate(0 0)"
        ></path>
        <path
          d="M28.91.07a1.92,1.92,0,0,0-2.37,1.32l-.9,3.17H21.32l.61-2.12a1.91,1.91,0,1,0-3.68-1L15.7,10.32A1.91,1.91,0,0,0,17,12.68a2,2,0,0,0,.53.08,1.92,1.92,0,0,0,1.84-1.39l.91-3.17H24.6L24,10.32a1.91,1.91,0,0,0,1.31,2.36,2,2,0,0,0,.53.08,1.92,1.92,0,0,0,1.84-1.39l2.55-8.93A1.92,1.92,0,0,0,28.91.07Z"
          transform="translate(0 0)"
        ></path>
        <path
          d="M45.05.76A1.91,1.91,0,0,0,42.37.39L37,4.47l.59-2a1.91,1.91,0,1,0-3.68-1l-2.56,8.93a1.91,1.91,0,0,0,1.32,2.36A1.88,1.88,0,0,0,35,11.37l1.1-3.84h0a.34.34,0,0,0,.06.06l.07.09,4.14,4.46a1.91,1.91,0,1,0,2.81-2.6L40.47,6.63l4.21-3.19A1.9,1.9,0,0,0,45.05.76Z"
          transform="translate(0 0)"
        ></path>
      </g>
    </svg>
  </div>
  <div>
    <button
      class="bg-gray-400 hover:bg-gray-500 text-white py-2 px-10 rounded-sm text-xs"
    >
      詳しく見る
    </button>
  </div>
</div>
