<style>
    .iframe-wrapper-240 {
        width: 240px;
    }
</style>
<div>
  <h2 class="text-white text-xl font-bold m-1">高さ385px</h2>
  <div class="flex">
    <div class="flex-none iframe-wrapper-240 m-1">
      <iframe width="100%" height="385" src="<%= @src %>&height=385" style="border: 0;"></iframe>
    </div>
  </div>

  <h2 class="text-white text-xl font-bold m-1">高さ424px</h2>
  <div class="flex">
    <div class="flex-none iframe-wrapper-240 m-1">
      <iframe width="100%" height="424" src="<%= @src %>&height=424" style="border: 0;"></iframe>
    </div>
  </div>

  <h2 class="text-white text-xl font-bold m-1">高さ482px</h2>
  <div class="flex">
    <div class="flex-none iframe-wrapper-240 m-1">
      <iframe width="100%" height="482" src="<%= @src %>&height=482" style="border: 0;"></iframe>
    </div>
  </div>
</div>
