<div class="px-4 mx-auto max-w-full text-white">
  <ul class="mt-10 space-y-2">
    <li>
      <a href="/oembed_debugger/item_list?type=ts&id=R88ZYP985X">幻解!超常ファイル ダークサイド・ミステリーE+(プラス)</a>
    </li>
    <li>
      <a href="/oembed_debugger/item_list?type=pl&id=recommend-tep-0000000030">プレイリスト</a>
    </li>
  </ul>
</div>
<hr class="my-10">

<!---->

<style>
    .iframe-wrapper-240 {
        width: 240px;
    }
</style>
<div>
  <h2 class="text-white text-xl font-bold m-1">高さ200px</h2>
  <div class="flex">
    <div class="flex-none iframe-wrapper-240 m-1">
      <iframe width="240" height="200" src="<%= @src %>&height=200" style="border: 0;"></iframe>
    </div>
  </div>

  <h2 class="text-white text-xl font-bold m-1">高さ385px</h2>
  <div class="flex">
    <div class="flex-none iframe-wrapper-240 m-1">
      <iframe width="240" height="385" src="<%= @src %>&height=385" style="border: 0;"></iframe>
    </div>
  </div>

  <h2 class="text-white text-xl font-bold m-1">高さ482px</h2>
  <div class="flex">
    <div class="flex-none iframe-wrapper-240 m-1">
      <iframe width="240" height="482" src="<%= @src %>&height=482" style="border: 0;"></iframe>
    </div>
  </div>
</div>
