<div class="px-4 mx-auto max-w-full text-white">
  <div class="grid gap-16 row-gap-10 mb-8">
    <div class="grid grid-cols-4 gap-5 row-gap-8">
      <div>
        <h3 class="font-semibold tracking-wide text-gray-350">Episode</h3>
        <ul class="mt-2 space-y-2">
          <li>
            <a href="/oembed_debugger/summary?type=episode&id=MY514KPKKM">幻解!超常ファイル ダークサイド・ミステリーE+(プラス)</a>
          </li>
          <li>
            <a href="/oembed_debugger/summary?type=episode&id=18PGVZ9VWV">美の壺</a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="font-semibold tracking-wide text-gray-350">Event（dev）</h3>
        <ul class="mt-2 space-y-2">
          <li>
            <a href="/oembed_debugger/summary?type=event&id=94">水郷祭</a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="font-semibold tracking-wide text-gray-350">Howto</h3>
        <ul class="mt-2 space-y-2">
          <li>
            <a href="/oembed_debugger/summary?type=howto&id=6">ガールズクラフト</a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="font-semibold tracking-wide text-gray-350">FAQEvent</h3>
        <ul class="mt-2 space-y-2">
          <li>
            <a href="/oembed_debugger/summary?type=faqpage&id=122">バラエティー生活笑百科</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<hr class="my-10">

<!---->
<%= render 'iframes.html', src: @src %>
