---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/ll/bundle/pl/recommend-tep-0000000052/types.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"9ba102f"'
      etag:
      - '"107-By0rLSLRoMyTes13ahNmy7gYj8Y"'
    body:
      encoding: UTF-8
      string: '{"tvepisode":{"active":true,"available":true,"count":9},"event":{"active":true,"available":true,"count":9},"faqpage":{"active":true,"available":true,"count":2},"howto":{"active":true,"available":true,"count":7},"recipe":{"active":true,"available":true,"count":9}}'
  recorded_at: Wed, 03 Aug 2022 00:58:40 GMT
recorded_with: VCR 6.1.0
