---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/bundle/te/WWXQGK6938/types.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      commit-hash:
      - '"5029c00"'
      etag:
      - '"2f-/mGlhbCsy5iewqcXwUenfVt0j9Q"'
    body:
      encoding: UTF-8
      string: '{"tvepisode":{"count":1},"faqpage":{"count":1}}'
  recorded_at: Tue, 01 Feb 2022 08:07:30 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/bundle/te/KZ2MN6PXRJ/types.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      commit-hash:
      - '"5029c00"'
      etag:
      - '"2d-JPA8tBPRTvO5pz+46r92b72gv7w"'
    body:
      encoding: UTF-8
      string: '{"tvepisode":{"count":1},"howto":{"count":1}}'
  recorded_at: Tue, 01 Feb 2022 08:07:30 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/bundle/te/XKNVY22PNP/types.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      commit-hash:
      - '"5029c00"'
      etag:
      - '"2d-LU3Oz6lGf0ygU5GOZHsFC0wWV3E"'
    body:
      encoding: UTF-8
      string: '{"tvepisode":{"count":1},"event":{"count":1}}'
  recorded_at: Tue, 01 Feb 2022 08:07:31 GMT
recorded_with: VCR 6.0.0
