---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/bundle/te/Y6J1Y3MK82.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      commit-hash:
      - '"f345d67"'
      etag:
      - W/"c9ab-JaDaKg7NUKSSGM+imTTm35dWrSI"
    body:
      encoding: UTF-8
      string: '{"tvepisode":{"result":[{"type":"TVEpisode","id":"Y6J1Y3MK82","name":"「新年を祝うガレット・デ・ロワ」","identifierGroup":{"episodeId":"Y6J1Y3MK82","tvEpisodeId":"Y6J1Y3MK82","seriesId":"VNWVWYKX3Q","tvSeriesId":"VNWVWYKX3Q","episodeName":"「新年を祝うガレット・デ・ロワ」","tvEpisodeName":"「新年を祝うガレット・デ・ロワ」","seriesName":"グレーテルのかまど","tvSeriesName":"グレーテルのかまど","hashtag":[],"serviceId":["e1","e3","g1","g2"],"formatGenreTag":[{"id":"05","name":"バラエティ"}],"themeGenreTag":[{"id":"083","name":"料理"},{"id":"094","name":"文化"}]},"identifierGroupEx":{"seriesGroupId":"LNWY73R5JZ","tvSeriesGroupId":"LNWY73R5JZ","seriesGroupName":"グレーテルのかまど","tvSeriesGroupName":"グレーテルのかまど","episodeNameTemp":"「新年を祝うガレット・デ・ロワ」","tvEpisodeNameTemp":"「新年を祝うガレット・デ・ロワ」","seriesNameTemp":"グレーテルのかまど","tvSeriesNameTemp":"グレーテルのかまど","releasedEventIdTemp":"e1-130-2022011703001","releasedEventServiceIdTemp":"e1","releasedEventStartDateTemp":"2022-01-17T22:00:00+09:00","releasedEventEndDateTemp":"2022-01-17T22:25:00+09:00"},"keywords":[],"description":"フランスの新年を彩る伝統菓子ガレット・デ・ロワ。“王様のお菓子”と名付けられたこのスイーツには、ちょっとすてきなお楽しみが。ヘンゼルもオリジナルレシピに挑戦！","dateCreated":"2021-10-19T18:27:23+09:00","dateModified":"2022-01-26T00:41:22+09:00","actors":[],"contributors":[],"partOfSeries":{"id":"VNWVWYKX3Q","name":"グレーテルのかまど","detailedSeriesNameRuby":"","identifierGroup":{"seriesId":"VNWVWYKX3Q","tvSeriesId":"VNWVWYKX3Q","seriesName":"グレーテルのかまど","tvSeriesName":"グレーテルのかまど","hashtag":[],"serviceId":["e1","e3","g1","g2"]},"identifierGroupEx":{"seriesGroupId":"LNWY73R5JZ","tvSeriesGroupId":"LNWY73R5JZ","seriesGroupName":"グレーテルのかまど","tvSeriesGroupName":"グレーテルのかまど","seriesNameTemp":"グレーテルのかまど","tvSeriesNameTemp":"グレーテルのかまど"},"url":"https://dev-www.nhk.jp/p/ts/VNWVWYKX3Q/","description":"","detailedCatch":"全国のテレビ番組制作者たちが「レギュラー番組化」を目指して腕を競う【レギュラー番組への道！】枠でスタート！","logo":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/VNWVWYKX3Q/VNWVWYKX3Q-logo_2780999b495d045b70ee7490b51711e5.png","width":1080,"height":1080},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/VNWVWYKX3Q/VNWVWYKX3Q-logo_7972784b41082d9d9cad500684b19bb6.png","width":640,"height":640},"small":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/VNWVWYKX3Q/VNWVWYKX3Q-logo_95badc8779e7b3ec1297d79578ad3e6b.png","width":200,"height":200}},"eyecatch":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/VNWVWYKX3Q/VNWVWYKX3Q-eyecatch_a52a18372590f55285f6d348cd9f7a96.png","width":1920,"height":1080},"tver":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/VNWVWYKX3Q/VNWVWYKX3Q-eyecatch_08bca72fd598e73401ce23450bc1efb8.png","width":928,"height":522},"large":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/VNWVWYKX3Q/VNWVWYKX3Q-eyecatch_adbcca198b1848340f5dcfaf572e712d.png","width":1280,"height":720},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/VNWVWYKX3Q/VNWVWYKX3Q-eyecatch_482b662970121581b668e11deb5990a6.png","width":640,"height":360},"small":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/VNWVWYKX3Q/VNWVWYKX3Q-eyecatch_89633c31ecc7718a86e7670956f83435.png","width":320,"height":180}},"hero":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/VNWVWYKX3Q/VNWVWYKX3Q-hero_adfc606ca86f99ef02d6a118a68ed9cc.png","width":1920,"height":640},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/VNWVWYKX3Q/VNWVWYKX3Q-hero_4493da79ab8ea32fa753131dfd48d10c.png","width":1080,"height":360}},"style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#7E7A00","linkDark":"#FAF100","primaryLight":"#9E9900","primaryDark":"#FAF100"},"additionalProperty":{"publishLevel":"full","layoutPattern":"summary","episodeOrder":"releasedEvent","availableOnPlus":false,"enableVariablePlayBackSpeedControl":false,"optional":[],"seriesPackStatus":"notPacked"}},"releasedEvent":{"id":"e1-130-2022011703001","startDate":"2022-01-17T22:00:00+09:00","endDate":"2022-01-17T22:25:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHK教育テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-eyecatch_m.png","width":640,"height":360},"eyecatchLarge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-eyecatch_l.png","width":1280,"height":720},"eyecatch":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-eyecatch.png","width":1920,"height":1080},"hero":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-hero.png","width":1080,"height":360},"heroMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-hero_m.png","width":1920,"height":640},"logoSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-logo_s.png","width":200,"height":200},"logoMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-logo_m.png","width":640,"height":640},"logo":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-logo.png","width":1080,"height":1080}},"identifierGroup":{"serviceId":"e1","serviceName":"NHKEテレ1","shortenedName":"NHKEテレ1","shortenedDisplayName":"Eテレ"}}},"detailedRecentEvent":{"id":"e1-130-2022011703001","startDate":"2022-01-17T22:00:00+09:00","endDate":"2022-01-17T22:25:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHK教育テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-badge.png","width":200,"height":10[...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/bundle/te/DN9Y7WK2PY.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      commit-hash:
      - '"5029c00"'
      etag:
      - W/"1ebb-c4/8PrtRb0K3iJmmzyb6mPbj/9Q"
    body:
      encoding: UTF-8
      string: '{"tvepisode":{"result":[{"typ[...]
