---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/l/tvepisode/pl/recommend-tep-0000000001.json?availableOn=okushibu3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"1af2f79"'
      etag:
      - '"73-y4QBYleXd4zzZe3mbsCuC2TPPsw"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid PlaylistId.","requestId":"Root=1-62c3d840-61cce3c82e827f050a3bd5ab"}}'
  recorded_at: Tue, 05 Jul 2022 06:20:48 GMT
recorded_with: VCR 6.1.0
