---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/l/tvepisode/pl/recommend-tep-0000000003.json?availableOn=okushibu3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"1af2f79"'
      etag:
      - '"73-K3x3LW8lKMMsWrWGhGxX8ZkF3fU"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid PlaylistId.","requestId":"Root=1-62c3d844-37d3760163a49e5c1879aefa"}}'
  recorded_at: Tue, 05 Jul 2022 06:20:52 GMT
recorded_with: VCR 6.1.0
