---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/tvepisode/ts/R7Y6NGLJ6G.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cd9aa19"'
      etag:
      - W/"f2d0-wQ+8SQ9lNVoDVXvt/HTvEqW0NFI"
    body:
      encoding: UTF-8
      string: '{"result":[{"type":"TVEpisode","id":"42NXQRP28X","name":"「NATOとロシア
        “新たな攻防”の行方」","episodeNumber":100,"identifierGroup":{"tvEpisodeId":"42NXQRP28X","tvSeriesId":"R7Y6NGLJ6G","tvEpisodeName":"「NATOとロシア
        “新たな攻防”の行方」","tvSeriesName":"クローズアップ現代","hashtag":[],"serviceId":["g1","g2","s1","s2"],"aliasId":"gendai","formatGenreTag":[{"id":"01","name":"報道"}],"themeGenreTag":[{"id":"013","name":"国際"}]},"identifierGroupEx":{"tvSeriesGroupId":"4Y6ZLM519P","tvSeriesGroupName":"クローズアップ現代","tvEpisodeNameTemp":"「NATOとロシア
        “新たな攻防”の行方」","tvSeriesNameTemp":"クローズアップ現代","releasedEventServiceIdTemp":"g1","releasedEventStartDateTemp":"2022-06-08T19:30:00+09:00","releasedEventEndDateTemp":"2022-06-08T19:57:00+09:00"},"keywords":[],"description":"フィンランドやスウェーデンの加盟申請などＮＡＴＯ拡大への動きに、反発するロシア。攻防の舞台裏と歴史を徹底取材。新たな対立は、世界や日本にどう影響するのかを探る。","dateCreated":"2022-04-25T19:00:03+09:00","dateModified":"2022-08-06T23:07:14+09:00","actors":[],"contributors":[],"partOfSeries":{"id":"R7Y6NGLJ6G","name":"クローズアップ現代","detailedSeriesNameRuby":"くろーずあっぷげんだい","identifierGroup":{"tvSeriesId":"R7Y6NGLJ6G","tvSeriesName":"クローズアップ現代","hashtag":[],"serviceId":["g1","g2","s1","s2"],"aliasId":"gendai","mediaAssetUrls":["https://movie-a.nhk.or.jp/json/R7Y6NGLJ6G.json"]},"identifierGroupEx":{"tvSeriesGroupId":"4Y6ZLM519P","tvSeriesGroupName":"クローズアップ現代","tvSeriesNameTemp":"クローズアップ現代"},"url":"https://dev-api.nr.nhk.jp/r6/t/tvseries/ts/R7Y6NGLJ6G.json","canonical":"https://dev-www.nhk.jp/p/gendai/ts/R7Y6NGLJ6G/","description":"「クローズアップ現代」は1993年放送開始の報道番組です。政治経済の動きから、独自の調査報道、暮らしに直結する身近な話題やトレンドまで。幅広いテーマを、徹底した現場取材で掘り下げます。2022年度からは放送時間が夜7時半に変更し、毎週月・火・水放送に。キャスターは桑子真帆アナウンサー。","detailedCatch":"”心に刺さるジャーナリズム”","logo":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/R7Y6NGLJ6G/R7Y6NGLJ6G-logo_9f295a1edc8ae349847106bde54e42da.jpg","width":1080,"height":1080},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/R7Y6NGLJ6G/R7Y6NGLJ6G-logo_1e8ef1d198de83eaf607586da3e35357.jpg","width":640,"height":640}},"eyecatch":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/R7Y6NGLJ6G/R7Y6NGLJ6G-eyecatch_3d7d41373aaaabc41cea8a9c71ea145c.jpg","width":1920,"height":1080},"tver":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/R7Y6NGLJ6G/R7Y6NGLJ6G-eyecatch_16dd6fbfd2a8dcc365982a54b5471300.jpg","width":928,"height":522},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/R7Y6NGLJ6G/R7Y6NGLJ6G-eyecatch_dd80b37c321ec7e4849aeddfb0a108ac.jpg","width":640,"height":360}},"hero":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/R7Y6NGLJ6G/R7Y6NGLJ6G-hero_cd6ce455714ef9787ce849b1c51ac2ce.jpg","width":1920,"height":640},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/R7Y6NGLJ6G/R7Y6NGLJ6G-hero_125ea560433196f5e6c318f88cc21e35.jpg","width":1080,"height":360}},"style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#975F5F","linkDark":"#A97A7A","primaryLight":"#975F5F","primaryDark":"#975F5F"},"additionalProperty":{"publishLevel":"full","layoutPattern":"summary","episodeOrderBy":"releasedEvent","availableOnPlus":false,"enableVariablePlayBackSpeedControl":false,"optional":[],"seriesPackStatus":"notPacked"}},"releasedEvent":{"startDate":"2023-10-04T13:15:00+09:00","endDate":"2023-10-04T13:21:00+09:00"},"detailedRecentEvent":{"startDate":"2022-06-08T19:30:00+09:00","endDate":"2022-06-08T19:57:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHK総合テレビジョン","url":"https://dev-api.nr.nhk.jp/r6/t/broadcastservice/bs/g1.json","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_m.png","width":640,"height":360},"eyecatchLarge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_l.png","width":1280,"height":720},"eyecatch":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch.png","width":1920,"height":1080},"heroMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero_m.png","width":1080,"height":360},"hero":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero.png","width":1920,"height":640},"logoSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_s.png","width":200,"height":200},"logoMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_m.png","width":640,"height":640},"logo":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo.png","width":1080,"height":1080}},"identifierGroup":{"serviceId":"g1","serviceName":"NHK総合1","shortenedName":"NHK総合1","shortenedDisplayName":"総合"}}},"keyvisuals":[{"small":{"url":"https://www.nhk.or.jp/pr-image/6be77410aa3ee470e6e6f3889d06b461_s.jpg","width":640,"height":360},"large":{"url":"https://www.nhk.or.jp/pr-image/6be77410aa3ee470e6e6f3889d06b461_l.jpg","width":800,"height":450},"xlarge":{"url":"https://www.nhk.or.jp/pr-image/6be77410aa3ee470e6e6f3889d06b461_ll.jpg","width":1024,"height":576},"caption":"","description":""},{"small":{"url":"https://www.nhk.or.jp/pr-image/e3f81a5e43afa0a621e7a362418966be_s.jpg","width":640,"height":360},"large":{"url":"https://www.nhk.or.jp/pr-image/e3f81a5e43afa0a621e7a362418966be_l.jpg","width":800,"height":450},"xlarge":{"url":"https://www.nhk.or.jp/pr-image/e3f81a5e43afa0a621e7a362418966be_ll.jpg","width":1024,"height":576},"caption":"","description":""},{"small":{"url":"https://www.nhk.or.jp/pr-image/4b9184ccdd56e314890bc36af0eb919b_s.jpg","width":640,"height":360},"large":{"url":"https://www.nhk.or.jp/pr-image/4b9184ccdd56e314890bc36af0eb919b_l.jpg","width":800,"height":450},"xlarge":{"url":"https://www.nhk.or.jp/pr-image/4b9184ccdd56e314890bc36af0eb919b_ll.jpg","width":1024,"height":576},"caption":"","description":"エストニア軍提供"},{"small":{"url":"https://www.nhk.or.jp/pr-image/7728b9a1ec4c0dcd3cbeedb4831d256f_s.jpg","width":640,"height":360},"large":{"url":"https://www.nhk.or.jp/pr-image/7728b9a1ec4c0dcd3cbeedb4831d256f_l.jpg","width":800,"height":450},"xlarge":{"url":"https://www.nhk.or.jp/pr-image/7728b9a1ec4c0dcd3cbeedb4831d256f_ll.jpg","width":1024,"height":576},"caption":"","description":""}],"videos":[{"name":"クローズアップ現代「ＮＡＴＯとロシア　“新たな攻防”の行方」","description":"ロシア軍によるウクライナ侵攻をきっかけに欧州の安全保障体制が激変している。軍事的中立を続けてきたフィンランドやスウェーデンがＮＡＴＯ加盟を申請。ロシアは強く反発し、新たな対立が生じている。そしてＮＡＴＯ各国からウクライナに送られる膨大な軍事支援。効果をあげる一方、行き過ぎるとロシアを追い詰めて取り返しのつかない事態を招くとの指摘も。ＮＡＴＯを巡る動きが世界と日本にどのような影響を及ぼすのかを探る。","url":"https://tools.media.nr.nhk.jp/player/player.html?stream_id=s1-130-2022060922493","embedUrl":"https://tools.media.nr.nhk.jp/player/embed.html?stream_id=s1-130-2022060922493","identifierGroup":{"environmentId":"okushibu","broadcastEventId":"s1-130-2022060922493","streamType":"vod"},"detailedContentStatus":{"environmentId":"okushibu","streamType":"vod","contentStatus":"ready"},"detailedContent":[{"name":"hls_widevine","contentUrl":"https://stream.media.nr.nhk.jp/s1/130/mp4cenc/2022060922493/master.m3u8","lowContentUrl":"https://stream.media.nr.nhk.jp/s1/130/mp4cenc/2022060922493/low.m3u8","encodingFormat":["video/mp4","vnd.apple.mpegURL"],"drmName":"widevine","drmLicense":"https://license.media.nr.nhk.jp/widevine/getLicense"},{"name":"hls_playready","contentUrl":"https://stream.media.nr.nhk.jp/s1/130/mp4cenc/2022060922493/master.m3u8","lowContentUrl":"https://stream.media.nr.nhk.jp/s1/130/mp4cenc/2022060922493/low.m3u8","encodingFormat":["video/mp4","vnd.apple.mpegURL"],"drmName":"playready","drmLicense":"https://license.media.nr.nhk.jp/playready/getLicense"},{"name":"hls_fairplay","contentUrl":"https://stream.media.nr.nhk.jp/s1/130/mp4cbcs/2022060922493/master.m3u8","lowContentUrl":"https://stream.media.nr.nhk.jp/s1/130/mp4cbcs/2022060922493/low.m3u8","encodingFormat":["video/mp4","vnd.apple.mpegURL"],"drmName":"fairplay","drmLicense":"https://license.media.nr.nhk.jp/fps/getLicense","drmCert":"https://license.media.nr.nhk.jp/fps/cert"},{"name":"hls_fmp4","contentUrl":"https://stream.media.nr.nhk.jp/s1/130/mp4/2022060922493/master.m3u8","lowContentUrl":"https://stream.media.nr.nhk.jp/s1/130/mp4/2022060922493/low.m3u8","encodingFormat":["video/mp4","vnd.apple.mpegURL"]},{"name":"hls","contentUrl":"https://stream.media.nr.nhk.jp/s1/130/ts/2022060922493/master.m3u8","lowContentUrl":"https://stream.media.nr.nhk.jp/s1/130/ts/2022060922493/low.m3u8","encodingFormat":["video/MP2T","vnd.apple.mpegURL"]},{"name":"download","contentUrl":"https://archive.media.nr.nhk.jp/s1/130/1/20220609/2022060922493.mp4","encodingFormat":["video/mp4"]}],"sprite":{"main":{"url":"https://archive.media.nr.nhk.jp/s1/130/sprite/20220609/2022060922493-sprite.jpg","width":3200,"height":1080,"indices":[0,1711],"tileWidth":320,"tileHeight":180,"tileWidthSize":10,"tileHeightSize":6,"tileDuration":29}}},{"name":"クローズアップ現代「ＮＡＴＯとロシア　“新たな攻防”の行方」","description":"ロシア軍によるウクライナ侵攻をきっかけに欧州の安全保障体制が激変している。軍事的中立を続けてきたフィンランドやスウェーデンがＮＡＴＯ加盟を申請。ロシアは強く反発し、新たな対立が生じている。そしてＮＡＴＯ各国からウクライナに送られる膨大な軍事支援。効果をあげる一方、行き過ぎるとロシアを追い詰めて取り返しのつかない事態を招くとの指摘も。ＮＡＴＯを巡る動きが世界と日本にどのような影響を及ぼすのかを探る。","url":"https://tools.media.nr.nhk.jp/player/player.html?stream_id=g1-130-2022060821989","embedUrl":"https://tools.media.nr.nhk.jp/player/embed.html?stream_id=g1-130-2022060821989","identifierGroup":{"environmentId":"okushibu","broadcast[...]
