---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/ll/bundle/ts/R7Y6NGLJ6G/types.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cd9aa19"'
      etag:
      - '"72-vOJfxsvfeFp1K0qWQyw/IPymChI"'
    body:
      encoding: UTF-8
      string: '{"tvepisode":{"count":379},"event":{"count":29},"faqpage":{"count":21},"howto":{"count":31},"recipe":{"count":17}}'
  recorded_at: Wed, 17 Aug 2022 09:34:49 GMT
recorded_with: VCR 6.1.0
