---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/t/tvseries/ts/R7Y6NGLJ6G.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cd9aa19"'
      etag:
      - W/"5613-dHMcS4mgCv3T/PTXDPUwWXvH4x8"
    body:
      encoding: UTF-8
      string: "{\"type\":\"TVSeries\",\"id\":\"R7Y6NGLJ6G\",\"name\":\"クローズアップ現代\",\"detailedSeriesNameRuby\":\"くろーずあっぷげんだい\",\"identifierGroup\":{\"tvSeriesId\":\"R7Y6NGLJ6G\",\"tvSeriesName\":\"クローズアップ現代\",\"hashtag\":[],\"serviceId\":[\"g1\",\"g2\",\"s1\",\"s2\"],\"aliasId\":\"gendai\",\"mediaAssetUrls\":[\"https://movie-a.nhk.or.jp/json/R7Y6NGLJ6G.json\"]},\"identifierGroupEx\":{\"tvSeriesGroupId\":\"4Y6ZLM519P\",\"tvSeriesGroupName\":\"クローズアップ現代\",\"tvSeriesNameTemp\":\"クローズアップ現代\"},\"keywords\":[],\"description\":\"「クローズアップ現代」は1993年放送開始の報道番組です。政治経済の動きから、独自の調査報道、暮らしに直結する身近な話題やトレンドまで。幅広いテーマを、徹底した現場取材で掘り下げます。2022年度からは放送時間が夜7時半に変更し、毎週月・火・水放送に。キャスターは桑子真帆アナウンサー。\",\"detailedCatch\":\"”心に刺さるジャーナリズム”\",\"style\":{\"textLight\":\"#000000\",\"textDark\":\"#FFFFFF\",\"linkLight\":\"#975F5F\",\"linkDark\":\"#A97A7A\",\"primaryLight\":\"#975F5F\",\"primaryDark\":\"#975F5F\"},\"dateCreated\":\"2021-07-09T10:45:37+09:00\",\"dateModified\":\"2022-07-06T15:32:20+09:00\",\"actors\":[{\"person\":{\"roleName\":\"actor\",\"name\":\"１\",\"detailedNameRuby\":\"\",\"occupationName\":\"\",\"image\":{\"main\":{\"url\":\"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/R7Y6NGLJ6G/R7Y6NGLJ6G-person_0fee79a16524199981ce1a70467ca83b.png\",\"width\":1080,\"height\":1080},\"medium\":{\"url\":\"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/R7Y6NGLJ6G/R7Y6NGLJ6G-person_7d1559265a3b6eccc29e0fda83ed6916.png\",\"width\":640,\"height\":640},\"small\":{\"url\":\"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/R7Y6NGLJ6G/R7Y6NGLJ6G-person_621d8d3d1542d56d5514baec466fd2c8.png\",\"width\":200,\"height\":200}},\"characterName\":\"１\",\"detailedCharacterNameRuby\":\"\",\"detailedCharacterCopy\":\"\",\"description\":\"\"}},{\"person\":{\"roleName\":\"actor\",\"name\":\"２\",\"detailedNameRuby\":\"\",\"occupationName\":\"\",\"image\":{\"main\":{\"url\":\"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/R7Y6NGLJ6G/R7Y6NGLJ6G-person_e9320bfddf9bcd5974acfcede890d544.png\",\"width\":1080,\"height\":1080},\"medium\":{\"url\":\"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/R7Y6NGLJ6G/R7Y6NGLJ6G-person_39020da8c03c4189802bf0948992cb21.png\",\"width\":640,\"height\":640},\"small\[...]
