.how_to {
  position: relative;
  margin-right: 20px;
}

.how_to__input {
  padding-left: 38px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M501.1 395.7L384 278.6c-23.1-23.1-57.6-27.6-85.4-13.9L192 158.1V96L64 0 0 64l96 128h62.1l106.6 106.6c-13.6 27.8-9.2 62.3 13.9 85.4l117.1 117.1c14.6 14.6 38.2 14.6 52.7 0l52.7-52.7c14.5-14.6 14.5-38.2 0-52.7zM331.7 225c28.3 0 54.9 11 74.9 31l19.4 19.4c15.8-6.9 30.8-16.5 43.8-29.5 37.1-37.1 49.7-89.3 37.9-136.7-2.2-9-13.5-12.1-20.1-5.5l-74.4 74.4-67.9-11.3L334 98.9l74.4-74.4c6.6-6.6 3.4-17.9-5.7-20.2-47.4-11.7-99.6.9-136.6 37.9-28.5 28.5-41.9 66.1-41.2 103.6l82.1 82.1c8.1-1.9 16.5-2.9 24.7-2.9zm-103.9 82l-56.7-56.7L18.7 402.8c-25 25-25 65.5 0 90.5s65.5 25 90.5 0l123.6-123.6c-7.6-19.9-9.9-41.6-5-62.7zM64 472c-13.2 0-24-10.8-24-24 0-13.3 10.7-24 24-24s24 10.7 24 24c0 13.2-10.7 24-24 24z' fill='rgba(0, 0, 0, 0.6)' transform='translate(-3.667 -2.7)'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.how_to__input-holder {
  position: relative;
}

.how_to__input-holder--error .how_to__input {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M501.1 395.7L384 278.6c-23.1-23.1-57.6-27.6-85.4-13.9L192 158.1V96L64 0 0 64l96 128h62.1l106.6 106.6c-13.6 27.8-9.2 62.3 13.9 85.4l117.1 117.1c14.6 14.6 38.2 14.6 52.7 0l52.7-52.7c14.5-14.6 14.5-38.2 0-52.7zM331.7 225c28.3 0 54.9 11 74.9 31l19.4 19.4c15.8-6.9 30.8-16.5 43.8-29.5 37.1-37.1 49.7-89.3 37.9-136.7-2.2-9-13.5-12.1-20.1-5.5l-74.4 74.4-67.9-11.3L334 98.9l74.4-74.4c6.6-6.6 3.4-17.9-5.7-20.2-47.4-11.7-99.6.9-136.6 37.9-28.5 28.5-41.9 66.1-41.2 103.6l82.1 82.1c8.1-1.9 16.5-2.9 24.7-2.9zm-103.9 82l-56.7-56.7L18.7 402.8c-25 25-25 65.5 0 90.5s65.5 25 90.5 0l123.6-123.6c-7.6-19.9-9.9-41.6-5-62.7zM64 472c-13.2 0-24-10.8-24-24 0-13.3 10.7-24 24-24s24 10.7 24 24c0 13.2-10.7 24-24 24z' fill='rgb(224, 147, 147)' transform='translate(-3.667 -2.7)'/%3E%3C/svg%3E%0A");
  background-color: #fff3f6;
  border-color: #f3e0e0;
  color: #a95a5a;
  box-shadow: inset 0 1px 3px 0 rgba(146, 62, 62, 0.05);
}

.how_to__input[contentEditable="true"][data-placeholder] {
  &::before {
    position: absolute;
    content: attr(data-placeholder);
    color: #707684;
    font-weight: normal;
    opacity: 0;
  }

  &:empty {
    &::before {
      opacity: 1;
    }

    &:focus::before {
      opacity: 0;
    }
  }
}

.how_to__progress {
  position: absolute;
  box-shadow: inset 0 1px 3px 0 rgba(102, 85, 107, 0.04);
  height: 100%;
  width: 0;
  background-color: #f4f5f7;
  z-index: -1;
}

.how_to__progress--loading {
  animation: progress 500ms ease-in;
  -webkit-animation: progress 500ms ease-in;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.how_to__progress--loaded {
  width: 100%;
}

.how_to__content {
  display: block;
  border-radius: 2px;
  box-shadow: 0 0 0 2px #fff;
  color: initial !important;
  text-decoration: none !important;

  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.how_to__content--rendered {
  background: #fff;
  border: 1px solid rgba(201, 201, 204, 0.48);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  will-change: filter;
  animation: link-in 450ms 1 cubic-bezier(0.215, 0.61, 0.355, 1);

  &:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  }
}

.how_to__image {
  img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 16px 0 0;
    width: 29%;
    height: auto;
    border-radius: 3px;
    float: left;
  }

  div {
    width: 150px;
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    font-size: 13px;
    padding: 5px;
    top: 128px;
  }
}

.how_to__title {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.5em;
  margin: 8px 0 10px 0;
  float: left;
  width: 65%;

  img {
    width: 30px;
    margin-left: 8px;
  }
}

p.how_to__description {
  margin: 0 0 8px 0 !important;
  font-size: 15px;
  line-height: 1.55em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 40%;
  height: 63px;
  float: left;
  position: relative;
}

.how_to__episode_info {
  p {
    float: left;
    margin-left: 24px;
    font-size: 0.85em;
    margin-bottom: 8px !important;
    width: 25%;
  }
}

.how_to__anchor {
  display: block;
  font-size: 15px;
  line-height: 1em;
  color: #888 !important;
  border: 0 !important;
  padding: 0 !important;
  float: left;
}

@keyframes link-in {
  from {
    filter: blur(5px);
  }

  to {
    filter: none;
  }
}

.codex-editor--narrow .how_to__image {
  display: none;
}

@keyframes progress {
  0% {
    width: 0;
  }

  100% {
    width: 85%;
  }
}

@-webkit-keyframes progress {
  0% {
    width: 0;
  }

  100% {
    width: 85%;
  }
}
