---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/7WVY258P7G.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"7f32e09"'
      etag:
      - W/"40b6-OGUTzqoye3FrTw6RgSUJ+cuTNT8"
    body:
      encoding: UTF-8
      string: '{"type":"TVEpisode","id":"7WVY258P7G","name":"「緊迫ウクライナ▽迫る首都侵攻の脅威▽市民たちはいま」","identifierGroup":{"episodeId":"7WVY258P7G","tvEpisodeId":"7WVY258P7G","seriesId":"R7Y6NGLJ6G","tvSeriesId":"R7Y6NGLJ6G","episodeName":"「緊迫ウクライナ▽迫る首都侵攻の脅威▽市民たちはいま」","tvEpisodeName":"「緊迫ウクライナ▽迫る首都侵攻の脅威▽市民たちはいま」","seriesName":"クローズアップ現代","tvSeriesName":"クローズアップ現代","seriesNameOriginal":"クローズアップ現代+","tvSeriesNameOriginal":"クローズアップ現代+","hashtag":[],"serviceId":["g1","g2","s1","s2"],"aliasId":"gendai","formatGenreTag":[{"id":"01","name":"報道"}]},"keywords":[],"description":"ロシア軍による大規模侵攻の脅威にさらされるウクライナの首都キエフ。市民たちから私たちに届けられた映像には、命がけのメッセージが刻まれていた。最新報告。","dateCreated":"2022-01-31T19:13:36+09:00","dateModified":"2022-04-08T10:27:09+09:00","actors":[],"contributors":[],"partOfSeries":{"id":"R7Y6NGLJ6G","name":"クローズアップ現代","detailedSeriesNameRuby":"くろーずあっぷげんだい","identifierGroup":{"seriesId":"R7Y6NGLJ6G","tvSeriesId":"R7Y6NGLJ6G","seriesName":"クローズアップ現代","tvSeriesName":"クローズアップ現代","hashtag":[],"serviceId":["g1","g2","s1","s2"],"aliasId":"gendai"},"url":"https://dev-www.nhk.jp/p/ts/R7Y6NGLJ6G/","description":"「クローズアップ現代」は1993年放送開始の報道番組です。政治経済の動きから、独自の調査報道、暮らしに直結する身近な話題やトレンドまで。幅広いテーマを、徹底した現場取材で掘り下げます。2022年度からは放送時間が夜7時半に変更し、毎週月・火・水放送に。キャスターは桑子真帆アナウンサー。","detailedCatch":"”心に刺さるジャーナリズム”","logo":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/R7Y6NGLJ6G/R7Y6NGLJ6G-logo_9f295a1edc8ae349847106bde54e42da.jpg","width":1080,"height":1080},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/R7Y6NGLJ6G/R7Y6NGLJ6G-logo_1e8ef1d198de83eaf607586da3e35357.jpg","width":640,"height":640}},"eyecatch":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/R7Y6NGLJ6G/R7Y6NGLJ6G-eyecatch_3d7d41373aaaabc41cea8a9c71ea145c.jpg","width":1920,"height":1080},"tver":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/R7Y6NGLJ6G/R7Y6NGLJ6G-eyecatch_16dd6fbfd2a8dcc365982a54b5471300.jpg","width":928,"height":522},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/R7Y6NGLJ6G/R7Y6NGLJ6G-eyecatch_dd80b37c321ec7e4849aeddfb0a108ac.jpg","width":640,"height":360}},"hero":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/R7Y6NGLJ6G/R7Y6NGLJ6G-hero_cd6ce455714ef9787ce849b1c51ac2ce.jpg","width":1920,"height":640},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/R7Y6NGLJ6G/R7Y6NGLJ6G-hero_125ea560433196f5e6c318f88cc21e35.jpg","width":1080,"height":360}},"style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#975F5F","linkDark":"#A97A7A","primaryLight":"#975F5F","primaryDark":"#975F5F"},"additionalProperty":{"publishLevel":"full","layoutPattern":"summary","episodeOrder":"releasedEvent","availableOnPlus":false,"enableVariablePlayBackSpeedControl":false,"optional":[],"seriesPackStatus":"notPacked"}},"releasedEvent":{"id":"g1-130-2022031501184","startDate":"2022-03-15T19:30:00+09:00","endDate":"2022-03-15T19:57:00+09:00","publishedOn":{"type":"BroadcastService","id":"bs-g1-130","name":"NHK総合テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_m.png","width":640,"height":360},"eyecatchLarge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_l.png","width":1280,"height":720},"eyecatch":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch.png","width":1920,"height":1080},"hero":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero.png","width":1080,"height":360},"heroMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero_m.png","width":1920,"height":640},"logoSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_s.png","width":200,"height":200},"logoMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_m.png","width":640,"height":640},"logo":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo.png","width":1080,"height":1080}},"identifierGroup":{"serviceId":"g1","serviceName":"NHK総合1","shortenedName":"NHK総合1","shortenedDisplayName":"総合"}}},"detailedRecentEvent":{"id":"g1-130-2022031501184","startDate":"2022-03-15T19:30:00+09:00","endDate":"2022-03-15T19:57:00+09:00","publishedOn":{"type":"BroadcastService","id":"bs-g1-130","name":"NHK総合テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge.png","width[...]
