---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/tvepisode/ts/11P91YWWL4.json?extendedEntities=true&ignoreRange=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"51e0482"'
      etag:
      - W/"1d18-+Mhzv9jL76vXWejfiZx9JWv6WcQ"
    body:
      encoding: UTF-8
      string: '{"result":[{"type":"TVEpisode","id":"8QY71RJXYQ","name":"「テーマ曲アーティストも豪華!テーマ曲版編」","identifierGroup":{"tvEpisodeId":"8QY71RJXYQ","tvSeriesId":"11P91YWWL4","tvEpisodeName":"「テーマ曲アーティストも豪華!テーマ曲版編」","tvSeriesName":"豪華なラインナップでパラスポーツを彩る「アニ×パラ」!","hashtag":[],"serviceId":["s1","s2"],"formatGenreTag":[{"id":"04","name":"アニメ"}],"themeGenreTag":[{"id":"024","name":"国際大会"},{"id":"071","name":"国内ポップス"},{"id":"041","name":"国内アニメ"}]},"identifierGroupEx":{"tvSeriesGroupId":"E64Z8V3VNN","tvSeriesGroupName":"豪華なラインナップでパラスポーツを彩る「アニ×パラ」!","tvEpisodeNameTemp":"「テーマ曲アーティストも豪華!テーマ曲版編」","tvSeriesNameTemp":"豪華なラインナップでパラスポーツを彩る「アニ×パラ」!","releasedEventServiceIdTemp":"s1","releasedEventStartDateTemp":"2020-02-12T15:42:00+09:00","releasedEventEndDateTemp":"2020-02-12T15:44:00+09:00"},"keywords":[],"description":"パラスポーツをアニメで描くプロジェクト「アニ×パラ」。エピソードごとに人気アーティストがテーマ曲を制作。アスリートとアーティストが登場するテーマ曲版をまとめて！","dateCreated":"2019-10-28T11:16:54+09:00","dateModified":"2021-05-11T13:10:10+09:00","actors":[],"contributors":[],"partOfSeries":{"id":"11P91YWWL4","name":"豪華なラインナップでパラスポーツを彩る「アニ×パラ」!","identifierGroup":{"tvSeriesId":"11P91YWWL4","tvSeriesName":"豪華なラインナップでパラスポーツを彩る「アニ×パラ」!","hashtag":[],"serviceId":["s1","s2"]},"identifierGroupEx":{"tvSeriesGroupId":"E64Z8V3VNN","tvSeriesGroupName":"豪華なラインナップでパラスポーツを彩る「アニ×パラ」!","tvSeriesNameTemp":"豪華なラインナップでパラスポーツを彩る「アニ×パラ」!"},"url":"https://dev-api.nr.nhk.jp/r6/t/tvseries/ts/11P91YWWL4.json","canonical":"https://dev-www.nhk.jp/p/ts/11P91YWWL4/","description":"","logo":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/11P91YWWL4/11P91YWWL4-logo_72e39899b8044e8ddde2761be7eaf69e.jpg","width":1080,"height":1080},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/11P91YWWL4/11P91YWWL4-logo_b7ba0d83e92d7624d591f961c2899b0a.jpg","width":640,"height":640}},"eyecatch":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/11P91YWWL4/11P91YWWL4-eyecatch_0611ab682d9dafe54695c3f76e0d98c7.jpg","width":1920,"height":1080},"tver":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/11P91YWWL4/11P91YWWL4-eyecatch_3cf4d643c22907ad893ef8a60674f0bf.jpg","width":928,"height":522},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/11P91YWWL4/11P91YWWL4-eyecatch_927ebe547faf94ab4872088ecfe3a0a4.jpg","width":640,"height":360}},"hero":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/11P91YWWL4/11P91YWWL4-hero_f569f7dfb624a478a4e818b1b7243eea.jpg","width":1920,"height":640},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/11P91YWWL4/11P91YWWL4-hero_86d96ff6e63c80a6252afeeb5c8697c2.jpg","width":1080,"height":360}},"style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#9E6D00","linkDark":"#F6AA00","primaryLight":"#C68900","primaryDark":"#F6AA00"},"additionalProperty":{"publishLevel":"full","layoutPattern":"summary","episodeOrderBy":"releasedEvent","availableOnPlus":false,"enableVariablePlayBackSpeedControl":false,"optional":[],"seriesPackStatus":"notPacked"}},"releasedEvent":{"startDate":"2020-02-12T15:42:00+09:00","endDate":"2020-02-12T15:44:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHKBS1","url":"https://dev-api.nr.nhk.jp/r6/t/broadcastservice/bs/s1.json","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/s1/s1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/s1/s1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/s1/s1-eyecatch_m.png","width":640,"height":360},"eyecatchLarge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/s1/s1-eyecatch_l.png","width":1280,"height":720},"eyecatch":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/s1/s1-eyecatch.png","width":1920,"height":1080},"heroMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/s1/s1-hero_m.png","width":1080,"height":360},"hero":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/s1/s1-hero.png","width":1920,"height":640},"logoSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/s1/s1-logo_s.png","width":200,"height":200},"logoMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/s1/s1-logo_m.png","width":640,"height":640},"logo":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/s1/s1-logo.png","width":1080,"height":1080}},"identifierGroup":{"serviceId":"s1","serviceName":"NHKBS1","shortenedName":"NHKBS1","shortenedDisplayName":"BS1"}}},"detailedRecentEvent":{"startDate":"2021-05-10T16:16:00+09:00","endDate":"2021-05-10T16:18:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHKBS1","url":"https://dev-api.nr.nhk.jp/r6/t/broadcastservice/bs/s1.json","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/s1/s1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/s1/s1-[...]
