---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/tvepisode/ts/1V1PJ9L5JN.json?extendedEntities=true&ignoreRange=false&isFuzzy=true&offset=0&order=desc&orderBy=recentEvent&size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cce2ef3"'
      etag:
      - W/"10906-sKSdQKF26qxD4zrOxeAZ4WKYv1w"
    body:
      encoding: UTF-8
      string: '{"result":[{"type":"TVEpisode","id":"KV6Z2W53MQ","name":"2020年3月27日午前7時","identifierGroup":{"episodeId":"KV6Z2W53MQ","tvEpisodeId":"KV6Z2W53MQ","seriesId":"1V1PJ9L5JN","tvSeriesId":"1V1PJ9L5JN","episodeName":"2020年3月27日午前7時","tvEpisodeName":"2020年3月27日午前7時","seriesName":"おはよう山口","tvSeriesName":"おはよう山口","hashtag":[],"serviceId":["g1","g2"],"formatGenreTag":[{"id":"01","name":"報道"}],"themeGenreTag":[{"id":"014","name":"地域"}]},"identifierGroupEx":{"seriesGroupId":"5R291K485M","tvSeriesGroupId":"5R291K485M","seriesGroupName":"おはよう山口","tvSeriesGroupName":"おはよう山口","episodeNameTemp":"2020年3月27日午前7時","tvEpisodeNameTemp":"2020年3月27日午前7時","seriesNameTemp":"おはよう山口","tvSeriesNameTemp":"おはよう山口","releasedEventServiceIdTemp":"g1","releasedEventStartDateTemp":"2020-03-27T07:45:00+09:00","releasedEventEndDateTemp":"2020-03-27T08:00:00+09:00"},"keywords":[],"description":"▽ニュース・気象情報","dateCreated":"2020-03-13T15:37:52+09:00","dateModified":"2020-03-20T22:35:42+09:00","actors":[],"contributors":[],"partOfSeries":{"id":"1V1PJ9L5JN","name":"おはよう山口","identifierGroup":{"seriesId":"1V1PJ9L5JN","tvSeriesId":"1V1PJ9L5JN","seriesName":"おはよう山口","tvSeriesName":"おはよう山口","hashtag":[],"serviceId":["g1","g2"]},"identifierGroupEx":{"seriesGroupId":"5R291K485M","tvSeriesGroupId":"5R291K485M","seriesGroupName":"おはよう山口","tvSeriesGroupName":"おはよう山口","seriesNameTemp":"おはよう山口","tvSeriesNameTemp":"おはよう山口"},"url":"https://dev-www.nhk.jp/p/ts/1V1PJ9L5JN/","canonical":"https://dev-www.nhk.jp/p/ts/1V1PJ9L5JN/","description":"","logo":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/1V1PJ9L5JN/1V1PJ9L5JN-logo_3050ceb57a5ca8d0846f16aba925837c.jpg","width":1080,"height":1080},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/1V1PJ9L5JN/1V1PJ9L5JN-logo_32654f081f7ba3ddf7f817bf08ff385d.jpg","width":640,"height":640}},"eyecatch":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/1V1PJ9L5JN/1V1PJ9L5JN-eyecatch_67292f40aff28ae00c27d446c45fb8e5.jpg","width":1920,"height":1080},"tver":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/1V1PJ9L5JN/1V1PJ9L5JN-eyecatch_bca1809300b769cc8a10dcfd79146a7a.jpg","width":928,"height":522},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/1V1PJ9L5JN/1V1PJ9L5JN-eyecatch_5903de68a0b8ffc34b97cfbe37591826.jpg","width":640,"height":360}},"hero":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/1V1PJ9L5JN/1V1PJ9L5JN-hero_a44b762bf4cef93a85cb7df5d7d85cbe.jpg","width":1920,"height":640},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/1V1PJ9L5JN/1V1PJ9L5JN-hero_d1bf7323e53f34d57dc9f4ce88cd49e9.jpg","width":1080,"height":360}},"style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#E72400","linkDark":"#FF4928","primaryLight":"#FF2800","primaryDark":"#FF2800"},"additionalProperty":{"publishLevel":"full","layoutPattern":"summary","episodeOrderBy":"releasedEvent","availableOnPlus":false,"enableVariablePlayBackSpeedControl":false,"optional":[],"seriesPackStatus":"notPacked"}},"releasedEvent":{"startDate":"2020-03-27T07:45:00+09:00","endDate":"2020-03-27T08:00:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHK総合テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_m.png","width":640,"height":360},"eyecatchLarge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_l.png","width":1280,"height":720},"eyecatch":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch.png","width":1920,"height":1080},"heroMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero_m.png","width":1080,"height":360},"hero":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero.png","width":1920,"height":640},"logoSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_s.png","width":200,"height":200},"logoMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_m.png","width":640,"height":640},"logo":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo.png","width":1080,"height":1080}},"identifierGroup":{"serviceId":"g1","serviceName":"NHK総合1","shortenedName":"NHK総合1","shortenedDisplayName":"総合"}}},"detailedRecentEvent":{"startDate":"2020-03-27T07:45:00+09:00","endDate":"2020-03-27T08:00:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHK総合テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"[...]
