---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/tvepisode/ts/5NVVN1G5PJ.json?extendedEntities=true&ignoreRange=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"60d811f"'
      etag:
      - '"71-SaiYI0QWr8tXdvUHfFwXvoCXDWI"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid SeriesId.","requestId":"Root=1-626671c6-61275610182819a72b4fe21c"}}'
  recorded_at: Mon, 25 Apr 2022 10:02:47 GMT
recorded_with: VCR 6.0.0
