---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/s/extended.json?extendedEntities=true&ignoreRange=true&isFuzzy=true&offset=0&order=desc&orderBy=score&size=10&type=tvseries&word=expected+no+search+results
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"067172d"'
      etag:
      - '"1bd-iZifD3N03+ITVH08g1UC5h8sVGg"'
    body:
      encoding: UTF-8
      string: '{"result":{"tvseries":{"result":[],"resultUrl":"https://dev-api.nr.nhk.jp/r6/s/extended.json?type=tvseries&word=expected+no+search+results&orderBy=score&order=desc&isFuzzy=true&offset=0&size=10&ignoreRange=true&extendedEntities=true","count":0}},"resultUrl":"https://dev-api.nr.nhk.jp/r6/s/extended.json?type=tvseries&word=expected+no+search+results&orderBy=score&order=desc&isFuzzy=true&offset=0&size=10&ignoreRange=true&extendedEntities=true"}'
  recorded_at: Mon, 16 May 2022 06:37:39 GMT
recorded_with: VCR 6.0.0
