---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/s/extended.json?extendedEntities=true&ignoreRange=true&offset=0&publishLevel=notyet%2Cready%2Cfull%2Climited%2Cgone&size=10&type=tvseries&word=%E3%82%AB%E3%83%A0%E3%82%AB%E3%83%A0%E3%82%A8%E3%83%B4%E3%83%AA%E3%83%90%E3%83%87%E3%82%A3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - W/"7bdf-PkgvuxXdp8f090gQ75SrhjjLBvs"
    body:
      encoding: UTF-8
      string: '{"result":{"tvseries":{"result":[{"type":"TVSeries","id":"MPG92VPRXY","name":"「カムカムエヴリバディ」いよいよ
        ひなた編!","identifierGroup":{"seriesId":"MPG92VPRXY","tvSeriesId":"MPG92VPRXY","seriesName":"「カムカムエヴリバディ」いよいよ
        ひなた編!","tvSeriesName":"「カムカムエヴリバディ」いよいよ ひなた編!","hashtag":[],"serviceId":["g1","g2"]},"identifierGroupEx":{"seriesGroupId":"J8QRLM7P7J","tvSeriesGroupId":"J8QRLM7P7J","seriesGroupName":"「カムカムエヴリバディ」いよいよ
        ひなた編!","tvSeriesGroupName":"「カムカムエヴリバディ」いよいよ ひなた編!","seriesNameTemp":"「カムカムエヴリバディ」いよいよ
        ひなた編!","tvSeriesNameTemp":"「カムカムエヴリバディ」いよいよ ひなた編!"},"keywords":[],"description":"「カムカムエヴリバディ」いよいよ
        ひなた編!\n2022年2月6日放送開始（予定）の番組シリーズです","style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#9E6D00","linkDark":"#F6AA00","primaryLight":"#C68900","primaryDark":"#F6AA00"},"dateCreated":"2022-02-04T15:21:37+09:00","dateModified":"2022-04-19T14:35:13+09:00","actors":[],"contributors":[],"logo":{"main":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/MPG92VPRXY/MPG92VPRXY-logo_5f85afd2504635d84e9e38f5e4b5a9f2.jpg","width":1080,"height":1080},"medium":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/MPG92VPRXY/MPG92VPRXY-logo_bd02c4ff08e483d60285dc5572288465.jpg","width":640,"height":640}},"eyecatch":{"main":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/MPG92VPRXY/MPG92VPRXY-eyecatch_7ece9af0d90879b67c3eb36ae63d1287.jpg","width":1920,"height":1080},"tver":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/MPG92VPRXY/MPG92VPRXY-eyecatch_a4265863d9689d22f635bacd60977b6d.jpg","width":928,"height":522},"medium":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/MPG92VPRXY/MPG92VPRXY-eyecatch_bfd4e6db0f779d97ba7343ffb5961923.jpg","width":640,"height":360}},"hero":{"main":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/MPG92VPRXY/MPG92VPRXY-hero_285f5a4935e3717ff9e04ee4c7561a83.jpg","width":1920,"height":640},"medium":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/MPG92VPRXY/MPG92VPRXY-hero_1b1c6679ed60dfd0b01c18bb50422a1b.jpg","width":1080,"height":360}},"videos":[],"releasedEvent":{},"citations":[],"detailedTimetable":[{"description":"","isRerun":false,"publishedOn":{"type":"BroadcastService","name":"NHK総合テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_m.png","width":640,"height":360},"eyecatchLarge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_l.png","width":1280,"height":720},"eyecatch":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch.png","width":1920,"height":1080},"heroMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero_m.png","width":1080,"height":360},"hero":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero.png","width":1920,"height":640},"logoSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_s.png","width":200,"height":200},"logoMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_m.png","width":640,"height":640},"logo":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo.png","width":1080,"height":1080}},"identifierGroup":{"serviceId":"g1","serviceName":"NHK総合1","shortenedName":"NHK総合1","shortenedDisplayName":"総合"}}},{"description":"","isRerun":false,"publishedOn":{"type":"BroadcastService","name":"NHK総合テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g2/g2-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g2/g2-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://dev-www.nhk.jp/assets/images/[...]
