---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/s/extended.json?contents_type=tvseries&extendedEntities=true&ignoreRange=true&isFuzzy=true&offset=0&order=desc&orderBy=score&size=10&type=tvseries&word=%E3%82%AB%E3%83%A0%E3%82%AB%E3%83%A0%E3%82%A8%E3%83%B4%E3%83%AA%E3%83%90%E3%83%87%E3%82%A3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cce2ef3"'
      etag:
      - W/"a845-GnJxW9QPYr0ziCFVuFWwsE6zg2I"
    body:
      encoding: UTF-8
      string: '{"result":{"tvseries":{"result":[{"type":"TVSeries","id":"8PMRWK3MGZ","name":"カムカムエヴリバディ","identifierGroup":{"seriesId":"8PMRWK3MGZ","tvSeriesId":"8PMRWK3MGZ","seriesName":"カムカムエヴリバディ","tvSeriesName":"カムカムエヴリバディ","hashtag":[],"serviceId":["g1","g2","s3"]},"identifierGroupEx":{"seriesGroupId":"61KMKMPLRL","tvSeriesGroupId":"61KMKMPLRL","seriesGroupName":"カムカムエヴリバディ","tvSeriesGroupName":"カムカムエヴリバディ","seriesNameTemp":"カムカムエヴリバディ","tvSeriesNameTemp":"カムカムエヴリバディ"},"keywords":[],"description":"","style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#B65B5D","linkDark":"#FF8082","primaryLight":"#E47374","primaryDark":"#FF8082"},"dateCreated":"2021-10-08T18:26:28+09:00","dateModified":"2022-04-19T14:35:02+09:00","actors":[],"contributors":[],"logo":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/8PMRWK3MGZ/8PMRWK3MGZ-logo_178fec9a212bcf299c32ccb292599da3.jpg","width":1080,"height":1080},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/8PMRWK3MGZ/8PMRWK3MGZ-logo_f7f47a5da0f3e60196d8f6694d92ce29.jpg","width":640,"height":640}},"eyecatch":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/8PMRWK3MGZ/8PMRWK3MGZ-eyecatch_0db401ce2db916eb12690f898114bd88.jpg","width":1920,"height":1080},"tver":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/8PMRWK3MGZ/8PMRWK3MGZ-eyecatch_041e804e7df466c4dc43d90a0e8bd81a.jpg","width":928,"height":522},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/8PMRWK3MGZ/8PMRWK3MGZ-eyecatch_6d5b2326e5a54018757033e7c2d85539.jpg","width":640,"height":360}},"hero":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/8PMRWK3MGZ/8PMRWK3MGZ-hero_3dc83e90b0d9d965e8eef48f1605812c.jpg","width":1920,"height":640},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/8PMRWK3MGZ/8PMRWK3MGZ-hero_1c64fa90ad3d10ec1132ef602c0b128e.jpg","width":1080,"height":360}},"videos":[],"releasedEvent":{},"citations":[],"detailedTimetable":[{"description":"","isRerun":false,"publishedOn":{"type":"BroadcastService","name":"NHK総合テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_m.png","width":640,"height":360},"eyecatchLarge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_l.png","width":1280,"height":720},"eyecatch":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch.png","width":1920,"height":1080},"heroMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero_m.png","width":1080,"height":360},"hero":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero.png","width":1920,"height":640},"logoSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_s.png","width":200,"height":200},"logoMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_m.png","width":640,"height":640},"logo":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo.png","width":1080,"height":1080}},"identifierGroup":{"serviceId":"g1","serviceName":"NHK総合1","shortenedName":"NHK総合1","shortenedDisplayName":"総合"}}},{"description":"","isRerun":false,"publishedOn":{"type":"BroadcastService","name":"NHK総合テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g2/g2-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g2/g2-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://dev-www.nhk.jp/assets/images/[...]
