---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/s/extended.json?extendedEntities=true&ignoreRange=true&offset=0&publishLevel=notyet%2Cready%2Cfull%2Climited%2Cgone&size=10&type=tvseries&word=expected+no+search+results
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"1c9-3XF6LrU71D4GXP4NJaTnTA+NVQQ"'
    body:
      encoding: UTF-8
      string: '{"result":{"tvseries":{"result":[],"resultUrl":"https://dev-api.nr.nhk.jp/r6/s/extended.json?type=tvseries&word=expected+no+search+results&publishLevel=notyet,ready,full,limited,gone&offset=0&size=10&ignoreRange=true&extendedEntities=true","count":0}},"resultUrl":"https://dev-api.nr.nhk.jp/r6/s/extended.json?type=tvseries&word=expected+no+search+results&publishLevel=notyet,ready,full,limited,gone&offset=0&size=10&ignoreRange=true&extendedEntities=true"}'
  recorded_at: Tue, 21 Jun 2022 05:40:54 GMT
recorded_with: VCR 6.1.0
