---
http_interactions:
- request:
    method: get
    uri: https://api.nr.nhk.jp/r6/l/tvepisode/ts/R71NJ4MV53.json?extendedEntities=true&ignoreRange=true&size=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"4a21643"'
      etag:
      - W/"201a-vr7DCOXfsRK2VHsEF4kHiwsHmxU"
    body:
      encoding: UTF-8
      string: '{"result":[{"type":"TVEpisode","id":"2L98RQJGLK","name":"(6)「最終話 #敵は本能寺にあり?」","identifierGroup":{"tvEpisodeId":"2L98RQJGLK","tvSeriesId":"R71NJ4MV53","tvEpisodeName":"(6)「最終話
        #敵は本能寺にあり?」","tvSeriesName":"光秀のスマホ","hashtag":[],"siteId":"6622","serviceId":["g1","g2"],"aliasId":"mitsuhide-smapho","formatGenreTag":[{"id":"03","name":"ドラマ"}],"themeGenreTag":[{"id":"031","name":"国内ドラマ"}]},"identifierGroupEx":{"tvSeriesGroupId":"VGKWQN2MP3","tvSeriesGroupName":"光秀のスマホ","tvEpisodeNameTemp":"(6)「最終話
        #敵は本能寺にあり?」","tvSeriesNameTemp":"光秀のスマホ","releasedEventServiceIdTemp":"g1","releasedEventStartDateTemp":"2022-05-17T02:36:00+09:00","releasedEventEndDateTemp":"2022-05-17T02:43:00+09:00"},"keywords":[],"description":"戦国時代劇×スマホ！ついに時はきた。安土城を出る信長をＳＮＳで補足。本能寺へのルートをＭＡＰアプリで検索！グループトークで家臣に一斉通知「敵は本能寺に…」！\n\n「秀吉の援軍しっかりな」信長からのメッセージに“御意スタンプ”を返す光秀。しかし、光秀のスマホのＭＡＰアプリが目的地として指し示すは…本能寺。信長を討つ心づもりを家臣に一斉送信する光秀。その通知に動揺する家臣たち。そして光秀の指は、あの名台詞をフリック入力していく。「敵は　本能寺に」…！！　果たして光秀は信長への謀反を成功させることができるのか。そして、そのとき秀吉がとった行動は！？","dateCreated":"2022-05-12T15:50:58+09:00","dateModified":"2022-05-12T15:54:38+09:00","actors":[],"contributors":[],"partOfSeries":{"id":"R71NJ4MV53","name":"光秀のスマホ","detailedSeriesNameRuby":"みつひでのすまほ","identifierGroup":{"tvSeriesId":"R71NJ4MV53","tvSeriesName":"光秀のスマホ","hashtag":[],"siteId":"6622","serviceId":["g1","g2"],"aliasId":"mitsuhide-smapho","formatGenre":[{"id":"03","name":"ドラマ"}],"mediaAssetUrls":["https://movie-a.nhk.or.jp/json/R71NJ4MV53.json"]},"identifierGroupEx":{"tvSeriesGroupId":"VGKWQN2MP3","tvSeriesGroupName":"光秀のスマホ","tvSeriesNameTemp":"光秀のスマホ"},"url":"https://api.nr.nhk.jp/r6/t/tvseries/ts/R71NJ4MV53.json","canonical":"https://www.nhk.jp/p/mitsuhide-smapho/ts/R71NJ4MV53/","description":"武将たちがスマホを駆使して群雄割拠する戦国時代。\r\n光秀のスマホに映し出される、信長からのパワハラ鬼電、秀吉とのし烈なフォロワー数争い、愛娘・玉とのスタンプでこぼれる本音…etc\r\nあの光秀の心の内がスマホ画面から明らかに！？\r\n（このドラマはフィクションです）","detailedCatch":"スマホを手放せない明智光秀が戦国時代を駆け抜ける！","logo":{"main":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/R71NJ4MV53/R71NJ4MV53-logo_018e21c8a5c55fe6c22b172bcb77c014.png","width":1080,"height":1080},"medium":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/R71NJ4MV53/R71NJ4MV53-logo_edc82efb39db4c6bf9f653c8ae676ec1.png","width":640,"height":640}},"eyecatch":{"main":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/R71NJ4MV53/R71NJ4MV53-eyecatch_cff86f26146bf229bee93988ff5623d5.png","width":1920,"height":1080},"tver":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/R71NJ4MV53/R71NJ4MV53-eyecatch_8262b42a1f98b0540340b16de887db7f.png","width":928,"height":522},"medium":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/R71NJ4MV53/R71NJ4MV53-eyecatch_847a792503528160178f8debf7ca2dd6.png","width":640,"height":360}},"hero":{"main":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/R71NJ4MV53/R71NJ4MV53-hero_94618a1f908469838fe8704ad3f8b697.png","width":1920,"height":640},"medium":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/R71NJ4MV53/R71NJ4MV53-hero_8fde904c7e4e8f4cdb35d30d0ed82be4.png","width":1080,"height":360}},"style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#307BA0","linkDark":"#4DC4FF","primaryLight":"#3D9BC9","primaryDark":"#4DC4FF"},"additionalProperty":{"publishLevel":"full","layoutPattern":"summary","episodeOrderBy":"releasedEvent","availableOnPlus":false,"enableVariablePlayBackSpeedControl":false,"optional":[],"seriesPackStatus":"notPacked"}},"releasedEvent":{"startDate":"2022-05-17T02:36:00+09:00","endDate":"2022-05-17T02:43:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHK総合テレビジョン","url":"https://api.nr.nhk.jp/r6/t/broadcastservice/bs/g1.json","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_m.png","width":640,"height":360},"eyecatchLarge":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_l.png","width":1280,"height":720},"eyecatch":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch.png","width":1920,"height":1080},"heroMedium":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero_m.png","width":1080,"height":360},"hero":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero.png","width":1920,"height":640},"logoSmall":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_s.png","width":200,"height":200},"logoMedium":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_m.png","width":640,"height":640},"logo":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo.png","width":1080,"height":1080}},"identifierGroup":{"serviceId":"g1","serviceName":"NHK総合1","shortenedName":"NHK総合1","shortenedDisplayName":"総合"}}},"detailedRecentEvent":{"startDate":"2022-05-17T02:36:00+09:00","endDate":"2022-05-17T02:43:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHK総合テレビジョン","url":"https://api.nr.nhk.jp/r6/t/broadcastservice/bs/g1.json","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge.p[...]
