---
http_interactions:
- request:
    method: get
    uri: https://api.nr.nhk.jp/r6/t/faqpage/id/49.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"13e-8t6xpwRSvbATWvSPAsPRS/J/tt0"'
    body:
      encoding: UTF-8
      string: '{"type":"FAQPage","id":"49","name":"このエピソードのよくあるご質問","questions":[],"identifierGroup":{"seriesId":"WJ9WG8YL24","episodeId":"JWLZP5RV7V"},"url":"https://www.nhk.jp/p/ts/WJ9WG8YL24/episode/te/JWLZP5RV7V/","dateCreated":"2020-03-27T14:15:24+09:00","dateModified":"2020-03-27T14:16:04+09:00"}'
  recorded_at: Tue, 07 Sep 2021 02:30:42 GMT
recorded_with: VCR 6.0.0
