---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/t/event/id/94.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"381-QWIGsdCbDwD4yEyGBnUA/GMg/1E"'
    body:
      encoding: UTF-8
      string: '{"type":"Event","id":"94","name":"水郷祭","description":"花火をたくさん打ち上げます","startDate":"2021-08-07T20:00:00+09:00","endDate":"2021-08-08T22:00:00+09:00","eventAttendanceMode":"offline","postalAddress":"島根県松江市ほげほげ","place":"宍道湖","eventStatus":"scheduled","image":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/event/te/GV711R4WQV/GV711R4WQV-eyecatch_6a0c631426747bd282cd63b8ef64a415.jpg","width":1920,"height":1080},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/event/te/GV711R4WQV/GV711R4WQV-eyecatch_c978b092cddd2495c9eef4ca5e288c56.jpg","width":640,"height":360}},"dateCreated":"2020-09-17T14:57:30+09:00","dateModified":"2021-04-07T14:47:09+09:00","identifierGroup":{"seriesId":"D4VPQVK78M","episodeId":"GV711R4WQV"},"undefinedSection":[],"offersSameAs":"","url":"https://dev-www.nhk.jp/p/ts/D4VPQVK78M/event/94/"}'
  recorded_at: Tue, 07 Sep 2021 02:30:42 GMT
recorded_with: VCR 6.0.0
