---
http_interactions:
- request:
    method: get
    uri: https://api.nr.nhk.jp/r6/l/tvepisode/ts/R71NJ4MV53.json?extendedEntities=true&ignoreRange=true&size=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1dd0-jKRXB+PgrleQbbq2ZxPNbhwypS8"
    body:
      encoding: UTF-8
      string: '{"result":[{"type":"TVEpisode","id":"B9VJ26Z7X4","name":"歳末の陣","identifierGroup":{"episodeId":"B9VJ26Z7X4","seriesId":"R71NJ4MV53","episodeName":"歳末の陣","seriesName":"光秀のスマホ","hashtag":[],"siteId":"6622","serviceId":["g1","g2"],"aliasId":"mitsuhide-smapho","formatGenreTag":[{"id":"03","name":"ドラマ"}],"themeGenreTag":[{"id":"031","name":"国内ドラマ"},{"id":"033","name":"時代劇"}]},"identifierGroupEx":{"seriesGroupId":"VGKWQN2MP3","seriesGroupName":"光秀のスマホ","episodeNameTemp":"歳末の陣","seriesNameTemp":"光秀のスマホ","releasedEventServiceIdTemp":"g1","releasedEventStartDateTemp":"2020-12-25T22:00:00+09:00","releasedEventEndDateTemp":"2020-12-25T22:48:00+09:00"},"keywords":[],"description":"ギャラクシー賞テレビ部門フロンティア賞受賞。明智光秀がスマホを駆使して戦国時代を駆け抜けるＳＦ時代劇の完全版。上司信長からの鬼電！同僚秀吉とのフォロワー争い。\n\n超バズった戦国ＳＦ時代劇が再出陣！信長と＜ＳＮＳで＞出会い、秀吉と＜フォロワー数で＞しのぎを削り、戦国時代を＜エゴサしながら＞駆け抜けた＜スマホ中毒＞明智光秀の一代記。ついに宿敵・秀吉のスマホ登場！なぜ光秀は本能寺の変をプランニングし、そこに秀吉はどうコミットしたのか！二人のスマホがすべてを知っている！日本史上最大の事件「本能寺の変」をスマホ画面のみで描く。","dateCreated":"2020-12-17T17:04:50+09:00","dateModified":"2021-05-24T00:31:19+09:00","actors":[],"contributors":[],"partOfSeries":{"id":"R71NJ4MV53","name":"光秀のスマホ","detailedSeriesNameRuby":"みつひでのすまほ","identifierGroup":{"seriesId":"R71NJ4MV53","seriesName":"光秀のスマホ","hashtag":[],"siteId":"6622","serviceId":["g1","g2"],"aliasId":"mitsuhide-smapho","formatGenre":[{"id":"03","name":"ドラマ"}],"mediaAssetUrls":["https://movie-a.nhk.or.jp/json/R71NJ4MV53.json"]},"identifierGroupEx":{"seriesGroupId":"VGKWQN2MP3","seriesGroupName":"光秀のスマホ","seriesNameTemp":"光秀のスマホ"},"url":"https://www.nhk.jp/p/ts/R71NJ4MV53/","description":"武将たちがスマホを駆使して群雄割拠する戦国時代。\r\n光秀のスマホに映し出される、信長からのパワハラ鬼電、秀吉とのし烈なフォロワー数争い、愛娘・玉とのスタンプでこぼれる本音…etc\r\nあの光秀の心の内がスマホ画面から明らかに！？\r\n（このドラマはフィクションです）","detailedCatch":"スマホを手放せない明智光秀が戦国時代を駆け抜ける！","logo":{"main":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/R71NJ4MV53/R71NJ4MV53-logo_018e21c8a5c55fe6c22b172bcb77c014.png","width":1080,"height":1080},"medium":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/R71NJ4MV53/R71NJ4MV53-logo_edc82efb39db4c6bf9f653c8ae676ec1.png","width":640,"height":640}},"eyecatch":{"main":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/R71NJ4MV53/R71NJ4MV53-eyecatch_cff86f26146bf229bee93988ff5623d5.png","width":1920,"height":1080},"tver":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/R71NJ4MV53/R71NJ4MV53-eyecatch_8262b42a1f98b0540340b16de887db7f.png","width":928,"height":522},"medium":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/R71NJ4MV53/R71NJ4MV53-eyecatch_847a792503528160178f8debf7ca2dd6.png","width":640,"height":360}},"hero":{"main":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/R71NJ4MV53/R71NJ4MV53-hero_94618a1f908469838fe8704ad3f8b697.png","width":1920,"height":640},"medium":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/R71NJ4MV53/R71NJ4MV53-hero_8fde904c7e4e8f4cdb35d30d0ed82be4.png","width":1080,"height":360}},"style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#307BA0","linkDark":"#4DC4FF","primaryLight":"#3D9BC9","primaryDark":"#4DC4FF"},"additionalProperty":{"publishLevel":"full","layoutPattern":"summary","episodeOrder":"releasedEvent","availableOnPlus":false,"enableVariablePlayBackSpeedControl":false,"optional":[]}},"releasedEvent":{"startDate":"2020-12-25T22:00:00+09:00","endDate":"2020-12-25T22:48:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHK総合テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_m.png","width":640,"height":360},"eyecatchLarge":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_l.png","width":1280,"height":720},"eyecatch":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch.png","width":1920,"height":1080},"hero":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero.png","width":1080,"height":360},"heroMedium":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero_m.png","width":1920,"height":640},"logoSmall":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_s.png","width":200,"height":200},"logoMedium":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_m.png","width":640,"height":640},"logo":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo.png","width":1080,"height":1080}},"identifierGroup":{"serviceId":"g1","serviceName":"NHK総合1","shortenedName":"NHK総合1","shortenedDisplayName":"総合"}}},"detailedRecentEvent":{"startDate":"2021-05-23T02:05:00+09:00","endDate":"2021-05-23T02:53:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHK総合テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://[...]
