---
http_interactions:
- request:
    method: get
    uri: https://api.nr.nhk.jp/r6/t/bundle/te/7NL2777YGX.json?extendedEntities=true&ignoreRange=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"683d-F3xytI0QGTgZiwfvmn41N8xS4FY"
    body:
      encoding: UTF-8
      string: '{"tvseries":{"type":"TVSeries","id":"P7R4N8K39M","name":"うまいッ!","detailedSeriesNameRuby":"うまいっ！","identifierGroup":{"seriesId":"P7R4N8K39M","seriesName":"うまいッ!","hashtag":["#うまいッ！#食#食材#グルメ#バラエティ#料理#生産者"],"siteId":"2268","serviceId":["g1","g2"],"aliasId":"umai","formatGenre":[{"id":"05","name":"バラエティ"}]},"identifierGroupEx":{"seriesGroupId":"DNKNW5L52V","seriesGroupName":"うまいッ!","seriesNameTemp":"うまいッ!"},"keywords":["うまいッ！","食","食材","グルメ","バラエティ","料理","生産者","お得情報","天野ひろゆき","塚原愛","緑黄色社会"],"description":"「うまいッ！」と、うなるほどおいしい日本各地の食べ物を紹介し、魅力を再発見！さらに、産地ならではの料理や食材の生かし方など、生活を豊かにするお得情報も満載の、２３分の「食の情報バラエティ番組」です。\r\n","detailedCatch":"日本各地の食の魅力を再発見！生活を豊かにするお得情報も満載！\r\n","style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#804000","linkDark":"#AD845B","primaryLight":"#804000","primaryDark":"#97632F"},"dateCreated":"2020-02-07T12:17:42+09:00","dateModified":"2021-06-09T22:33:52+09:00","actors":[],"contributors":[{"organization":{"roleName":"テーマ曲「Alright!!」
        作詞：長屋晴子、穴見真吾  作曲：peppe","name":"緑黄色社会","detailedNameRuby":"りょくおうしょくしゃかい","image":{"main":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/P7R4N8K39M/P7R4N8K39M-org_ddd7fdf70090f3ed02894bb6f4b93783.jpg","width":1080,"height":1080},"medium":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/P7R4N8K39M/P7R4N8K39M-org_15f28299cb9aac7c6a8571a365880035.jpg","width":640,"height":640},"small":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/P7R4N8K39M/P7R4N8K39M-org_7470323a6081e5b5b6c8ac4d28cb3b68.jpg","width":200,"height":200}},"description":"長屋晴子（Vo,G）、peppe（Key）、小林壱誓（G）、穴見真吾（B）の４人からなるバンド。\r\n同級生３人と幼なじみという、お互いを知り尽くした４人がそれぞれの個性を出し合い、幅広いカラーバリエーションを持つ楽曲を生み出している。「うまいッ！」テーマ曲「Alright!!」
        を制作。\r\n"}},{"person":{"roleName":"ＭＣ","name":"天野ひろゆき","detailedNameRuby":"あまのひろゆき","familyName":"天野","givenName":"ひろゆき","detailedFamilyNameRuby":"あまの","detailedGivenNameRuby":"ひろゆき","detailedAdditionalNameRuby":"","occupationName":"お笑い芸人／キャイ～ン","image":{"main":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/P7R4N8K39M/P7R4N8K39M-person_b8f0e9e49ed1730fb66a4c860028e440.jpg","width":1080,"height":1080},"medium":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/P7R4N8K39M/P7R4N8K39M-person_1a748c5063e86c7ca0d0413a00530bf5.jpg","width":640,"height":640},"small":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/P7R4N8K39M/P7R4N8K39M-person_513eed166d1444077b2c79eb3047f7fb.jpg","width":200,"heigh[...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/t/tvepisode/te/7NL2777YGX.json?extendedEntities=true&ignoreRange=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      commit-hash:
      - '"24f88c5"'
      etag:
      - W/"1b50-RJrNzRlakIBh+lcwFDsEDLnDVzk"
    body:
      encoding: UTF-8
      string: '{"type":"TVEpisode","id":"7NL2777YGX","name":"「とろける甘さ! 和三盆〜香川・東かがわ市〜」","identifierGroup":{"episodeId":"7NL2777YGX","tvEpisodeId":"7NL2777YGX","seriesId":"P7R4N8K39M","tvSeriesId":"P7R4N8K39M","episodeName":"「とろける甘さ!
        和三盆〜香川・東かがわ市〜」","tvEpisodeName":"「とろける甘さ! 和三盆〜香川・東かがわ市〜」","seriesName":"うまいッ!","tvSeriesName":"うまいッ!","hashtag":[],"serviceId":["g1","g2"],"formatGenreTag":[{"id":"05","name":"バラエティ"}],"themeGenreTag":[{"id":"083","name":"料理"},{"id":"094","name":"文化"}]},"identifierGroupEx":{"seriesGroupId":"DNKNW5L52V","tvSeriesGroupId":"DNKNW5L52V","seriesGroupName":"うまいッ!","tvSeriesGroupName":"うまいッ!","episodeNameTemp":"「とろける甘さ!
        和三盆〜香川・東かがわ市〜」","tvEpisodeNameTemp":"「とろける甘さ! 和三盆〜香川・東かがわ市〜」","seriesNameTemp":"うまいッ!","tvSeriesNameTemp":"うまいッ!","releasedEventServiceIdTemp":"g1","releasedEventStartDateTemp":"2020-03-09T12:20:00+09:00","releasedEventEndDateTemp":"2020-03-09T12:44:00+09:00"},"keywords":[],"description":"きめ細か！とろける！上品な甘み！▽日本では香川と徳島だけ！希少な砂糖「和三盆」▽和三盆ならでは！時短料理が続々登場！▽江戸時代から受け継ぐ驚きの職人ワザとは？","dateCreated":"2020-01-18T08:18:20+09:00","dateModified":"2021-08-13T20:05:08+09:00","actors":[],"contributors":[],"partOfSeries":{"id":"P7R4N8K39M","name":"うまいッ!","identifierGroup":{"seriesId":"P7R4N8K39M","tvSeriesId":"P7R4N8K39M","seriesName":"うまいッ!","tvSeriesName":"うまいッ!","hashtag":[],"serviceId":["g1","g2"]},"identifierGroupEx":{"seriesGroupId":"DNKNW5L52V","tvSeriesGroupId":"DNKNW5L52V","seriesGroupName":"うまいッ!","tvSeriesGroupName":"うまいッ!","seriesNameTemp":"うまいッ!","tvSeriesNameTemp":"うまいッ!"},"url":"https://dev-www.nhk.jp/p/ts/P7R4N8K39M/","description":"","logo":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/P7R4N8K39M/P7R4N8K39M-logo_df932ce38cdf578da00cc864ce17538b.jpg","width":1080,"height":1080},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/P7R4N8K39M/P7R4N8K39M-logo_3f4d00697dec8a691ddacd2cef071858.jpg","width":640,"height":640}},"eyecatch":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/P7R4N8K39M/P7R4N8K39M-eyecatch_ccfb382c7c145adbcd20ae7d8da5f86d.jpg","width":1920,"height":1080},"tver":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/P7R4N8K39M/P7R4N8K39M-eyecatch_6e8f19cf6c9d1c8e9947b36f99419d8b.jpg","width":928,"height":522},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/P7R4N8K39M/P7R4N8K39M-eyecatch_d536378441016ac791b4ccdf6980bd36.jpg","width":640,"height":360}},"hero":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/P7R4N8K39M/P7R4N8K39M-hero_49b182e6947c354a18044f8a750ecf4c.jpg","width":1920,"height":640},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/P7R4N8K39M/P7R4N8K39M-hero_f332020791c6bdf4f454ddef855758b5.jpg","width":1080,"height":360}},"style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#E72400","linkDark":"#FF4928","primaryLight":"#FF2800","primaryDark":"#FF2800"},"additionalProperty":{"publishLevel":"full","layoutPattern":"summary","episodeOrder":"releasedEvent","availableOnPlus":false,"enableVariablePlayBackSpeedControl":false,"optional":[],"seriesPackStatus":"notPacked"}},"releasedEvent":{"startDate":"2020-03-09T12:20:00+09:00","endDate":"2020-03-09T12:44:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHK総合テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_m.png","width":640,"height":360},"eyecatchLarge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_l.png","width":1280,"height":720},"eyecatch":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch.png","width":1920,"height":1080},"hero":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero.png","width":1080,"height":360},"heroMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero_m.png","width":1920,"height":640},"logoSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_s.png","width":200,"height":200},"logoMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_m.png","width":640,"height":640},"logo":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo.png","width":1080,"height":1080}},"identifierGroup":{"serviceId":"g1","serviceName":"NHK総合1","shortenedName":"NHK総合1","shortenedDisplayName":"総合"}}},"detailedRecentEvent":{"startDate":"2020-03-09T12:20:00+09:00","endDate":"2020-03-09T12:44:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHK総合テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"[...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/t/faqpage/id/54.json?extendedEntities=true&ignoreRange=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      commit-hash:
      - '"24f88c5"'
      etag:
      - W/"604-Q0Ac3ej4upEj2f5P0bvVrUbydng"
    body:
      encoding: UTF-8
      string: '{"type":"FAQPage","id":"54","name":"オペラ座の怪人について","questions":[{"id":"100","name":"製作された国や年などの情報について教えてください","acceptedAnswer":[{"id":"101","text":"製作国：\r\nアメリカ／イギリス\r\n製作年：\r\n2004\r\n原題：\r\nTHE
        PHANTOM OF THE OPERA\r\n備考：\r\n英語／字幕スーパー／カラー／レターボックス・サイズ","relatedUrl":"","dateCreated":"2019-11-20T13:42:10+09:00","dateModified":"2019-11-20T13:42:10+09:00"}],"dateCreated":"2021-03-22T17:43:09+09:00","dateModified":"2021-03-22T17:43:09+09:00"},{"id":"99","name":"制作者や出演者について教えてください","acceptedAnswer":[{"id":"100","text":"【製作・脚本・音楽】\r\nアンドリュー・ロイド・ウェバー\r\n【監督・脚本】\r\nジョエル・シュマッカー\r\n【原作】\r\nガストン・ルルー\r\n【撮影】\r\nジョン・マシソン\r\n【出演】\r\nジェラルド・バトラー、エミー・ロッサム、パトリック・ウィルソン　ほか","relatedUrl":"","dateCreated":"2019-11-20T13:41:44+09:00","dateModified":"2019-11-20T13:41:44+09:00"}],"dateCreated":"2021-03-22T17:43:09+09:00","dateModified":"2021-03-22T17:43:09+09:00"}],"identifierGroup":{"seriesId":"QPN1RW1PYW","tvSeriesId":"QPN1RW1PYW","episodeId":"1VP3L8LNMZ","tvEpisodeId":"1VP3L8LNMZ"},"url":"https://dev-www.nhk.jp/p/ts/QPN1RW1PYW/episode/te/1VP3L8LNMZ/","dateCreated":"2019-11-20T13:41:22+09:00","dateModified":"2020-07-20T18:36:04+09:00"}'
  recorded_at: Wed, 22 Dec 2021 07:26:10 GMT
recorded_with: VCR 6.0.0
