---
http_interactions:
  - request:
      method: get
      uri: https://dev-api.nr.nhk.jp/r6/t/tvepisode/te/8X5KKJ1W5Y.json?extendedEntities=true&ignoreRange=false
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - application/json; charset=utf-8
        commit-hash:
          - '"24f88c5"'
        etag:
          - W/"1b60-6dzkhdVDWjuPsjSPknwfvn211/8"
      body:
        encoding: UTF-8
        string: '{"type":"TVEpisode","id":"8X5KKJ1W5Y","name":"「キラキラ輝く!サボテンブローチ」","identifierGroup":{"episodeId":"8X5KKJ1W5Y","tvEpisodeId":"8X5KKJ1W5Y","seriesId":"E5Q48579J3","tvSeriesId":"E5Q48579J3","episodeName":"「キラキラ輝く!サボテンブローチ」","tvEpisodeName":"「キラキラ輝く!サボテンブローチ」","seriesName":"ガールズクラフト","tvSeriesName":"ガールズクラフト","hashtag":[],"serviceId":["e1","e3"],"themeGenreTag":[{"id":"081","name":"ファッション"},{"id":"096","name":"芸術"}]},"identifierGroupEx":{"seriesGroupId":"Y7XV8YLMX3","tvSeriesGroupId":"Y7XV8YLMX3","seriesGroupName":"ガールズクラフト","tvSeriesGroupName":"ガールズクラフト","episodeNameTemp":"「キラキラ輝く!サボテンブローチ」","tvEpisodeNameTemp":"「キラキラ輝く!サボテンブローチ」","seriesNameTemp":"ガールズクラフト","tvSeriesNameTemp":"ガールズクラフト","releasedEventServiceIdTemp":"e1","releasedEventStartDateTemp":"2021-03-19T19:50:00+09:00","releasedEventEndDateTemp":"2021-03-19T19:55:00+09:00"},"keywords":[],"description":"サボテンがキラキラ光るブローチになっちゃった！キラキラパーツでトゲを再現。大きなビーズをお花に見立てれば、おしゃれ心をくすぐる個性派アイテムの完成です！","dateCreated":"2021-01-22T18:29:26+09:00","dateModified":"2021-03-30T00:31:23+09:00","actors":[],"contributors":[],"partOfSeries":{"id":"E5Q48579J3","name":"ガールズクラフト","identifierGroup":{"seriesId":"E5Q48579J3","tvSeriesId":"E5Q48579J3","seriesName":"ガールズクラフト","tvSeriesName":"ガールズクラフト","hashtag":[],"serviceId":["e1","e3"]},"identifierGroupEx":{"seriesGroupId":"Y7XV8YLMX3","tvSeriesGroupId":"Y7XV8YLMX3","seriesGroupName":"ガールズクラフト","tvSeriesGroupName":"ガールズクラフト","seriesNameTemp":"ガールズクラフト","tvSeriesNameTemp":"ガールズクラフト"},"url":"https://dev-www.nhk.jp/p/ts/E5Q48579J3/","description":"","logo":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-logo_dbcdf5caa7aba851840c06b1576b28eb.jpg","width":1080,"height":1080},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-logo_46a6c1cee6b47e6cd486ca7e478ed51b.jpg","width":640,"height":640}},"eyecatch":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-eyecatch_7444ebc621120dd3fbdaca89ae467ff4.jpg","width":1920,"height":1080},"tver":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-eyecatch_65b5a3bf03a319d75fffb8fb41a569d4.jpg","width":928,"height":522},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-eyecatch_fea5a35b5a3856e7eb7b916b5570aa0e.jpg","width":640,"height":360}},"hero":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-hero_752541bdaabe4a0eb1a601053506a92e.jpg","width":1920,"height":640},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-hero_cadb38fb342986ac1000884690006217.jpg","width":1080,"height":360}},"style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#B65B5D","linkDark":"#FF8082","primaryLight":"#E47374","primaryDark":"#FF8082"},"additionalProperty":{"publishLevel":"full","layoutPattern":"summary","episodeOrder":"releasedEvent","availableOnPlus":false,"enableVariablePlayBackSpeedControl":false,"optional":[],"seriesPackStatus":"notPacked"}},"releasedEvent":{"startDate":"2021-03-19T19:50:00+09:00","endDate":"2021-03-19T19:55:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHK教育テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-eyecatch_m.png","width":640,"height":360},"eyecatchLarge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-eyecatch_l.png","width":1280,"height":720},"eyecatch":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-eyecatch.png","width":1920,"height":1080},"hero":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-hero.png","width":1080,"height":360},"heroMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-hero_m.png","width":1920,"height":640},"logoSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-logo_s.png","width":200,"height":200},"logoMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-logo_m.png","width":640,"height":640},"logo":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-logo.png","width":1080,"height":1080}},"identifierGroup":{"serviceId":"e1","serviceName":"NHKEテレ1","shortenedName":"NHKEテレ1","shortenedDisplayName":"Eテレ"}}},"detailedRecentEvent":{"startDate":"2021-03-19T19:50:00+09:00","endDate":"2021-03-19T19:55:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHK教育テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"[...]
  - request:
      method: get
      uri: https://dev-api.nr.nhk.jp/r6/t/howto/id/49.json?extendedEntities=true&ignoreRange=false
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - application/json; charset=utf-8
        commit-hash:
          - '"b7a5f0a"'
        etag:
          - W/"28b6-/4VcDJ9HDNZDqmRQkaEknwKli4g"
      body:
        encoding: UTF-8
        string:
          '{"type":"HowTo","id":"49","name":"サボテンブローチの作り方","description":"\t樹脂粘土でつくるサボテンのキラキラブローチ！
          形も色も自由自在！","tool":[],"supply":[{"name":"・アクリル絵の具（緑）・樹脂粘土・ブローチピン・つまようじ・キラキラパーツ","image":{"main":{"url":"https://www.nhk.jp/static/assets/images/howto/te/8X5KKJ1W5Y/8X5KKJ1W5Y-supply_53c084d88d39f10084e11beb2830ec8e.png","width":1920,"height":1080},"medium":{"url":"https://www.nhk.jp/static/assets/images/howto/te/8X5KKJ1W5Y/8X5KKJ1W5Y-supply_d99006320f9d13cc5ef69c42fa90104e.png","width":640,"height":360}}}],"totalTime":"P0D","estimatedCost":"","image":{"main":{"url":"https://www.nhk.jp/static/assets/images/howto/te/8X5KKJ1W5Y/8X5KKJ1W5Y-eyecatch_d2afe1fc4bfdf38a00c57b180a6456dc.jpg","width":1920,"height":1080},"medium":{"url":"https://www.nhk.jp/static/assets/images/howto/te/8X5KKJ1W5Y/8X5KKJ1W5Y-eyecatch_5a04ae92d518b4bf4c48484e51b73216.jpg","width":640,"height":360}},"section":[{"name":"作り方","step":[{"name":"クリアホルダーをカット","text":"サボテンは樹脂粘土で作ります。粘土をカットする“ナイフ”をクリアホルダーで作ります。","image":{"main":{"url":"https://www.nhk.jp/static/assets/images/howto/te/8X5KKJ1W5Y/8X5KKJ1W5Y-step_4222a4f1258cf7491e9ea72f77bcb6b6.png","width":1920,"height":1080},"medium":{"url":"https://www.nhk.jp/static/assets/images/howto/te/8X5KKJ1W5Y/8X5KKJ1W5Y-step_f2215e42379c5b3b7ca7f9ce5efda7b1.png","width":640,"height":360}},"substep":[{"type":"HowToDirection","text":"長さは3cm×12cmぐらい。"}]},{"name":"樹脂粘土","text":"樹脂粘土にアクリル絵の具で色をつけます。\n","image":{"main":{"url":"https://www.nhk.jp/static/assets/images/howto/te/8X5KKJ1W5Y/8X5KKJ1W5Y-step_ee7515da41e1c4fc848ef2b942936a87.png","width":1920,"height":1080},"medium":{"url":"https://www.nhk.jp/static/assets/images/howto/te/8X5KKJ1W5Y/8X5KKJ1W5Y-step_ab49ec95b9422181375151a1a0e61112.png","width":640,"height":360}},"substep":[{"type":"HowToDirection","text":"樹脂粘土はいなりずし１コ分ぐらい。"}]},{"name":"[...]
