---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/t/bundle/te/GV711R4WQV.json?extendedEntities=true&ignoreRange=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3647-LcTzGJFFLmXr8xnpOiz+RQ/e390"
    body:
      encoding: UTF-8
      string: '{"tvseries":{"type":"TVSeries","id":"D4VPQVK78M","name":"グッドモーニング島根","detailedSeriesNameRuby":"","identifierGroup":{"seriesId":"D4VPQVK78M","seriesName":"グッドモーニング島根","hashtag":[],"serviceId":["g1","g2"]},"identifierGroupEx":{"seriesGroupId":"Y5L2M2J9JY","seriesGroupName":"おはよう島根","seriesNameTemp":"おはよう島根"},"keywords":[],"description":"aaa","detailedCatch":"","style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#9A6B00","linkDark":"#F6AA00","primaryLight":"#C28600","primaryDark":"#F6AA00"},"dateCreated":"2020-03-21T14:41:55+09:00","dateModified":"2021-08-20T12:38:48+09:00","actors":[],"contributors":[{"person":{"roleName":"author","name":"てすと太郎","detailedNameRuby":"","familyName":"てすと","givenName":"太郎","detailedFamilyNameRuby":"","detailedGivenNameRuby":"","detailedAdditionalNameRuby":"","occupationName":"","description":""}}],"logo":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/D4VPQVK78M/D4VPQVK78M-logo_c7b07a2582feeb0f88ffd038c70d9522.jpg","width":1080,"height":1080},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/D4VPQVK78M/D4VPQVK78M-logo_323c3df9ea342a77bc2a6a25a938ff82.jpg","width":640,"height":640}},"eyecatch":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/D4VPQVK78M/D4VPQVK78M-eyecatch_c5c184c1acd05c4be8bbd9dd4aa383a3.jpg","width":1920,"height":1080},"tver":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/D4VPQVK78M/D4VPQVK78M-eyecatch_da2e814de737215323bc5e03a6328cca.jpg","width":928,"height":522},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/D4VPQVK78M/D4VPQVK78M-eyecatch_71dedccbd6fa1f1e7262098de72afdef.jpg","width":640,"height":360}},"hero":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/D4VPQVK78M/D4VPQVK78M-hero_6e681895641046acf44eb93c3b7d0e7c.jpg","width":1920,"height":640},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/D4VPQVK78M/D4VPQVK78M-hero_cf2e975a3dda8650714a4bad26dd1694.jpg","width":1080,"height":360}},"videos":[],"releasedEvent":{},"citations":[],"detailedTimetable":[{"description":"","isRerun":false,"publishedOn":{"type":"BroadcastService","name":"NHK総合テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_m.png","width":640,"height":360},"eyecatchLarge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_l.png","width":1280,"height":720},"eyecatch":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch.png","width":1920,"height":1080},"hero":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero.png","width":1080,"height":360},"heroMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero_m.png","width":1920,"height":640},"logoSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_s.png","width":200,"height":200},"logoMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_m.png","width":640,"height":640},"logo":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo.png","width":1080,"height":1080}},"identifierGroup":{"serviceId":"g1","serviceName":"NHK総合1","shortenedName":"NHK総合1","shortenedDisplayName":"総合"}}},{"description":"","isRerun":false,"publishedOn":{"type":"BroadcastService","name":"NHK総合テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g2/g2-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g2/g2-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://dev-www.nhk.jp/assets/images/[...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/t/tvepisode/te/GV711R4WQV.json?extendedEntities=true&ignoreRange=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      commit-hash:
      - '"24f88c5"'
      etag:
      - W/"1a1c-WEwuWUHdt8/DuWnug+WKImx7WV4"
    body:
      encoding: UTF-8
      string: '{"type":"TVEpisode","id":"GV711R4WQV","name":"2021年4月7日","identifierGroup":{"episodeId":"GV711R4WQV","tvEpisodeId":"GV711R4WQV","seriesId":"D4VPQVK78M","tvSeriesId":"D4VPQVK78M","episodeName":"2021年4月7日","tvEpisodeName":"2021年4月7日","seriesName":"グッドモーニング島根","tvSeriesName":"グッドモーニング島根","hashtag":[],"serviceId":["g1","g2"],"formatGenreTag":[{"id":"01","name":"報道"}],"themeGenreTag":[{"id":"014","name":"地域"}]},"identifierGroupEx":{"seriesGroupId":"Y5L2M2J9JY","tvSeriesGroupId":"Y5L2M2J9JY","seriesGroupName":"おはよう島根","tvSeriesGroupName":"おはよう島根","episodeNameTemp":"2021年4月7日","tvEpisodeNameTemp":"2021年4月7日","seriesNameTemp":"おはよう島根","tvSeriesNameTemp":"おはよう島根","releasedEventServiceIdTemp":"g1","releasedEventStartDateTemp":"2021-04-07T07:45:00+09:00","releasedEventEndDateTemp":"2021-04-07T08:00:00+09:00"},"keywords":[],"description":"▽島根のニュース　▽気象情報","dateCreated":"2021-03-21T07:02:03+09:00","dateModified":"2021-09-16T18:04:29+09:00","actors":[],"contributors":[],"partOfSeries":{"id":"D4VPQVK78M","name":"グッドモーニング島根","detailedSeriesNameRuby":"","identifierGroup":{"seriesId":"D4VPQVK78M","tvSeriesId":"D4VPQVK78M","seriesName":"グッドモーニング島根","tvSeriesName":"グッドモーニング島根","hashtag":[],"serviceId":["g1","g2"]},"identifierGroupEx":{"seriesGroupId":"Y5L2M2J9JY","tvSeriesGroupId":"Y5L2M2J9JY","seriesGroupName":"おはよう島根","tvSeriesGroupName":"おはよう島根","seriesNameTemp":"おはよう島根","tvSeriesNameTemp":"おはよう島根"},"url":"https://dev-www.nhk.jp/p/ts/D4VPQVK78M/","description":"aaa","detailedCat[...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/t/event/id/94.json?extendedEntities=true&ignoreRange=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      commit-hash:
      - '"24f88c5"'
      etag:
      - W/"415-znhgdFrjn27QP3Wl1ZZYCb5xRZY"
    body:
      encoding: UTF-8
      string: '{"type":"Event","id":"94","name":"水郷祭","description":"花火をたくさん打ち上げます","startDate":"2021-08-07T20:00:00+09:00","endDate":"2021-08-08T22:00:00+09:00","eventAttendanceMode":"offline","postalAddress":"島根県松江市ほげほげ","place":"宍道湖","eventStatus":"postponed","image":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/event/te/GV711R4WQV/GV711R4WQV-eyecatch_6a0c631426747bd282cd63b8ef64a415.jpg","width":1920,"height":1080},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/event/te/GV711R4WQV/GV711R4WQV-eyecatch_c978b092cddd2495c9eef4ca5e288c56.jpg","width":640,"height":360}},"dateCreated":"2020-09-17T14:57:30+09:00","dateModified":"2021-09-16T18:04:29+09:00","identifierGroup":{"seriesId":"D4VPQVK78M","tvSeriesId":"D4VPQVK78M","episodeId":"GV711R4WQV","tvEpisodeId":"GV711R4WQV"},"undefinedSection":[],"offersValidFrom":"2021-09-14T17:55:00+09:00","offersValidThrough":"2021-10-01T17:55:00+09:00","offersSameAs":"","url":"https://dev-www.nhk.jp/p/ts/D4VPQVK78M/event/94/"}'
  recorded_at: Wed, 22 Dec 2021 07:27:08 GMT
recorded_with: VCR 6.0.0
