---
http_interactions:
- request:
    method: get
    uri: https://api.nr.nhk.jp/r6/t/bundle/te/8X5KKJ1W5Y.json?extendedEntities=true&ignoreRange=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"66ab-fBIVSDnahSRxOJV64MFS9jEY+WI"
    body:
      encoding: UTF-8
      string: '{"tvseries":{"type":"TVSeries","id":"E5Q48579J3","name":"ガールズクラフト","detailedSeriesNameRuby":"がーるずくらふと","identifierGroup":{"seriesId":"E5Q48579J3","seriesName":"ガールズクラフト","hashtag":[],"siteId":"3051","serviceId":["e1","e3"],"aliasId":"gc"},"identifierGroupEx":{"seriesGroupId":"Y7XV8YLMX3","seriesGroupName":"ガールズクラフト","seriesNameTemp":"ガールズクラフト"},"keywords":[],"description":"かわいいおしゃれアイテムを自分で手づくりしてみたい！\r\n「ガールズクラフト」は、そんな女の子の願いをかなえる番組です。\r\nみんなに自慢したくなるONLY
        ONEアイテムなのに、簡単に作れてしかもリーズナブル！\r\nクラフト好きな“謎の鳥” ラッピィと、人気モデルの\"りんくま”こと久間田琳加と一緒に、みんなもぜひ手づくりに挑戦してみてね！","detailedCatch":"","style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#B2595B","linkDark":"#FF8082","primaryLight":"#DF7072","primaryDark":"#FF8082"},"dateCreated":"2020-02-07T11:52:18+09:00","dateModified":"2021-03-27T13:57:29+09:00","actors":[],"contributors":[{"person":{"roleName":"出演","name":"久間田琳加","detailedNameRuby":"くまだりんか","familyName":"久間田","givenName":"琳加","detailedFamilyNameRuby":"くまだ","detailedGivenNameRuby":"りんか","detailedAdditionalNameRuby":"","occupationName":"","image":{"main":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-person_07493ca36224780f4bb4a8643782a6d7.jpg","width":1080,"height":1080},"medium":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-person_49ab52e14661573e12dbba3faff411eb.jpg","width":640,"height":640},"small":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-person_221c69052a0908d070fcf31ed5b21f0f.jpg","width":200,"height":200}},"description":"第16回nicola専属モデルオーディションのグランプリを受賞してデビュー。「nicola」卒業後は、雑誌「Seventeen」専属モデルに。女優としても注目され、2017年「ミックス。」、2018年「青夏
        きみに恋した30日」に出演。「ヌヌ子の聖★戦～HARAJUKU STORY～」では主演をつとめる。趣味はショッピング、少女漫画を読むこと。"}},{"person":{"roleName":"出演","name":"ラッピィ","detailedNameRuby":"らっぴぃ","occupationName":"","image":{"main":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-person_a6a15c1ad29ed7917773f74c07c987e8.jpg","width":1080,"height":1080},"medium":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-person_2ceb6656f30917198eef9f9276062a94.jpg","width":640,"height":640},"small":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-person_ba9d29840e8150d5f9bc5715219466d7.jpg","width":200,"height":200}},"description":"いつも紙袋をかぶっている、はずかしがり屋の鳥。本人はおしゃれコーディネートのつもり。りんくまの手作りをお手伝いするナビゲーター。"}}],"logo":{"main":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-logo_f15e2c571bb13182bad8c2c85c3bbec7.png","width":1080,"height":1080},"medium":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-logo_d5391947635029fb3c8e1f69b3dca2d1.png","width":640,"height":640}},"eyecatch":{"main":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-eyecatch_93c8dee5e7dc16152d04e40436256650.png","width":1920,"height":1080},"tver":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-eyecatch_716b27d75f6f0943b109a21e3913d3f1.png","width":928,"height":522},"medium":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-eyecatch_ad594b793377c5df7f39a55c965f3718.png","width":640,"height":360}},"hero":{"main":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-hero_1862c0b1996f097424fd78035e96ebe5.png","width":1920,"height":640},"medium":{"url":"https://www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-hero_6246684ddb64082048bea200c0a416a4.png","width":1080,"height":360}},"videos":[],"releasedEvent":{},"citations":[{"url":"https://www.nhk.jp/p/ts/NRMZ9WG4RW/","name":"＃旬映え
        easy♡リメイク講座"},{"url":"https://www.nhk.jp/p/ts/M396VLNW7Z/","name":"ポップイン！クラフト"}],"detailedTimetable":[{"description":"毎週金曜　午後７時50分","isRerun":false,"publishedOn":{"type":"BroadcastService","name":"NHK教育テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-badge_s.png","width":100,"height":50},"badge":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-eyecatch_m.png","width":640,"height":360},"eyecatchLarge":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-eyecatch_l.png","width":1280,"height":720},"eyecatch":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-eyecatch.png","width":1920,"height":1080},"hero":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-hero.png","width":1080,"height":360},"heroMedium":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-hero_m.png","width":1920,"height":640},"logoSmall":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-logo_s.png","width":200,"height":200},"logoMedium":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-logo_m.png","width":640,"height":640},"logo":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-logo.png","width":1080,"height":1080}},"identifierGroup":{"serviceId":"e1","serviceName":"NHKEテレ1","shortenedName":"NHKEテレ1","shortenedDisplayName":"Eテレ"}}},{"description":"毎週土曜　午前10時25分","isRerun":true,"publishedOn":{"type":"BroadcastService","name":"NHK教育テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-badge_s.png","width":100,"height":50},"badge":{"url":"https://www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://www.nhk.jp/assets/images[...]
