---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/tvepisode/ts/W6LNXPQPY7.json?extendedEntities=true&ignoreRange=true&isFuzzy=true&offset=10&order=desc&orderBy=recentEvent&size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cce2ef3"'
      etag:
      - W/"141a3-Nbj7Tx1Dx9WnYct2FH+j0X45fsQ"
    body:
      encoding: UTF-8
      string: '{"result":[{"type":"TVEpisode","id":"N9YP68ZQ99","name":"イモトと学ぼう!中国語
        (34)「ネットで話題の店で買ったケーキです」","identifierGroup":{"episodeId":"N9YP68ZQ99","tvEpisodeId":"N9YP68ZQ99","seriesId":"W6LNXPQPY7","tvSeriesId":"W6LNXPQPY7","episodeName":"イモトと学ぼう!中国語
        (34)「ネットで話題の店で買ったケーキです」","tvEpisodeName":"イモトと学ぼう!中国語 (34)「ネットで話題の店で買ったケーキです」","seriesName":"テレビで中国語","tvSeriesName":"テレビで中国語","hashtag":["#テレビで中国語"],"serviceId":["e1","e3"],"formatGenreTag":[{"id":"09","name":"講座"}],"themeGenreTag":[{"id":"101","name":"語学"}]},"identifierGroupEx":{"seriesGroupId":"5KVX4JW8P7","tvSeriesGroupId":"5KVX4JW8P7","seriesGroupName":"テレビで中国語","tvSeriesGroupName":"テレビで中国語","episodeNameTemp":"イモトと学ぼう!中国語
        (34)「ネットで話題の店で買ったケーキです」","tvEpisodeNameTemp":"イモトと学ぼう!中国語 (34)「ネットで話題の店で買ったケーキです」","seriesNameTemp":"テレビで中国語","tvSeriesNameTemp":"テレビで中国語","releasedEventServiceIdTemp":"e1","releasedEventStartDateTemp":"2022-01-11T22:55:00+09:00","releasedEventEndDateTemp":"2022-01-11T23:20:00+09:00"},"keywords":[],"description":"イモトアヤコ、一番長い作文に挑戦！結果は？日本的漢字は「老婆」中国人留学生が芥川龍之介の羅生門を読んでＤＶ小説と思ったわけは？熊悟空がまさか詩ちゃんを殺す！？","dateCreated":"2021-11-24T18:27:35+09:00","dateModified":"2022-01-26T00:03:21+09:00","actors":[],"contributors":[],"partOfSeries":{"id":"W6LNXPQPY7","name":"テレビで中国語","detailedSeriesNameRuby":"てれびでちゅうごくご","identifierGroup":{"seriesId":"W6LNXPQPY7","tvSeriesId":"W6LNXPQPY7","seriesName":"テレビで中国語","tvSeriesName":"テレビで中国語","hashtag":["#テレビで中国語"],"serviceId":["e1","e3"],"formatGenre":[{"id":"09","name":"講座"}]},"identifierGroupEx":{"seriesGroupId":"5KVX4JW8P7","tvSeriesGroupId":"5KVX4JW8P7","seriesGroupName":"テレビで中国語","tvSeriesGroupName":"テレビで中国語","seriesNameTemp":"テレビで中国語","tvSeriesNameTemp":"テレビで中国語"},"url":"https://dev-www.nhk.jp/p/ts/W6LNXPQPY7/","canonical":"https://dev-www.nhk.jp/p/ts/W6LNXPQPY7/","description":"中国語を学ぶ全ての人のパートナーを目指すテレビで中国語。中級以上の方はスキットの心の声でヒアリング力を。入門や初級の方にはスキットの会話部分と、学習コーナーを。イチから学習するイモトアヤコさんは台本一切なしで、本気で学習にチャレンジ。ともに励まし合い向上を目指します。「アニメスキット・恋する危ないふたり」ではラブコメアニメで生きた中国語を！「ピンインギャラクシー」では日本人が苦手な発音を徹底練習！他にも、視聴者参加で中国語のお悩みに答えるコーナーやアジア各地と結ぶLIVEコーナーなど楽しく学べます！","detailedCatch":"イモトと学ぼう！","logo":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/W6LNXPQPY7/W6LNXPQPY7-logo_8196a5a8edd37401c15ef5ad4af3a312.jpg","width":1080,"height":1080},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/W6LNXPQPY7/W6LNXPQPY7-logo_4e4df7051f9af92dc32cf4c91693c5e6.jpg","width":640,"height":640}},"eyecatch":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/W6LNXPQPY7/W6LNXPQPY7-eyecatch_1101d3b7f01e0c5d985538a2520dfa8a.png","width":1920,"height":1080},"tver":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/W6LNXPQPY7/W6LNXPQPY7-eyecatch_dd506a333157bc82227c1a5741ff289b.png","width":928,"height":522},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/W6LNXPQPY7/W6LNXPQPY7-eyecatch_8793b929f20f5bfc398cccd2427b29f4.png","width":640,"height":360}},"hero":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/W6LNXPQPY7/W6LNXPQPY7-hero_12f8cd4d0eccc517fd5200e556110f31.png","width":1920,"height":640},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/W6LNXPQPY7/W6LNXPQPY7-hero_cd1d536d40752063556c746389e39f6b.png","width":1080,"height":360}},"style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#990099","linkDark":"#c062c0","primaryLight":"#990099","primaryDark":"#ad32ad"},"additionalProperty":{"publishLevel":"full","layoutPattern":"summary","episodeOrderBy":"releasedEvent","availableOnPlus":false,"enableVariablePlayBackSpeedControl":false,"optional":[],"seriesPackStatus":"notPacked"}},"releasedEvent":{"startDate":"2022-01-11T22:55:00+09:00","endDate":"2022-01-11T23:20:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHK教育テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-eyecatch_m.png","width":640,"height":360},"eyecatchLarge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-eyecatch_l.png","width":1280,"height":720},"eyecatch":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-eyecatch.png","width":1920,"height":1080},"heroMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-hero_m.png","width":1080,"height":360},"hero":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-hero.png","width":1920,"height":640},"logoSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-logo_s.png","width":200,"height":200},"logoMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-logo_m.png","width":640,"height":640},"logo":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-logo.png","width":1080,"height":1080}},"identifierGroup":{"serviceId":"e1","serviceName":"NHKEテレ1","shortenedName":"NHKEテレ1","shortenedDisplayName":"Eテレ"}}},"detailedRecentEvent":{"startDate":"2022-01-11T22:55:00+09:00","endDate":"2022-01-11T23:20:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHK教育テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"[...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cce2ef3"'
      etag:
      - '"69-J3KVUSDcl1cwDPFQyt8KKZiUE/8"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Not Found","requestId":"Root=1-62b13a67-6204b62f7ccb96072b2283f5"}}'
  recorded_at: Tue, 21 Jun 2022 03:26:31 GMT
recorded_with: VCR 6.1.0
