---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/s/extended.json?extendedEntities=true&ignoreRange=true&isFuzzy=true&offset=10&order=desc&orderBy=score&publishLevel=notyet%2Cready%2Cfull%2Climited%2Cgone&size=10&type=tvseries
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"b8220bf"'
      etag:
      - '"37d-9r+ja4L6RfmKhAp2CE/qk5IgDZk"'
    body:
      encoding: UTF-8
      string: '{"result":{"tvseries":{"result":[],"nextUrl":"https://dev-api.nr.nhk.jp/r6/s/extended.json?type=tvseries&orderBy=score&order=desc&isFuzzy=true&publishLevel=notyet,ready,full,limited,gone&offset=20&size=10&ignoreRange=true&extendedEntities=true","resultUrl":"https://dev-api.nr.nhk.jp/r6/s/extended.json?type=tvseries&orderBy=score&order=desc&isFuzzy=true&publishLevel=notyet,ready,full,limited,gone&offset=10&size=10&ignoreRange=true&extendedEntities=true","prevUrl":"https://dev-api.nr.nhk.jp/r6/s/extended.json?type=tvseries&orderBy=score&order=desc&isFuzzy=true&publishLevel=notyet,ready,full,limited,gone&offset=0&size=10&ignoreRange=true&extendedEntities=true","count":6711}},"resultUrl":"https://dev-api.nr.nhk.jp/r6/s/extended.json?type=tvseries&orderBy=score&order=desc&isFuzzy=true&publishLevel=notyet,ready,full,limited,gone&offset=10&size=10&ignoreRange=true&extendedEntities=true"}'
  recorded_at: Fri, 08 Jul 2022 06:36:46 GMT
recorded_with: VCR 6.1.0
