---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/s/extended.json?extendedEntities=true&ignoreRange=true&isFuzzy=true&offset=10&order=desc&publishLevel=notyet%2Cready%2Cfull%2Climited%2Cgone&size=10&type=tvseries
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - W/"20d9-bb52v8vCAVhGkC69nvzKSfAf1js"
    body:
      encoding: UTF-8
      string: '{"result":{"tvseries":{"result":[{"type":"TVSeries","id":"2K5QPMWP57","name":"子ども安全リアル・ストーリー","identifierGroup":{"seriesId":"2K5QPMWP57","tvSeriesId":"2K5QPMWP57","seriesName":"子ども安全リアル・ストーリー","tvSeriesName":"子ども安全リアル・ストーリー","hashtag":[],"serviceId":["e1","e3"]},"identifierGroupEx":{"seriesGroupId":"4NXK4XMX1K","tvSeriesGroupId":"4NXK4XMX1K","seriesGroupName":"子ども安全リアル・ストーリー","tvSeriesGroupName":"子ども安全リアル・ストーリー","seriesNameTemp":"子ども安全リアル・ストーリー","tvSeriesNameTemp":"子ども安全リアル・ストーリー"},"keywords":[],"description":"","style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#804000","linkDark":"#AD845B","primaryLight":"#804000","primaryDark":"#97632F"},"dateCreated":"2019-10-28T11:18:00+09:00","dateModified":"2022-04-19T14:33:09+09:00","actors":[],"contributors":[],"logo":{"main":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/2K5QPMWP57/2K5QPMWP57-logo_082db3b837e23d970a19d51cbc8cefef.jpg","width":1080,"height":1080},"medium":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/2K5QPMWP57/2K5QPMWP57-logo_361ad50079655afb0225d74288a1fb60.jpg","width":640,"height":640}},"eyecatch":{"main":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/2K5QPMWP57/2K5QPMWP57-eyecatch_20a726f58d337f7d31513056d3784f8c.jpg","width":1920,"height":1080},"tver":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/2K5QPMWP57/2K5QPMWP57-eyecatch_245fff22086f30acec942730e8ce829c.jpg","width":928,"height":522},"medium":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/2K5QPMWP57/2K5QPMWP57-eyecatch_a3b4af0f58176a74b897b4c26e4e4f6c.jpg","width":640,"height":360}},"hero":{"main":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/2K5QPMWP57/2K5QPMWP57-hero_8bcbc1bc585d37f9d6d27b4f61bdadd6.jpg","width":1920,"height":640},"medium":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/2K5QPMWP57/2K5QPMWP57-hero_623c5c3dd84e23ad5b860dc3e2e192ac.jpg","width":1080,"height":360}},"videos":[],"releasedEvent":{},"citations":[],"detailedTimetable":[],"url":"https://dev-www.nhk.jp/p/ts/2K5QPMWP57/","canonical":"https://dev-www.nhk.jp/p/ts/2K5QPMWP57/","sameAs":[],"detailedMemo":[],"additionalProperty":{"publishLevel":"notyet","layoutPattern":"summary","episodeOrderBy":"releasedEvent","availableOnPlus":false,"enableVariablePlayBackSpeedControl":false,"optional":[],"seriesPackStatus":"notPacked"}},{"type":"TVSeries","id":"3434X7M36G","name":"ドキュメント72時間・選","identifierGroup":{"seriesId":"3434X7M36G","tvSeriesId":"3434X7M36G","seriesName":"ドキュメント72時間・選","tvSeriesName":"ドキュメント72時間・選","hashtag":[],"serviceId":["g1","g2"]},"identifierGroupEx":{"seriesGroupId":"2W49X3VN36","tvSeriesGroupId":"2W49X3VN36","seriesGroupName":"ドキュメント72時間","tvSeriesGroupName":"ドキュメント72時間","seriesNameTemp":"ドキュメント72時間・選","tvSeriesNameTemp":"ドキュメント72時間・選"},"keywords":[],"description":"","style":{"textLight[...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/tvepisode/ts/2K5QPMWP57.json?extendedEntities=true&ignoreRange=true&isFuzzy=true&offset=0&order=desc&orderBy=recentEvent&size=10&type=tvseries
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - W/"11ed1-yXp44dYFc42hAAqhPBhM2Fg6+sQ"
    body:
      encoding: UTF-8
      string: '{"result":[{"type":"TVEpisode","id":"QP47V2W7R3","name":"「留守番の注意」","identifierGroup":{"episodeId":"QP47V2W7R3","tvEpisodeId":"QP47V2W7R3","seriesId":"2K5QPMWP57","tvSeriesId":"2K5QPMWP57","episodeName":"「留守番の注意」","tvEpisodeName":"「留守番の注意」","seriesName":"子ども安全リアル・ストーリー","tvSeriesName":"子ども安全リアル・ストーリー","hashtag":[],"serviceId":["e1","e3"],"formatGenreTag":[{"id":"03","name":"ドラマ"}],"themeGenreTag":[{"id":"031","name":"国内ドラマ"},{"id":"102","name":"キッズ"}]},"identifierGroupEx":{"seriesGroupId":"4NXK4XMX1K","tvSeriesGroupId":"4NXK4XMX1K","seriesGroupName":"子ども安全リアル・ストーリー","tvSeriesGroupName":"子ども安全リアル・ストーリー","episodeNameTemp":"「留守番の注意」","tvEpisodeNameTemp":"「留守番の注意」","seriesNameTemp":"子ども安全リアル・ストーリー","tvSeriesNameTemp":"子ども安全リアル・ストーリー","releasedEventServiceIdTemp":"e1","releasedEventStartDateTemp":"2021-08-31T15:30:00+09:00","releasedEventEndDateTemp":"2021-08-31T15:40:00+09:00"},"keywords":[],"description":"実際の犯罪や事故例を織り交ぜた創作ドラマをもとに、子どもが自分の身を守るためにできることを考えるシリーズ。今回は留守番するときの注意を紹介する。【出演】芦田愛菜","dateCreated":"2019-10-28T11:18:00+09:00","dateModified":"2021-09-21T04:45:26+09:00","actors":[],"contributors":[],"partOfSeries":{"id":"2K5QPMWP57","name":"子ども安全リアル・ストーリー","identifierGroup":{"seriesId":"2K5QPMWP57","tvSeriesId":"2K5QPMWP57","seriesName":"子ども安全リアル・ストーリー","tvSeriesName":"子ども安全リアル・ストーリー","hashtag":[],"serviceId":["e1","e3"]},"identifierGroupEx":{"seriesGroupId":"4NXK4XMX1K","tvSeriesGroupId":"4NXK4XMX1K","seriesGroupName":"子ども安全リアル・ストーリー","tvSeriesGroupName":"子ども安全リアル・ストーリー","seriesNameTemp":"子ども安全リアル・ストーリー","tvSeriesNameTemp":"子ども安全リアル・ストーリー"},"url":"https://dev-www.nhk.jp/p/ts/2K5QPMWP57/","canonical":"htt[...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/tvepisode/ts/2K5QPMWP57.json?availableOn=okushibu&extendedEntities=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"71-pUxC/iJ7q9sY8O40btmgupROL1I"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid SeriesId.","requestId":"Root=1-62b268b6-013b91180df5e72c409a1f73"}}'
  recorded_at: Wed, 22 Jun 2022 00:56:22 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/QP47V2W7R3.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-R6TMMnCnsoBXAstdYNp4W0ctAT0"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b268b6-742d54150f40919e746416ee"}}'
  recorded_at: Wed, 22 Jun 2022 00:56:22 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/2868JR2WZP.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-wVfQbQpkVD/DQUljLiJmym87r60"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b268b6-2b461fa37044584075b20f0f"}}'
  recorded_at: Wed, 22 Jun 2022 00:56:22 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/MXPNPX2VRV.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-ZdYbosY33qSNJkpEhNWasruGRyo"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b268b7-08f636e71da0af7c483b2243"}}'
  recorded_at: Wed, 22 Jun 2022 00:56:23 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/G68GZ9GJNK.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-ziRYMK41Ur8e/RfXPxJy99czAoc"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b268b7-165f4aaa174412d404a07e1e"}}'
  recorded_at: Wed, 22 Jun 2022 00:56:23 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/BQ35QZY238.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-J70UqeRO6XUKQBBjZfOXz8IWIok"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b268b7-4eb6ab9434b9bdc4333a29ee"}}'
  recorded_at: Wed, 22 Jun 2022 00:56:23 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/BPY9Z1GMXB.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-yIcbBQ/r63FuJT+h1Sopu+/bQTo"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b268b7-01c05ee97af3da3e4c8d251f"}}'
  recorded_at: Wed, 22 Jun 2022 00:56:23 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/YVYGZ7999M.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-E0I/y/4c5NTwbO48cxM2UP2ixN4"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b268b8-506cb3e160c88f725fafe75e"}}'
  recorded_at: Wed, 22 Jun 2022 00:56:24 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/26G42292NX.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-UarkQctHopgWjDHCg+xBrKSa4Kc"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b268b8-491067751ef4c74548365615"}}'
  recorded_at: Wed, 22 Jun 2022 00:56:24 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/Y36L5M91KX.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-9SVtxioPxKe95w/h6OarVbRDH5w"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b268b8-04959d2b3bc73ee64b35a943"}}'
  recorded_at: Wed, 22 Jun 2022 00:56:24 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/N1NQ4364ZG.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-L/qU1xXfZROycWZq/rYa/FoWg/Q"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b268b8-598ae617608c47fc2f3a5573"}}'
  recorded_at: Wed, 22 Jun 2022 00:56:24 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/tvepisode/ts/3434X7M36G.json?extendedEntities=true&ignoreRange=true&isFuzzy=true&offset=0&order=desc&orderBy=recentEvent&size=10&type=tvseries
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
  [...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/tvepisode/ts/3434X7M36G.json?availableOn=okushibu&extendedEntities=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"71-AMKbb+FSl7t1d8IvBmJ5yIO81hA"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid SeriesId.","requestId":"Root=1-62b268b9-2791ab0339debb8200e0c041"}}'
  recorded_at: Wed, 22 Jun 2022 00:56:25 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/JMGVY5RPQV.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-XXQeQzueenYtrG08Zy9sEGh/f+A"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b268b9-169dfc81774951380e442a07"}}'
  recorded_at: Wed, 22 Jun 2022 00:56:25 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/V8J4RL49G3.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-0NVXzzzR0ZhLfG5HZidgUINfbd0"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b268b9-690d5ec82056018258a17c79"}}'
  recorded_at: Wed, 22 Jun 2022 00:56:25 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/tvepisode/ts/424Y1R8Q3K.json?extendedEntities=true&ignoreRange=true&isFuzzy=true&offset=0&order=desc&orderBy=recentEvent&size=10&type=tvseries
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
  [...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/tvepisode/ts/424Y1R8Q3K.json?availableOn=okushibu&extendedEntities=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"71-prleNFsczO25XefntMXgXHWvLlg"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid SeriesId.","requestId":"Root=1-62b268ba-1112730f1e39fc6d63d5bc2d"}}'
  recorded_at: Wed, 22 Jun 2022 00:56:26 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/Q8L68MKY4M.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-1bCplU3XSC7jaTeAlNtAjdzyw68"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b268ba-379c997f0939bd27627847fe"}}'
  recorded_at: Wed, 22 Jun 2022 00:56:26 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/9Y428YPR2G.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-7V3psrvO5rgShLUX1692LhwlQF8"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b268ba-49dc74dd24c0272e08f29d58"}}'
  recorded_at: Wed, 22 Jun 2022 00:56:26 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/96G2MJVXX6.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-Pvoi/0BS/Mb4zOMRiMf4LUi5YF8"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b268ba-4f01d06e24ec25bc47e27200"}}'
  recorded_at: Wed, 22 Jun 2022 00:56:26 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/96QM6X6Q61.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-y8SyDutW5MufXsCCkAGLsDATOts"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b268bb-19d3186b7ec8ecd861527b2d"}}'
  recorded_at: Wed, 22 Jun 2022 00:56:27 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/J8YQZ1JGM3.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-0/hkd7qqwWI2IKw0KtjBtvtwGIg"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b268bb-0ac25ce335d65f49690d56f0"}}'
  recorded_at: Wed, 22 Jun 2022 00:56:27 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/Y899RPZJQQ.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-m+E52VhI0cs+GD1fjxONL169OzM"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b268bb-793c2c4f60587baf3a53f29c"}}'
  recorded_at: Wed, 22 Jun 2022 00:56:27 GMT
recorded_with: VCR 6.1.0
