---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/s/extended.json?extendedEntities=true&ignoreRange=true&isFuzzy=true&offset=10&order=desc&orderBy=score&publishLevel=notyet%2Cready%2Cfull%2Climited%2Cgone&size=10&type=tvepisode
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - W/"1eb30-BzXljqjLZ9+sIWYvYGQKYYJCKbw"
    body:
      encoding: UTF-8
      string: '{"result":{"tvepisode":{"result":[{"type":"TVEpisode","id":"7QPPXK67ML","name":"2020年4月1日午前11:59","identifierGroup":{"episodeId":"7QPPXK67ML","tvEpisodeId":"7QPPXK67ML","seriesId":"QP7RGK6L8M","tvSeriesId":"QP7RGK6L8M","episodeName":"2020年4月1日午前11:59","tvEpisodeName":"2020年4月1日午前11:59","seriesName":"緊急警報試験信号","tvSeriesName":"緊急警報試験信号","hashtag":[],"serviceId":["g1","g2"],"formatGenreTag":[{"id":"01","name":"報道"}]},"identifierGroupEx":{"seriesGroupId":"BLR12M559N","tvSeriesGroupId":"BLR12M559N","seriesGroupName":"緊急警報試験信号","tvSeriesGroupName":"緊急警報試験信号","episodeNameTemp":"2020年4月1日午前11:59","tvEpisodeNameTemp":"2020年4月1日午前11:59","seriesNameTemp":"緊急警報試験信号","tvSeriesNameTemp":"緊急警報試験信号","releasedEventServiceIdTemp":"g1","releasedEventStartDateTemp":"2020-04-01T11:59:00+09:00","releasedEventEndDateTemp":"2020-04-01T12:00:00+09:00"},"keywords":[],"description":"","dateCreated":"2020-03-24T14:13:01+09:00","dateModified":"2022-05-25T05:07:59+09:00","actors":[],"contributors":[],"partOfSeries":{"id":"QP7RGK6L8M","name":"緊急警報試験信号","identifierGroup":{"seriesId":"QP7RGK6L8M","tvSeriesId":"QP7RGK6L8M","seriesName":"緊急警報試験信号","tvSeriesName":"緊急警報試験信号","hashtag":[],"serviceId":["g1","g2"]},"identifierGroupEx":{"seriesGroupId":"BLR12M559N","tvSeriesGroupId":"BLR12M559N","seriesGroupName":"緊急警報試験信号","tvSeriesGroupName":"緊急警報試験信号","seriesNameTemp":"緊急警報試験信号","tvSeriesNameTemp":"緊急警報試験信号"},"url":"https://dev-www.nhk.jp/p/ts/QP7RGK6L8M/","canonical":"https://dev-www.nhk.jp/p/ts/QP7RGK6L8M/","description":"","logo":{"main":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/QP7RGK6L8M/QP7RGK6L8M-logo_4b30cb59ccdafe075d3d04b5f0883128.jpg","width":1080,"height":1080},"medium":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/QP7RGK6L8M/QP7RGK6L8M-logo_6d8de20ae39d2c1df49fd0ef741db158.jpg","width":640,"height":640}},"eyecatch":{"main":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/QP7RGK6L8M/QP7RGK6L8M-eyecatch_b2087e4d47922983d257068dd5051250.jpg","width":1920,"height":1080},"tver":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/QP7RGK6L8M/QP7RGK6L8M-eyecatch_42b114e2820803c62aa85871fccacc2f.jpg","width":928,"height":522},"medium":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/QP7RGK6L8M/QP7RGK6L8M-eyecatch_7052b394ed2a20549887e68610472207.jpg","width":640,"height":360}},"hero":{"main":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/QP7RGK6L8M/QP7RGK6L8M-hero_8a2ab250ff84fec63498e0cba7e1fe1c.jpg","width":1920,"height":640},"medium":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/QP7RGK6L8M/QP7RGK6L8M-hero_2bf3a45c82294dff3abd644f2989b2c7.jpg","width":1080,"height":360}},"style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#804000","linkDark":"#AD845B","primaryLight":"#804000","primaryDark":"#97632F"},"additionalProperty":{"publishLevel":"notyet","layoutPattern":"summary","episodeOrderBy":"releasedEvent","availableOnPlus":false,"enableVariablePlayBackSpeedControl":false,"optional":[],"seriesPackStatus":"notPacked"}},"releasedEvent":{"startDate":"2020-04-01T11:59:00+09:00","endDate":"2020-04-01T12:00:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHK総合テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_m.png","width":640,"height":360},"eyecatchLarge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_l.png","width":1280,"height":720},"eyecatch":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch.png","width":1920,"height":1080},"heroMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero_m.png","width":1080,"height":360},"hero":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero.png","width":1920,"height":640},"logoSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_s.png","width":200,"height":200},"logoMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_m.png","width":640,"height":640},"logo":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo.png","width":1080,"height":1080}},"identifierGroup":{"serviceId":"g1","serviceName":"NHK総合1","shortenedName":"NHK総合1","shortenedDisplayName":"総合"}}},"detailedRecentEvent":{"id":"g1-150-2022060136463","startDate":"2022-06-01T11:59:00+09:00","endDate":"2022-06-01T12:00:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHK総合テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge.png","width":200,"height":10[...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/7QPPXK67ML.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-Mg8xAKZqHfq0IWOT0SIHh8hhdGw"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b26726-0797b84c0b8f0152446ad5b3"}}'
  recorded_at: Wed, 22 Jun 2022 00:49:43 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/6J65Q2NW1N.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-CC0bleO42Zu6oTmj7/aOMtC4d+s"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b26727-05a2c975419b42c03f93bf70"}}'
  recorded_at: Wed, 22 Jun 2022 00:49:43 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/BK47VL6YMQ.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-c3LGi+FRbtg2D1H4aI4GrTVRSLw"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b26727-01aabb806db02c196af9dcab"}}'
  recorded_at: Wed, 22 Jun 2022 00:49:43 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/8XNVYYQ4V1.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-XXLJuMhYULqabC1lLcUQJYdyrIs"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b26727-098b5ccc6eae9d221cf113ab"}}'
  recorded_at: Wed, 22 Jun 2022 00:49:43 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/VPJ5YN8WGX.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-is/opytYH9Hx0/s4YEifM0vDmYs"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b26728-5e045b3f003e7fb42507d229"}}'
  recorded_at: Wed, 22 Jun 2022 00:49:44 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/N3QXP491X7.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-69RjC5fOVGF5AoktM++qNh7vEgA"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b26728-151fade644110729167ce640"}}'
  recorded_at: Wed, 22 Jun 2022 00:49:44 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/Z5RRXQVW3K.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-0qqVArz+dwzDTDGRc77F+xl38qw"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b26728-518bd82038b949444ef481ea"}}'
  recorded_at: Wed, 22 Jun 2022 00:49:44 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/12K7QK4YL2.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-pzJeDp+r5QFgx5yOwUCECaa7LHU"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b26728-6b66e3fc26fa61f70b5cbeb4"}}'
  recorded_at: Wed, 22 Jun 2022 00:49:44 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/KQ2KQ2KRV9.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-jwts5lvw2GHYCXM62gK06khz4Jw"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b26728-163d77220ec044f54af2bee2"}}'
  recorded_at: Wed, 22 Jun 2022 00:49:44 GMT
recorded_with: VCR 6.1.0
