---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/s/extended.json?extendedEntities=true&ignoreRange=true&isFuzzy=true&offset=0&order=desc&orderBy=score&publishLevel=notyet%2Cready%2Cfull%2Climited%2Cgone&size=10&type=tvseries&vService=g1%2Cg2%2Ce1%2Ce3&word=%E3%83%96%E3%83%A9%E3%82%BF%E3%83%A2%E3%83%AA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"51e0482"'
      etag:
      - W/"6d9c-ZCc9hSX5Y+KWMNkJvC2G6KWKh1c"
    body:
      encoding: UTF-8
      string: '{"result":{"tvseries":{"result":[{"type":"TVSeries","id":"NJY25QN17P","name":"ブラタモリ","identifierGroup":{"tvSeriesId":"NJY25QN17P","tvSeriesName":"ブラタモリ","hashtag":[],"serviceId":["s5"]},"identifierGroupEx":{"tvSeriesGroupId":"YMX747N363","tvSeriesGroupName":"ブラタモリ","tvSeriesNameTemp":"ブラタモリ"},"keywords":[],"description":"","style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#990099","linkDark":"#C46BC4","primaryLight":"#990099","primaryDark":"#B13CB1"},"dateCreated":"2019-12-21T01:02:47+09:00","dateModified":"2022-04-19T14:33:45+09:00","actors":[],"contributors":[],"logo":{"main":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/NJY25QN17P/NJY25QN17P-logo_a6212b187c2a09c1a92d4fbc19d5ba70.jpg","width":1080,"height":1080},"medium":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/NJY25QN17P/NJY25QN17P-logo_5039594b73bed472883bc58ea45f5ef7.jpg","width":640,"height":640}},"eyecatch":{"main":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/NJY25QN17P/NJY25QN17P-eyecatch_d04721e37f110631b76891c167ae0e95.jpg","width":1920,"height":1080},"tver":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/NJY25QN17P/NJY25QN17P-eyecatch_3b202cc7f77f07a4701aba5dafce40ea.jpg","width":928,"height":522},"medium":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/NJY25QN17P/NJY25QN17P-eyecatch_bcfd9643fc6b6ab03e0e88fc17090e99.jpg","width":640,"height":360}},"hero":{"main":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/NJY25QN17P/NJY25QN17P-hero_e0e701b44c76fe92158676ffeea739b4.jpg","width":1920,"height":640},"medium":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/NJY25QN17P/NJY25QN17P-hero_ea38938474cc98de8a7f1f62be8cdb42.jpg","width":1080,"height":360}},"videos":[],"releasedEvent":{},"citations":[],"detailedTimetable":[],"url":"https://dev-api.nr.nhk.jp/r6/t/tvseries/ts/NJY25QN17P.json","sameAs":[],"detailedMemo":[],"additionalProperty":{"publishLevel":"notyet","layoutPattern":"summary","episodeOrderBy":"releasedEvent","availableOnPlus":false,"enableVariablePlayBackSpeedControl":false,"optional":[],"seriesPackStatus":"notPacked"},"isPublishedSeries":false,"isPublished":false},{"type":"TVSeries","id":"XXQ411P4Z8","name":"(ブラタモリ
        次回予告)","identifierGroup":{"tvSeriesId":"XXQ411P4Z8","tvSeriesName":"(ブラタモリ
        次回予告)","hashtag":[],"serviceId":[]},"identifierGroupEx":{"tvSeriesGroupId":"ZZZ5282QNX","tvSeriesGroupName":"(ブラタモリ
        次回予告)","tvSeriesNameTemp":"(ブラタモリ 次回予告)"},"keywords":[],"description":"","style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#9E6D00","linkDark":"#F6AA00","primaryLight":"#C68900","primaryDark":"#F6AA00"},"dateCre[...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/tvepisode/ts/NJY25QN17P.json?availableOn=okushibu&extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"51e0482"'
      etag:
      - '"71-27PoSb2wdFxDMr7N775Sl+WFHRY"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid SeriesId.","requestId":"Root=1-63563e6c-16d16443754af2c973012f79"}}'
  recorded_at: Mon, 24 Oct 2022 07:27:39 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/tvepisode/ts/XXQ411P4Z8.json?availableOn=okushibu&extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"51e0482"'
      etag:
      - '"71-zoAbvJWWqMHSd1kem3s7rAcOYBs"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid SeriesId.","requestId":"Root=1-63563e6c-571ebe3b4df065401a24dae7"}}'
  recorded_at: Mon, 24 Oct 2022 07:27:40 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/tvepisode/ts/D8K46WY9MZ.json?availableOn=okushibu&extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"51e0482"'
      etag:
      - W/"369d5-jfp4Dr8hYdL2/ndabnUzhU36U5U"
    body:
      encoding: UTF-8
      string: '{"result":[{"type":"TVEpisode","id":"VR6GLWV21L","name":"「国境の島・対馬 〜日本史最前線!国境の島が果たした役割とは?」","identifierGroup":{"tvEpisodeId":"VR6GLWV21L","tvSeriesId":"D8K46WY9MZ","tvEpisodeName":"「国境の島・対馬
        〜日本史最前線!国境の島が果たした役割とは?」","tvSeriesName":"ブラタモリ","hashtag":[],"serviceId":["g1","g2"],"formatGenreTag":[{"id":"05","name":"バラエティ"}],"themeGenreTag":[{"id":"084","name":"旅"}]},"identifierGroupEx":{"tvSeriesGroupId":"YMX747N363","tvSeriesGroupName":"ブラタモリ","tvEpisodeNameTemp":"「国境の島・対馬
        〜日本史最前線!国境の島が果たした役割とは?」","tvSeriesNameTemp":"ブラタモリ","releasedEventIdTemp":"g1-130-2022102201975","releasedEventServiceIdTemp":"g1","releasedEventStartDateTemp":"2022-10-22T19:30:00+09:00","releasedEventEndDateTemp":"2022-10-22T20:15:00+09:00"},"keywords":[],"description":"今回は国境の島・対馬の後編。蒙古襲来の戦場はいずこ？外交問題を乗り切る奇想天外な知恵とは？美しく壮麗な城下町、石の秘密！タモリさんがブラブラ歩いて解き明かす！","dateCreated":"2022-09-30T18:42:39+09:00","dateModified":"2022-10-15T05:06:23+09:00","actors":[],"contributors":[],"partOfSeries":{"id":"D8K46WY9MZ","name":"ブラタモリ","detailedSeriesNameRuby":"","identifierGroup":{"tvSeriesId":"D8K46WY9MZ","tvSeriesName":"ブラタモリ","hashtag":[],"serviceId":["g1","g2"]},"identifierGroupEx":{"tvSeriesGroupId":"YMX747N363","tvSeriesGroupName":"ブラタモリ","tvSeriesNameTemp":"ブラタモリ"},"url":"https://dev-api.nr.nhk.jp/r6/t/tvseries/ts/D8K46WY9MZ.json","canonical":"https://dev-www.nhk.jp/p/ts/D8K46WY9MZ/","description":"","detailedCatch":"","logo":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/D8K46WY9MZ/D8K46WY9MZ-logo_0a86944c0b1e7ff3f1ee4a329c1b6353.jpg","width":1080,"height":1080},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/D8K46WY9MZ/D8K46WY9MZ-logo_aa62f95bd282db8ef1986c4e0c81cbbc.jpg","width":640,"height":640}},"eyecatch":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/D8K46WY9MZ/D8K46WY9MZ-eyecatch_005920156ef538d45e758054534e9819.jpg","width":[...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/tvepisode/ts/83P4NJ1ZM5.json?availableOn=okushibu&extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"51e0482"'
      etag:
      - '"71-0zT2tDakalYOECOk460luZvxIcc"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid SeriesId.","requestId":"Root=1-63563e6c-2a6c4847550a576a780c4215"}}'
  recorded_at: Mon, 24 Oct 2022 07:27:40 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/tvepisode/ts/1VWM12G977.json?availableOn=okushibu&extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"51e0482"'
      etag:
      - '"71-Flb4YC9FL4GHwL/F4wIV0D1SzoM"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid SeriesId.","requestId":"Root=1-63563e6c-443dc2cc1e26e41f2a30a703"}}'
  recorded_at: Mon, 24 Oct 2022 07:27:40 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/tvepisode/ts/77M2RQ7KMJ.json?availableOn=okushibu&extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"51e0482"'
      etag:
      - '"71-6xmZcPZeoni5PsFrQCgm80jFRaY"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid SeriesId.","requestId":"Root=1-63563e6c-64065d0307861c254f94aa76"}}'
  recorded_at: Mon, 24 Oct 2022 07:27:40 GMT
recorded_with: VCR 6.1.0
