---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/l/tvepisode/pl/recommend-tep-0000000055.json?contentsType=nplaylist&isFuzzy=true&modeOfItem=tv&offset=10&order=desc&orderBy=score&publishLevel=notyet%2Cready%2Cfull%2Climited%2Cgone&size=10&type=nplaylist&typeOfList=recommend&word=%E9%8E%8C%E5%80%89%E6%AE%BF%E3%81%AE%E6%97%AC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"51e0482"'
      etag:
      - W/"c90c-xlaZpu6nxx/opd0wyAjbDo07PyA"
    body:
      encoding: UTF-8
      string: '{"result":[{"type":"TVEpisode","id":"JPQRKML6VP","name":"『鎌倉殿の13人』壇ノ浦直前SP
        ▽ゲスト 菅田将暉","identifierGroup":{"tvEpisodeId":"JPQRKML6VP","tvSeriesId":"X5LYVNKNKL","tvEpisodeName":"『鎌倉殿の13人』壇ノ浦直前SP
        ▽ゲスト 菅田将暉","tvSeriesName":"土曜スタジオパーク","hashtag":[],"serviceId":["g1","g2"],"formatGenreTag":[{"id":"08","name":"PR・お知らせ"},{"id":"05","name":"バラエティ"}]},"keywords":[],"description":"ゲストは、源義経を演じる菅田将暉さん。役への思いや撮影秘話などを伺います。小栗旬さん、中村獅童さん、田中泯さんが証言。菅田さんが若者の声に応えるコーナーも！","dateCreated":"2022-03-21T18:14:59+09:00","dateModified":"2022-05-06T11:38:32+09:00","actors":[],"contributors":[],"partOfSeries":{"id":"X5LYVNKNKL","name":"土曜スタジオパーク","identifierGroup":{"tvSeriesId":"X5LYVNKNKL","tvSeriesName":"土曜スタジオパーク","hashtag":[],"serviceId":["g1","g2"]},"url":"https://dev-api.nr.nhk.jp/r6/t/tvseries/ts/X5LYVNKNKL.json","canonical":"https://dev-www.poc.nhk.jp/playlist/ts-X5LYVNKNKL/","description":"","logo":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/X5LYVNKNKL/X5LYVNKNKL-logo_6470de5fce53e011640e3494184daa4d.jpg","width":1080,"height":1080},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/X5LYVNKNKL/X5LYVNKNKL-logo_a6cb4f71e4a9b200fe5bc1383bff7ebe.jpg","width":640,"height":640}},"eyecatch":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/X5LYVNKNKL/X5LYVNKNKL-eyecatch_2cc494d44a8c825c9b6e76c01e8e6698.jpg","width":1920,"height":1080},"tver":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/X5LYVNKNKL/X5LYVNKNKL-eyecatch_fbf28785645a2cdad65abe9467571cfc.jpg","width":928,"height":522},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/X5LYVNKNKL/X5LYVNKNKL-eyecatch_27f35c8400060a8f1e38d9e2d3a18d50.jpg","width":640,"height":360}},"hero":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/X5LYVNKNKL/X5LYVNKNKL-hero_d5cfca7ded0c99446ea4d0e4efa44c82.jpg","width":1920,"height":640},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/X5LYVNKNKL/X5LYVNKNKL-hero_01eae62fafb7544c33dcd547fdaf69f2.jpg","width":1080,"height":360}},"style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#804000","linkDark":"#AD845B","primaryLight":"#804000","primaryDark":"#97632F"},"additionalProperty":{"publishLevel":"full","layoutPattern":"summary","episodeOrderBy":"releasedEvent","availableOnPlus":false,"enableVariablePlayBackSpeedControl":false,"optional":[],"seriesPackStatus":"notPacked"}},"releasedEvent":{"startDate":"2022-05-07T13:55:00+09:00","endDate":"2022-05-07T14:55:00+09:00","publishedOn":{"type":"BroadcastService","id":"bs-g1-130","name":"NHK総合テレビジョン","url":"https://dev-api.nr.nhk.jp/r6.0/t/broadcastservice/bs/g1-130.json","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_m.png","width":640,"height":360},"eyecatchLarge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_l.png","width":1280,"height":720},"eyecatch":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch.png","width":1920,"height":1080},"heroMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero_m.png","width":1080,"height":360},"hero":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero.png","width":1920,"height":640},"logoSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_s.png","width":200,"height":200},"logoMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_m.png","width":640,"height":640},"logo":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo.png","width":1080,"height":1080}},"identifierGroup":{"serviceId":"g1","serviceName":"NHK総合1","shortenedName":"NHK総合1","shortenedDisplayName":"総合"}}},"detailedRecentEvent":{"startDate":"2022-05-07T13:55:00+09:00","endDate":"2022-05-07T14:55:00+09:00","publishedOn":{"type":"BroadcastService","id":"bs-g1-130","name":"NHK総合テレビジョン","url":"https://dev-api.nr.nhk.jp/r6.0/t/broadcastservice/bs/g1-130.json","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/image[...]
