---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/s/extended.json?contentsType=nplaylist&extendedEntities=true&ignoreRange=true&isFuzzy=true&modeOfItem=tv&offset=10&order=desc&orderBy=score&publishLevel=notyet%2Cready%2Cfull%2Climited%2Cgone&size=10&type=nplaylist&typeOfList=recommend&word=%E9%8E%8C%E5%80%89%E6%AE%BF%E3%81%AE%E6%97%AC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"3667393"'
      etag:
      - '"33f-TyhtOoHQCPQ78uYuB1GRvA/wrto"'
    body:
      encoding: UTF-8
      string: '{"result":{"nplaylist":{"result":[],"resultUrl":"https://dev-api.nr.nhk.jp/r6.0/s/extended.json?modeOfItem=tv&type=nplaylist&word=%E9%8E%8C%E5%80%89%E6%AE%BF%E3%81%AE%E6%97%AC&orderBy=score&order=desc&isFuzzy=true&publishLevel=notyet,ready,full,limited,gone&typeOfList=recommend&offset=10&size=10","prevUrl":"https://dev-api.nr.nhk.jp/r6.0/s/extended.json?modeOfItem=tv&type=nplaylist&word=%E9%8E%8C%E5%80%89%E6%AE%BF%E3%81%AE%E6%97%AC&orderBy=score&order=desc&isFuzzy=true&publishLevel=notyet,ready,full,limited,gone&typeOfList=recommend&offset=0&size=10","count":1}},"resultUrl":"https://dev-api.nr.nhk.jp/r6.0/s/extended.json?modeOfItem=tv&type=nplaylist&word=%E9%8E%8C%E5%80%89%E6%AE%BF%E3%81%AE%E6%97%AC&orderBy=score&order=desc&isFuzzy=true&publishLevel=notyet,ready,full,limited,gone&typeOfList=recommend&offset=10&size=10"}'
  recorded_at: Fri, 24 Jun 2022 03:12:39 GMT
recorded_with: VCR 6.1.0
