---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/s/extended.json?contentsType=nplaylist&extendedEntities=true&ignoreRange=true&isFuzzy=true&modeOfItem=tv&offset=0&order=desc&orderBy=score&publishLevel=notyet%2Cready%2Cfull%2Climited%2Cgone&size=10&type=nplaylist&typeOfList=recommend&word=%E9%8E%8C%E5%80%89%E6%AE%BF%E3%81%AE%E6%97%AC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"3667393"'
      etag:
      - W/"b75-sjZC8BHH62SpEX22Ozm/mzNsZo0"
    body:
      encoding: UTF-8
      string: '{"result":{"nplaylist":{"result":[{"type":"NPlaylist","id":"recommend-tep-0000000055","name":"鎌倉殿の旬","detailedCatch":"小栗旬が鎌倉殿関連番組をいざ監修","detailedPlaylistNameRuby":"","identifierGroup":{"playlistUId":"6e7c1a4d-73c8-40f2-b917-9db05814ad78","playlistId":"recommend-tep-0000000055","playlistName":"鎌倉殿の旬","hashtag":[]},"additionalProperty":{"layoutPattern":"summary","publishLevel":"full","typeOfList":"recommend","modeOfItem":"tv","typeOfItem":"TVEpisode"},"relatedDeck":[],"logo":{"main":{"url":"https://dev-img-eh.poc.nhk.jp/static/assets/images/playlist/pl/recommend-tep-0000000055/recommend-tep-0000000055-logo_cb825e308e23634a3f39b205ad94ed2f.jpg","width":1080,"height":1080},"medium":{"url":"https://dev-img-eh.poc.nhk.jp/static/assets/images/playlist/pl/recommend-tep-0000000055/recommend-tep-0000000055-logo_0d3014513573507f36127b541ed222c5.jpg","width":640,"height":640}},"eyecatch":{"main":{"url":"https://dev-img-eh.poc.nhk.jp/static/assets/images/playlist/pl/recommend-tep-0000000055/recommend-tep-0000000055-eyecatch_88c476668cfc92789a9a30777c228c60.jpg","width":1920,"height":1080},"medium":{"url":"https://dev-img-eh.poc.nhk.jp/static/assets/images/playlist/pl/recommend-tep-0000000055/recommend-tep-0000000055-eyecatch_6a6d66ad6cdaed71097570c68bb95dca.jpg","width":640,"height":360}},"hero":{"main":{"url":"https://dev-img-eh.poc.nhk.jp/static/assets/images/playlist/pl/recommend-tep-0000000055/recommend-tep-0000000055-hero_39fb1776b18d8860ee8e3290618efd94.jpg","width":1920,"height":640},"medium":{"url":"https://dev-img-eh.poc.nhk.jp/static/assets/images/playlist/pl/recommend-tep-0000000055/recommend-tep-0000000055-hero_6fb97fb36977b0952ceca504c28df68f.jpg","width":1080,"height":360}},"sameAs":[],"style":{"textLight":"#000000","textDark":"#ffffff","linkLight":"#747474","linkDark":"#ffffff","primaryLight":"#929292","primaryDark":"#ffffff"},"dateCreated":"2022-06-09T10:37:24+09:00","dateModified":"2022-06-09T11:15:00+09:00","url":"https://dev-api.nr.nhk.jp/r6.0/t/nplaylist/pl/recommend-tep-0000000055.json?type=tvepisode&area=130&itemOrder=desc&itemOffset=0&itemSize=10","itemUrl":"https://dev-api.nr.nhk.jp/r6.0/l/tvepisode/pl/recommend-tep-0000000055.json?order=desc&offset=0&size=10","canonical":"https://dev-www.poc.nhk.jp/playlist/recommend-tep-0000000055/","actors":[],"contributors":[],"keywords":[],"citations":[]}],"resultUrl":"https://dev-api.nr.nhk.jp/r6.0/s/extended.json?modeOfItem=tv&type=nplaylist&word=%E9%8E%8C%E5%80%89%E6%AE%BF%E3%81%AE%E6%97%AC&orderBy=score&order=desc&isFuzzy=true&publishLevel=notyet,ready,full,limited,gone&typeOfList=recommend&offset=0&size=10","count":1}},"resultUrl":"https://dev-api.nr.nhk.jp/r6.0/s/extended.json?modeOfItem=tv&type=nplaylist&word=%E9%8E%8C%E5%80%89%E6%AE%BF%E3%81%AE%E6%97%AC&orderBy=score&order=desc&isFuzzy=true&publishLevel=notyet,ready,full,limited,gone&typeOfList=recommend&offset=0&size=10"}'
  recorded_at: Fri, 24 Jun 2022 03:12:36 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/l/tvepisode/pl/recommend-tep-0000000055.json?contentsType=nplaylist&isFuzzy=true&modeOfItem=tv&offset=0&order=desc&orderBy=score&publishLevel=notyet%2Cready%2Cfull%2Climited%2Cgone&size=10&type=nplaylist&typeOfList=recommend&word=%E9%8E%8C%E5%80%89%E6%AE%BF%E3%81%AE%E6%97%AC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"3667393"'
      etag:
      - W/"1119f-VVhUcHH5/DnVQE3cNyo4l4Kw9AM"
    body:
      encoding: UTF-8
      string: '{"result":[{"type":"TVEpisode","id":"JPLG72NXJ9","name":"大河ドラマ『鎌倉殿の13人』特集
        ▽ゲスト 小栗旬","identifierGroup":{"episodeId":"JPLG72NXJ9","tvEpisodeId":"JPLG72NXJ9","seriesId":"X5LYVNKNKL","tvSeriesId":"X5LYVNKNKL","episodeName":"大河ドラマ『鎌倉殿の13人』特集
        ▽ゲスト 小栗旬","tvEpisodeName":"大河ドラマ『鎌倉殿の13人』特集 ▽ゲスト 小栗旬","seriesName":"土曜スタジオパーク","tvSeriesName":"土曜スタジオパーク","hashtag":[],"serviceId":["g1","g2"],"formatGenreTag":[{"id":"08","name":"PR・お知らせ"},{"id":"05","name":"バラエティ"}]},"keywords":[],"description":"ゲストは、主演の小栗旬さん。北条義時への思い、今後の展開への期待など、見どころを伺います。大泉洋さん（源頼朝）、小池栄子さん（北条政子）ら共演者が舞台裏を証言！","dateCreated":"2021-11-29T19:30:18+09:00","dateModified":"2022-01-26T00:40:42+09:00","actors":[],"contributors":[],"partOfSeries":{"id":"X5LYVNKNKL","name":"土曜スタジオパーク","identifierGroup":{"seriesId":"X5LYVNKNKL","tvSeriesId":"X5LYVNKNKL","seriesName":"土曜スタジオパーク","tvSeriesName":"土曜スタジオパーク","hashtag":[],"serviceId":["g1","g2"]},"url":"https://dev-www.nhk.jp/p/ts/X5LYVNKNKL/","canonical":"https://dev-www.poc.nhk.jp/playlist/ts-X5LYVNKNKL/","description":"","logo":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/X5LYVNKNKL/X5LYVNKNKL-logo_6470de5fce53e011640e3494184daa4d.jpg","width":1080,"height":1080},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/X5LYVNKNKL/X5LYVNKNKL-logo_a6cb4f71e4a9b200fe5bc1383bff7ebe.jpg","width":640,"height":640}},"eyecatch":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/X5LYVNKNKL/X5LYVNKNKL-eyecatch_2cc494d44a8c825c9b6e76c01e8e6698.jpg","width":1920,"height":1080},"tver":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/X5LYVNKNKL/X5LYVNKNKL-eyecatch_fbf28785645a2cdad65abe9467571cfc.jpg","width":928,"height":522},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/X5LYVNKNKL/X5LYVNKNKL-eyecatch_27f35c8400060a8f1e38d9e2d3a18d50.jpg","width":640,"height":360}},"hero":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/X5LYVNKNKL/X5LYVNKNKL-hero_d5cfca7ded0c99446ea4d0e4efa44c82.jpg","width":1920,"height":640},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/X5LYVNKNKL/X5LYVNKNKL-hero_01eae62fafb7544c33dcd547fdaf69f2.jpg","width":1080,"height":360}},"style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#804000","linkDark":"#AD845B","primaryLight":"#804000","primaryDark":"#97632F"},"additionalProperty":{"publishLevel":"full","layoutPattern":"summary","episodeOrderBy":"releasedEvent","availableOnPlus":false,"enableVariablePlayBackSpeedControl":false,"optional":[],"seriesPackStatus":"notPacked"}},"releasedEvent":{"startDate":"2022-01-15T14:05:00+09:00","endDate":"2022-01-15T15:00:00+09:00","publishedOn":{"type":"BroadcastService","id":"bs-g1-130","name":"NHK総合テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_m.png","width":640,"height":360},"eyecatchLarge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_l.png","width":1280,"height":720},"eyecatch":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch.png","width":1920,"height":1080},"heroMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero_m.png","width":1080,"height":360},"hero":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero.png","width":1920,"height":640},"logoSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_s.png","width":200,"height":200},"logoMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_m.png","width":640,"height":640},"logo":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo.png","width":1080,"height":1080}},"identifierGroup":{"serviceId":"g1","serviceName":"NHK総合1","shortenedName":"NHK総合1","shortenedDisplayName":"総合"}}},"detailedRecentEvent":{"startDate":"2022-01-15T14:05:00+09:00","endDate":"2022-01-15T15:00:00+09:00","publishedOn":{"type":"BroadcastService","id":"bs-g1-130","name":"NHK総合テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge.png","width":200,"height":100},"eyecatc[...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/l/tvepisode/pl/recommend-tep-0000000055.json?availableOn=okushibu3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"3667393"'
      etag:
      - W/"5588-c0QwsLTFsRpENn+qC75HabUNq/4"
    body:
      encoding: UTF-8
      string: '{"result":[{"type":"TVEpisode","id":"W4Y5XV3PYM","name":"「鎌倉殿の13人」","identifierGroup":{"episodeId":"W4Y5XV3PYM","tvEpisodeId":"W4Y5XV3PYM","seriesId":"RNXV19K791","tvSeriesId":"RNXV19K791","episodeName":"「鎌倉殿の13人」","tvEpisodeName":"「鎌倉殿の13人」","seriesName":"100カメ","tvSeriesName":"100カメ","hashtag":[],"serviceId":["g1","g2"]},"keywords":[],"description":"「鎌倉殿の１３人」の制作現場に潜入！俳優・エキストラ・スタッフ合計２００人以上、動物７０頭、大規模ロケの裏側で繰り広げられたもうひとつのドラマとは？","dateCreated":"2022-06-05T17:09:02+09:00","dateModified":"2022-06-07T05:07:14+09:00","actors":[],"contributors":[],"partOfSeries":{"id":"RNXV19K791","name":"100カメ","detailedSeriesNameRuby":"","identifierGroup":{"seriesId":"RNXV19K791","tvSeriesId":"RNXV19K791","seriesName":"100カメ","tvSeriesName":"100カメ","hashtag":[],"serviceId":["g1","g2"]},"url":"https://dev-www.nhk.jp/p/ts/RNXV19K791/","canonical":"https://dev-www.poc.nhk.jp/playlist/ts-RNXV19K791/","description":"100カメ\r\n2022年4月5日放送開始（予定）の番組シリーズです","detailedCatch":"","logo":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/RNXV19K791/RNXV19K791-logo_3891064a5572f217c29e53b836993193.jpg","width":1080,"heig[...]
