---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/s/extended.json?extendedEntities=true&ignoreRange=true&isFuzzy=true&offset=0&order=desc&orderBy=score&publishLevel=notyet%2Cready%2Cfull%2Climited%2Cgone&service=g1%2Cg2%2Ce1%2Ce3&size=10&type=tvepisode
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"78d3ae1"'
      etag:
      - '"2ec-/RbgHJWP1KI10BaCZu+Wf/PEplw"'
    body:
      encoding: UTF-8
      string: '{"result":{"tvepisode":{"result":[],"nextUrl":"https://dev-api.nr.nhk.jp/r6/s/extended.json?service=g1,g2,e1,e3&type=tvepisode&orderBy=score&order=desc&isFuzzy=true&publishLevel=notyet,ready,full,limited,gone&offset=10&size=10&ignoreRange=true&extendedEntities=true","resultUrl":"https://dev-api.nr.nhk.jp/r6/s/extended.json?service=g1,g2,e1,e3&type=tvepisode&orderBy=score&order=desc&isFuzzy=true&publishLevel=notyet,ready,full,limited,gone&offset=0&size=10&ignoreRange=true&extendedEntities=true","count":193920}},"resultUrl":"https://dev-api.nr.nhk.jp/r6/s/extended.json?service=g1,g2,e1,e3&type=tvepisode&orderBy=score&order=desc&isFuzzy=true&publishLevel=notyet,ready,full,limited,gone&offset=0&size=10&ignoreRange=true&extendedEntities=true"}'
  recorded_at: Wed, 22 Jun 2022 09:17:51 GMT
recorded_with: VCR 6.1.0
