---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/s/extended.json?extendedEntities=true&ignoreRange=true&isFuzzy=true&offset=0&order=desc&orderBy=score&publishLevel=notyet%2Cready%2Cfull%2Climited%2Cgone&size=10&type=tvepisode
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"60d811f"'
      etag:
      - W/"1f34-5koAsKsXfwOG0YieOeYb3y7ilYQ"
    body:
      encoding: UTF-8
      string: '{"result":{"tvepisode":{"result":[{"type":"TVEpisode","id":"Y3XNWR54KL","name":"「在任期間歴代最長に
        黒田日銀の功罪」","identifierGroup":{"episodeId":"Y3XNWR54KL","tvEpisodeId":"Y3XNWR54KL","seriesId":"4V23PRP3YR","tvSeriesId":"4V23PRP3YR","episodeName":"「在任期間歴代最長に
        黒田日銀の功罪」","tvEpisodeName":"「在任期間歴代最長に 黒田日銀の功罪」","seriesName":"時論公論","tvSeriesName":"時論公論","hashtag":[],"serviceId":["g1","g2","s1","s2"],"formatGenreTag":[{"id":"01","name":"報道"}]},"identifierGroupEx":{"seriesGroupId":"W4YQLX54W5","tvSeriesGroupId":"W4YQLX54W5","seriesGroupName":"時論公論","tvSeriesGroupName":"時論公論","episodeNameTemp":"「在任期間歴代最長に
        黒田日銀の功罪」","tvEpisodeNameTemp":"「在任期間歴代最長に 黒田日銀の功罪」","seriesNameTemp":"時論公論","tvSeriesNameTemp":"時論公論","releasedEventServiceIdTemp":"g1","releasedEventStartDateTemp":"2021-09-27T23:20:00+09:00","releasedEventEndDateTemp":"2021-09-27T23:30:00+09:00"},"keywords":[],"description":"日銀の黒田総裁の在任期間が、歴代最長へ。黒田日銀が行ってきた金融政策は日本経済にどのような影響を与えたのか。その意味と今後の課題を解説。","dateCreated":"2021-08-18T16:32:55+09:00","dateModified":"2021-09-25T11:00:21+09:00","actors":[],"contributors":[],"partOfSeries":{"id":"4V23PRP3YR","name":"時論公論","detailedSeriesNameRuby":"じろんこうろん","identifierGroup":{"seriesId":"4V23PRP3YR","tvSeriesId":"4V23PRP3YR","seriesName":"時論公論","tvSeriesName":"時論公論","hashtag":[],"serviceId":["g1","g2","s1","s2"],"formatGenre":[{"id":"01","name":"報道"}]},"identifierGroupEx":{"seriesGroupId":"W4YQLX54W5","tvSeriesGroupId":"W4YQLX54W5","seriesGroupName":"時論公論","tvSeriesGroupName":"時論公論","seriesNameTemp":"時論公論","tvSeriesNameTemp":"時論公論"},"url":"https://dev-www.nhk.jp/p/ts/4V23PRP3YR/","canonical":"https://dev-www.nhk.jp/p/ts/4V23PRP3YR/","description":"混沌とした時代、次々と押し寄せるニュースの裏に、何があるのか？　「時論公論」は“明日を生きる指針”を提供する解説番組です。","detailedCatch":"10分に込めた、明日への指針。","logo":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/4V23PRP3YR/4V23PRP3YR-logo_592b2cc22a20bf110ee877275564af2a.png","width":1080,"height":1080},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/4V23PRP3YR/4V23PRP3YR-logo_468ca8156ad6364b8408ed065930380a.png","width":640,"height":640}},"eyecatch":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/4V23PRP3YR/4V23PRP3YR-eyecatch_b3f2bbce089f2e236d6b56579650d829.png","width":1920,"height":1080},"tver":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/4V23PRP3YR/4V23PRP3YR-eyecatch_51f35512517501fdaaed140114b59667.png","width":928,"height":522},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/4V23PRP3YR/4V23PRP3YR-eyecatch_064f812572a5959d4c8e6884624a644d.png","width":640,"height":360}},"hero":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/4V23PRP3YR/4V23PRP3YR-hero_6a877129fe1fc0be4bb3311412c9d484.jpg","width":1920,"height":640},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/4V23PRP3YR/4V23PRP3YR-hero_fd289eeec2eb8dc98ee59571c4b92c0c.jpg","width":1080,"height":360}},"style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#E22300","linkDark":"#FF330D","primaryLight":"#FF2800","primaryDark":"#FF2800"},"additionalProperty":{"publishLevel":"ready","layoutPattern":"summary","episodeOrderBy":"releasedEvent","availableOnPlus":false,"enableVariablePlayBackSpeedControl":false,"optional":[],"seriesPackStatus":"notPacked"}},"releasedEvent":{"startDate":"2021-09-27T23:20:00+09:00","endDate":"2021-09-27T23:30:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHK総合テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_m.png","width":640,"height":360},"eyecatchLarge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_l.png","width":1280,"height":720},"eyecatch":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch.png","width":1920,"height":1080},"hero":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero.png","width":1080,"height":360},"heroMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero_m.png","width":1920,"height":640},"logoSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_s.png","width":200,"height":200},"logoMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_m.png","width":640,"height":640},"logo":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo.png","width":1080,"height":1080}},"identifierGroup":{"serviceId":"g1","serviceName":"NHK総合1","shortenedName":"NHK総合1","shortenedDisplayName":"総合"}}},"detailedRecentEvent":{"startDate":"2021-09-27T23:20:00+09:00","endDate":"2021-09-27T23:30:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHK総合テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"[...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/Y3XNWR54KL.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"60d811f"'
      etag:
      - W/"19d8-hfTApIy8yW522Ni990mGo8KcGE4"
    body:
      encoding: UTF-[...]
