---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/s/extended.json?contents_type=tvseries&extendedEntities=true&ignoreRange=true&isFuzzy=true&offset=0&order=desc&orderBy=score&publishLevel=notyet%2Cready%2Cfull%2Climited%2Cgone&size=10&type=tvseries&word=%E3%83%96%E3%83%A9%E3%82%BF%E3%83%A2%E3%83%AA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cce2ef3"'
      etag:
      - W/"50f1-2+rvAZ7+UAT2bdX2NXZSDPrkH7Y"
    body:
      encoding: UTF-8
      string: '{"result":{"tvseries":{"result":[{"type":"TVSeries","id":"D8K46WY9MZ","name":"ブラタモリ","detailedSeriesNameRuby":"","identifierGroup":{"seriesId":"D8K46WY9MZ","tvSeriesId":"D8K46WY9MZ","seriesName":"ブラタモリ","tvSeriesName":"ブラタモリ","hashtag":[],"serviceId":["g1","g2"]},"identifierGroupEx":{"seriesGroupId":"YMX747N363","tvSeriesGroupId":"YMX747N363","seriesGroupName":"ブラタモリ","tvSeriesGroupName":"ブラタモリ","seriesNameTemp":"ブラタモリ","tvSeriesNameTemp":"ブラタモリ"},"keywords":[],"description":"","detailedCatch":"","style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#327EA4","linkDark":"#4DC4FF","primaryLight":"#3E9ECE","primaryDark":"#4DC4FF"},"dateCreated":"2019-10-28T11:23:41+09:00","dateModified":"2022-04-19T14:33:19+09:00","actors":[],"contributors":[{"person":{"roleName":"出演","name":"タモリ","detailedNameRuby":"たもり","occupationName":"","image":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/D8K46WY9MZ/D8K46WY9MZ-person_28e53ec132cdf5c2659bbdd0d27f5a35.png","width":1080,"height":1080},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/D8K46WY9MZ/D8K46WY9MZ-person_5ca004301fc1b0363d1007bf0399017e.png","width":640,"height":640},"small":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/D8K46WY9MZ/D8K46WY9MZ-person_df38a41416962f91dca188621626198f.png","width":200,"height":200}},"description":""}}],"logo":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/D8K46WY9MZ/D8K46WY9MZ-logo_0a86944c0b1e7ff3f1ee4a329c1b6353.jpg","width":1080,"height":1080},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/D8K46WY9MZ/D8K46WY9MZ-logo_aa62f95bd282db8ef1986c4e0c81cbbc.jpg","width":640,"height":640}},"eyecatch":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/D8K46WY9MZ/D8K46WY9MZ-eyecatch_005920156ef538d45e758054534e9819.jpg","width":1920,"height":1080},"tver":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/D8K46WY9MZ/D8K46WY9MZ-eyecatch_97d6e0a2f99034ec9293d17186b39a8a.jpg","width":928,"height":522},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/D8K46WY9MZ/D8K46WY9MZ-eyecatch_a1e1a184ecf71f096b239e939c1a900a.jpg","width":640,"height":360}},"hero":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/D8K46WY9MZ/D8K46WY9MZ-hero_ffda14bfdfd54473ba3a24a548e95e4c.jpg","width":1920,"height":640},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/D8K46WY9MZ/D8K46WY9MZ-hero_a5ffeb90c41fae09082a452171104ae8.jpg","width":1080,"height":360}},"videos":[],"releasedEvent":{},"citations":[],"detailedTimetable":[],"url":"https://dev-www.nhk.jp/p/ts/D8K46WY9MZ/","canonical":"https://dev-www.nhk.jp/p/ts/D8K46WY9MZ/","sameAs":[],"detailedMemo":[],"additionalProperty":{"publishLevel":"full","layoutPattern":"summary","episodeOrderBy":"releasedEvent","availableOnPlus":false,"enableVariablePlayBackSpeedControl":false,"optional":[],"seriesPackStatus":"notPacked"}},{"type":"TVSeries","id":"83P4NJ1ZM5","name":"ブラタモリ×鶴瓶の家族に乾杯
        新春SP","identifierGroup":{"seriesId":"83P4NJ1ZM5","tvSeriesId":"83P4NJ1ZM5","seriesName":"ブラタモリ×鶴瓶の家族に乾杯
        新春SP","tvSeriesName":"ブラタモリ×鶴瓶の家族に乾杯 新春SP","hashtag":[],"serviceId":["g1","g2"]},"identifierGroupEx":{"seriesGroupId":"YMX747N363","tvSeriesGroupId":"YMX747N363","seriesGroupName":"ブラタモリ","tvSeriesGroupName":"ブラタモリ","seriesNameTemp":"ブラタモリ×鶴瓶の家族に乾杯
        新春SP","tvSeriesNameTemp":"ブラタモリ×鶴瓶の家族に乾杯 新春SP"},"[...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/tvepisode/ts/D8K46WY9MZ.json?contents_type=tvseries&extendedEntities=true&ignoreRange=true&isFuzzy=true&offset=0&order=desc&orderBy=recentEvent&size=10&word=%E3%83%96%E3%83%A9%E3%82%BF%E3%83%A2%E3%83%AA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cce2ef3"'
      etag:
      - W/"37e0c-h5etfa683//2ufGU+kGCUE/CZYc"
    body:
      encoding: UTF-8
      string: '{"result":[{"type":"TVEpisode","id":"D3GK4634KV","name":"「伊東〜伊東を人気温泉地にした“海と山の幸”とは?〜」","identifierGroup":{"episodeId":"D3GK4634KV","tvEpisodeId":"D3GK4634KV","seriesId":"D8K46WY9MZ","tvSeriesId":"D8K46WY9MZ","episodeName":"「伊東〜伊東を人気温泉地にした“海と山の幸”とは?〜」","tvEpisodeName":"「伊東〜伊東を人気温泉地にした“海と山の幸”とは?〜」","seriesName":"ブラタモリ","tvSeriesName":"ブラタモリ","hashtag":[],"serviceId":["g1","g2"],"formatGenreTag":[{"id":"05","name":"バラエティ"}],"themeGenreTag":[{"id":"084","name":"旅"},{"id":"094","name":"文化"}]},"identifierGroupEx":{"seriesGroupId":"YMX747N363","tvSeriesGroupId":"YMX747N363","seriesGroupName":"ブラタモリ","tvSeriesGroupName":"ブラタモリ","episodeNameTemp":"「伊東〜伊東を人気温泉地にした“海と山の幸”とは?〜」","tvEpisodeNameTemp":"「伊東〜伊東を人気温泉地にした“海と山の幸”とは?〜」","seriesNameTemp":"ブラタモリ","tvSeriesNameTemp":"ブラタモリ","releasedEventIdTemp":"g1-130-2022070201965","releasedEventServiceIdTemp":"g1","releasedEventStartDateTemp":"2022-07-02T19:30:00+09:00","releasedEventEndDateTemp":"2022-07-02T20:15:00+09:00"},"keywords":[],"description":"伊東の名物はおいしい魚やみかんだけではない！？温泉地・伊東が誇る“海と山がもたらした恵み”の秘密をタモリさんがブラブラ歩いて解き明かす▽商店街の蛇口から温泉！？","dateCreated":"2022-06-17T17:43:22+09:00","dateModified":"2022-06-17T17:43:24+09:00","actors":[],"contributors":[],"partOfSeries":{"id":"D8K46WY9MZ","name":"ブラタモリ","detailedSeriesNameRuby":"","identifierGroup":{"seriesId":"D8K46WY9MZ","tvSeriesId":"D8K46WY9MZ","seriesName":"ブラタモリ","tvSeriesName":"ブラタモリ","hashtag":[],"serviceId":["g1","g2"]},"identifierGroupEx":{"seriesGroupId":"YMX747N363","tvSeriesGroupId":"YMX747N363","seriesGroupName":"ブラタモリ","tvSeriesGroupName":"ブラタモリ","seriesNameTemp":"ブラタモリ","tvSeriesNameTemp":"ブラタモリ"},"url":"https://dev-www.nhk.jp/p/ts/D8K46WY9MZ/","canonical":"https://dev-www.nhk.jp/p/ts/D8K46WY9MZ[...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/tvepisode/ts/D8K46WY9MZ.json?availableOn=okushibu&extendedEntities=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cce2ef3"'
      etag:
      - W/"31636-0BeO14wZ5Q4cf56i7QklokmPbA0"
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/D3GK4634KV.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cce2ef3"'
      etag:
      - '"72-Zds64b82CoSqaK14cDbLjkXE2Sw"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b01282-7379d2125aeb1882532891ce"}}'
  recorded_at: Mon, 20 Jun 2022 06:24:02 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/DMN65VWLLZ.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cce2ef3"'
      etag:
      - W/"2004-l/t+N5NxbH/Lti7BeCszIoLQ5XQ"
    body:
      encoding: UTF-[...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/7PY29RQ716.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cce2ef3"'
      etag:
      - W/"1ff8-0ZzOuYGg/fNkxgjZl58QocvtyNc"
    body:
      encoding: UTF-[...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/KZJ6P93GQ7.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cce2ef3"'
      etag:
      - W/"3bf9-fzXpZKZx+Ax86/vvmA3R1l3uPsQ"
    body:
      encoding: UTF-[...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/K889LM475Z.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cce2ef3"'
      etag:
      - W/"2034-JQk74cdtblT4DgTQ8DhyEEoKDlI"
    body:
      encoding: UTF-[...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/KWK8LMPLWM.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cce2ef3"'
      etag:
      - W/"3d29-MZm+AWgB4oZf5oiNh3uwTqL1HkQ"
    body:
      encoding: UTF-[...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/RMYX7YM2Y9.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cce2ef3"'
      etag:
      - W/"1ffe-O79zKLTOnryR0gdU20LiQft438c"
    body:
      encoding: UTF-[...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/DWQWZJPNW7.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cce2ef3"'
      etag:
      - W/"3ba4-HZp6XtF+JFH1l78jN3mzLQJlsjI"
    body:
      encoding: UTF-[...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/L8MK6QXZ5M.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cce2ef3"'
      etag:
      - W/"200a-iB2YaDamtwql/bxFQG7QaNffo2E"
    body:
      encoding: UTF-[...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/616NG8LLPN.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cce2ef3"'
      etag:
      - W/"3c5c-x32kkDYe8mAvuw/NgQtwP7kOlv8"
    body:
      encoding: UTF-[...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/tvepisode/ts/83P4NJ1ZM5.json?contents_type=tvseries&extendedEntities=true&ignoreRange=true&isFuzzy=true&offset=0&order=desc&orderBy=recentEvent&size=10&word=%E3%83%96%E3%83%A9%E3%82%BF%E3%83%A2%E3%83%AA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      [...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/tvepisode/ts/83P4NJ1ZM5.json?availableOn=okushibu&extendedEntities=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cce2ef3"'
      etag:
      - '"71-bDznUyemIxO6TZ8t1cdC7LFgupo"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid SeriesId.","requestId":"Root=1-62b01285-3a25ec3b4f25f22b4761793b"}}'
  recorded_at: Mon, 20 Jun 2022 06:24:05 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/4NX4QYV997.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cce2ef3"'
      etag:
      - '"72-FduRQdKmGwHx1DNbjEGHSjvnHHw"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b01286-25f37df513fae2f779744841"}}'
  recorded_at: Mon, 20 Jun 2022 06:24:06 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/tvepisode/ts/77M2RQ7KMJ.json?contents_type=tvseries&extendedEntities=true&ignoreRange=true&isFuzzy=true&offset=0&order=desc&orderBy=recentEvent&size=10&word=%E3%83%96%E3%83%A9%E3%82%BF%E3%83%A2%E3%83%AA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      [...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/tvepisode/ts/77M2RQ7KMJ.json?availableOn=okushibu&extendedEntities=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cce2ef3"'
      etag:
      - '"71-LCd95qtY8xWztQSqdtN1WaY1OkI"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid SeriesId.","requestId":"Root=1-62b01286-246e00c907b629eb09a3dacd"}}'
  recorded_at: Mon, 20 Jun 2022 06:24:06 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/GP3PJYV98W.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cce2ef3"'
      etag:
      - '"72-/+KxAKERbG/BQaPTVERQz8UZ6CI"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b01286-16009cc02eae825427c73f2c"}}'
  recorded_at: Mon, 20 Jun 2022 06:24:06 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/tvepisode/ts/1VWM12G977.json?contents_type=tvseries&extendedEntities=true&ignoreRange=true&isFuzzy=true&offset=0&order=desc&orderBy=recentEvent&size=10&word=%E3%83%96%E3%83%A9%E3%82%BF%E3%83%A2%E3%83%AA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      [...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/tvepisode/ts/1VWM12G977.json?availableOn=okushibu&extendedEntities=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cce2ef3"'
      etag:
      - '"71-Hw0UdklP6MABaiX1ACZ00TvlkWw"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid SeriesId.","requestId":"Root=1-62b01287-05153f7a2516e3ad634fa8b9"}}'
  recorded_at: Mon, 20 Jun 2022 06:24:07 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/G7G5P5QZ6X.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cce2ef3"'
      etag:
      - W/"1992-SAz9mdsNWuIYYxylWpzmtqQKVu8"
    body:
      encoding: UTF-[...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/MXZQ6Y9GGN.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cce2ef3"'
      etag:
      - W/"1c2f-sqb69jpDq1ldINIgdDFAqQiS0BA"
    body:
      encoding: UTF-[...]
