---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/s/extended.json?extendedEntities=true&ignoreRange=true&isFuzzy=true&offset=0&order=desc&orderBy=score&publishLevel=notyet%2Cready%2Cfull%2Climited%2Cgone&size=10&type=tvepisode
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - W/"290e1-vagxPdoDy1hqyBAelfLqos45dFY"
    body:
      encoding: UTF-8
      string: '{"result":{"tvepisode":{"result":[{"type":"TVEpisode","id":"WPPKV4N7N3","name":"2022年5月25日","identifierGroup":{"episodeId":"WPPKV4N7N3","tvEpisodeId":"WPPKV4N7N3","seriesId":"GLGG6PJK1Y","tvSeriesId":"GLGG6PJK1Y","episodeName":"2022年5月25日","tvEpisodeName":"2022年5月25日","seriesName":"ほっとニュース道央いぶりDAYひだか","tvSeriesName":"ほっとニュース道央いぶりDAYひだか","hashtag":[],"serviceId":["g1","g2"]},"identifierGroupEx":{"seriesGroupId":"6JJL5Y1W8R","tvSeriesGroupId":"6JJL5Y1W8R","seriesGroupName":"ほっとニュース道央いぶりDAYひだか","tvSeriesGroupName":"ほっとニュース道央いぶりDAYひだか","episodeNameTemp":"2022年5月25日","tvEpisodeNameTemp":"2022年5月25日","seriesNameTemp":"ほっとニュース道央いぶりDAYひだか","tvSeriesNameTemp":"ほっとニュース道央いぶりDAYひだか","releasedEventIdTemp":"g1-010-2022052557267","releasedEventServiceIdTemp":"g1","releasedEventStartDateTemp":"2022-05-25T18:40:00+09:00","releasedEventEndDateTemp":"2022-05-25T18:55:00+09:00"},"keywords":[],"description":"石狩・空知・後志と胆振・日高の５つの地域のニュースと話題をたっぷりとお伝えします▽この地域の気象情報も詳しくお伝えします","dateCreated":"2022-05-08T09:13:15+09:00","dateModified":"2022-05-24T17:37:39+09:00","actors":[],"contributors":[],"partOfSeries":{"id":"GLGG6PJK1Y","name":"ほっとニュース道央いぶりDAYひだか","identifierGroup":{"seriesId":"GLGG6PJK1Y","tvSeriesId":"GLGG6PJK1Y","seriesName":"ほっとニュース道央いぶりDAYひだか","tvSeriesName":"ほっとニュース道央いぶりDAYひだか","hashtag":[],"serviceId":["g1","g2"]},"identifierGroupEx":{"seriesGroupId":"6JJL5Y1W8R","tvSeriesGroupId":"6JJL5Y1W8R","seriesGroupName":"ほっとニュース道央いぶりDAYひだか","tvSeriesGroupName":"ほっとニュース道央いぶりDAYひだか","seriesNameTemp":"ほっとニュース道央いぶりDAYひだか","tvSeriesNameTemp":"ほっとニュース道央いぶりDAYひだか"},"url":"https://dev-www.nhk.jp/p/ts/GLGG6PJK1Y/","canonical":"https://dev-www.nhk.jp/p/ts/GLGG6PJK1Y/","description":"ほっとニュース道央いぶりDAYひだか\n2022年2月28日放送開始（予定）の番組シリーズです","logo":{"main":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/GLGG6PJK1Y/GLGG6PJK1Y-logo_865c20f202de18bcdeccab604d5b874f.jpg","width":1080,"height":1080},"medium":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/GLGG6PJK1Y/GLGG6PJK1Y-logo_55d67b45cb3913ab3e6beed38ddfbfcd.jpg","width":640,"height":640}},"eyecatch":{"main":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/GLGG6PJK1Y/GLGG6PJK1Y-eyecatch_f07d60543c7b3b5d92ed9b3b2bbd440e.jpg","width":1920,"height":1080},"tver":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/GLGG6PJK1Y/GLGG6PJK1Y-eyecatch_36deb1ad6d44a0040b03c5b514de659f.jpg","width":928,"height":522},"medium":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/GLGG6PJK1Y/GLGG6PJK1Y-eyecatch_38716be8a7cc18952bbc767da4a23756.jpg","width":640,"height":360}},"hero":{"main":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/GLGG6PJK1Y/GLGG6PJK1Y-hero_f69fd4f047377f804cbd4e488eae2f37.jpg","width":1920,"height":640},"medium":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/GLGG6PJK1Y/GLGG6PJK1Y-hero_c32c21153aeee6ba9a35b9b92262bd7f.jpg","width":1080,"height":360}},"style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#990099","linkDark":"#C46BC4","primaryLight":"#990099","primaryDark":"#B13CB1"},"additionalProperty":{"publishLevel":"notyet","layoutPattern":"summary","episodeOrderBy":"releasedEvent","availableOnPlus":false,"enableVariablePlayBackSpeedControl":false,"optional":[],"seriesPackStatus":"notPacked"}},"releasedEvent":{"id":"g1-010-2022052557267","startDate":"2022-05-25T18:40:00+09:00","endDate":"2022-05-25T18:55:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHK総合テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_m.png","width":640,"height":360},"eyecatchLarge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_l.png","width":1280,"height":720},"eyecatch":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch.png","width":1920,"height":1080},"heroMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero_m.png","width":1080,"height":360},"hero":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero.png","width":1920,"height":640},"logoSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_s.png","width":200,"height":200},"logoMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_m.png","width":640,"height":640},"logo":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo.png","width":1080,"height":1080}},"identifierGroup":{"serviceId":"g1","serviceName":"NHK総合1","shortenedName":"NHK総合1","shortenedDisplayName":"総合"}}},"detailedRecentEvent":{"id":"g1-010-2022052557267","startDate":"2022-05-25T18:40:00+09:00","endDate":"2022-05-25T18:55:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHK総合テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge.png","width":200,"height":10[...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/WPPKV4N7N3.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-kOEger6/5m9JVdU8CZZfWa+q1Wk"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b16653-1bd110391d83d2fa1e79b7d4"}}'
  recorded_at: Tue, 21 Jun 2022 06:33:55 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/5ZYNQNNZNP.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-/jhVozvbXxIvFUACBg2p2NWWgJ4"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b16654-4b69ef9c23de1feb0d21444c"}}'
  recorded_at: Tue, 21 Jun 2022 06:33:56 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/DMLRX4LN6V.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-Xd9QHc1tQdtbNCCvUW57p+0ykbM"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b16654-58c9744b438ef1135f855eb1"}}'
  recorded_at: Tue, 21 Jun 2022 06:33:56 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/WM83P1Q6Y7.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-/756elnsmJeJTdOC4T9xFRxLjnY"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b16654-7d30f2800115b70f6318ec17"}}'
  recorded_at: Tue, 21 Jun 2022 06:33:56 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/BL4LG5QG55.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-mPtXK07luyNAEmEZTW9oXYfP9uo"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b16655-4110ba1e6c3b7a2455d8a45c"}}'
  recorded_at: Tue, 21 Jun 2022 06:33:57 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/P5QJ3JWWX9.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-+30icosH1N7py5Sjb6Bs/m4q5sk"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b16655-62d630d43adbb1cb10e313d5"}}'
  recorded_at: Tue, 21 Jun 2022 06:33:57 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/98LJJK16R9.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-jim7ujM5Uypps9t8j6vxTLn7ly8"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b16655-64022a876b64bcec2fdbe540"}}'
  recorded_at: Tue, 21 Jun 2022 06:33:57 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/W5V9K26K97.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-UAzAH5+LAEBENAd1QgDSzU+qBso"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b16655-37a2c4e85b4c0c1e0df0ed48"}}'
  recorded_at: Tue, 21 Jun 2022 06:33:57 GMT
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/t/tvepisode/te/M39LJWKRXK.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cc6f39c"'
      etag:
      - '"72-BiFMNyzwLVqg18RAFbO1l9CfLrQ"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":404,"message":"Invalid EpisodeId.","requestId":"Root=1-62b16655-203d6da5227100ce7b3b75dc"}}'
  recorded_at: Tue, 21 Jun 2022 06:33:57 GMT
recorded_with: VCR 6.1.0
