---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/s/extended.json?extendedEntities=true&ignoreRange=true&isFuzzy=true&offset=0&order=desc&orderBy=score&publishLevel=notyet%2Cready%2Cfull%2Climited%2Cgone&size=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cce2ef3"'
      etag:
      - W/"84ea-4CYy5cGotWj/7vPZupK90gPX25o"
    body:
      encoding: UTF-8
      string: '{"result":{"tvseries":{"result":[{"type":"TVSeries","id":"5NVVN1G5PJ","name":"もうすぐ!「カムカムエヴリバディ」5分PR(放送前)","identifierGroup":{"seriesId":"5NVVN1G5PJ","tvSeriesId":"5NVVN1G5PJ","seriesName":"もうすぐ!「カムカムエヴリバディ」5分PR(放送前)","tvSeriesName":"もうすぐ!「カムカムエヴリバディ」5分PR(放送前)","hashtag":[],"serviceId":[]},"identifierGroupEx":{"seriesGroupId":"BP4321WNGL","tvSeriesGroupId":"BP4321WNGL","seriesGroupName":"もうすぐ!「カムカムエヴリバディ」5分PR(放送前)","tvSeriesGroupName":"もうすぐ!「カムカムエヴリバディ」5分PR(放送前)","seriesNameTemp":"もうすぐ!「カムカムエヴリバディ」5分PR(放送前)","tvSeriesNameTemp":"もうすぐ!「カムカムエヴリバディ」5分PR(放送前)"},"keywords":[],"description":"","style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#327EA4","linkDark":"#4DC4FF","primaryLight":"#3E9ECE","primaryDark":"#4DC4FF"},"dateCreated":"2021-10-14T17:00:59+09:00","dateModified":"2022-04-19T14:35:02+09:00","actors":[],"contributors":[],"logo":{"main":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/5NVVN1G5PJ/5NVVN1G5PJ-logo_3bd5b1677a82053acb7b5809b7cb2668.jpg","width":1080,"height":1080},"medium":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/5NVVN1G5PJ/5NVVN1G5PJ-logo_3b956f0105527a7a2bffafed92602ed9.jpg","width":640,"height":640}},"eyecatch":{"main":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/5NVVN1G5PJ/5NVVN1G5PJ-eyecatch_a76dfcc2b57cee9a70188a02aa02e62a.jpg","width":1920,"height":1080},"tver":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/5NVVN1G5PJ/5NVVN1G5PJ-eyecatch_f843b34c6d16feafdb8b5f742049db01.jpg","width":928,"height":522},"medium":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/5NVVN1G5PJ/5NVVN1G5PJ-eyecatch_4a674027dfee13c490b80fa5446a53d0.jpg","width":640,"height":360}},"hero":{"main":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/5NVVN1G5PJ/5NVVN1G5PJ-hero_ade5453cdfcef0ddaa380f5fad5136cc.jpg","width":1920,"height":640},"medium":{"url":"https://dev-cms1.nr.nhk.jp/static/assets/images/tvseries/ts/5NVVN1G5PJ/5NVVN1G5PJ-hero_07b4cbf706b2d54786d45804a30f6b2d.jpg","width":1080,"height":360}},"videos":[],"releasedEvent":{},"citations":[],"detailedTimetable":[{"description":"","isRerun":false,"publishedOn":{"type":"BroadcastService","name":"NHK総合テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_m.png","width":640,"height":360},"eyecatchLarge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_l.png","width":1280,"height":720},"eyecatch":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch.png","width":1920,"height":1080},"heroMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero_m.png","width":1080,"height":360},"hero":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero.png","width":1920,"height":640},"logoSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_s.png","width":200,"height":200},"logoMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_m.png","width":640,"height":640},"logo":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo.png","width":1080,"height":1080}},"identifierGroup":{"serviceId":"g1","serviceName":"NHK総合1","shortenedName":"NHK総合1","shortenedDisplayName":"総合"}}},{"description":"","isRerun":false,"publishedOn":{"type":"BroadcastService","name":"NHK総合テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g2/g2-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g2/g2-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://dev-www.nhk.jp/assets/images/[...]
