---
http_interactions:
  - request:
      method: get
      uri: https://dev-api.nr.nhk.jp/r6/l/tvepisode/ts/D8K46WY9MZ.json?extendedEntities=true&ignoreRange=true&isFuzzy=true&offset=10&order=desc&orderBy=dateModified&size=10
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - application/json; charset=utf-8
        https: data:;form-action ''self'';frame-ancestors ''self'';img-src ''self''
        data:;object-src ''none'';script-src ''self'';script-src-attr ''none'';style-src
        ''self'' https: ''unsafe-inline'';upgrade-insecure-requests'
        origin-agent-cluster:
          - "?1"
        commit-hash:
          - '"019fc1a"'
        etag:
          - W/"1afaf-GrBE4JcIOzz2B5AwHLHFgzQna3o"
      body:
        encoding: UTF-8
        string: '{"result":[{"type":"TVEpisode","id":"KZPXX9RLZ9","name":"セレクション 「横浜〜横浜の秘密は“ハマ”にあり!?〜」","identifierGroup":{"episodeId":"KZPXX9RLZ9","tvEpisodeId":"KZPXX9RLZ9","seriesId":"D8K46WY9MZ","tvSeriesId":"D8K46WY9MZ","episodeName":"セレクション
        「横浜〜横浜の秘密は“ハマ”にあり!?〜」","tvEpisodeName":"セレクション 「横浜〜横浜の秘密は“ハマ”にあり!?〜」","seriesName":"ブラタモリ","tvSeriesName":"ブラタモリ","hashtag":[],"serviceId":["g1","g2"],"formatGenreTag":[{"id":"05","name":"バラエティ"}],"themeGenreTag":[{"id":"084","name":"旅"}]},"identifierGroupEx":{"seriesGroupId":"YMX747N363","tvSeriesGroupId":"YMX747N363","seriesGroupName":"ブラタモリ","tvSeriesGroupName":"ブラタモリ","episodeNameTemp":"セレクション
        「横浜〜横浜の秘密は“ハマ”にあり!?〜」","tvEpisodeNameTemp":"セレクション 「横浜〜横浜の秘密は“ハマ”にあり!?〜」","seriesNameTemp":"ブラタモリ","tvSeriesNameTemp":"ブラタモリ","releasedEventIdTemp":"g1-130-2022052013915","releasedEventServiceIdTemp":"g1","releasedEventStartDateTemp":"2022-05-20T00:25:00+09:00","releasedEventEndDateTemp":"2022-05-20T01:10:00+09:00"},"keywords":[],"description":"これまでのブラタモリからえりすぐりの回を放送！今回は「＃３８横浜」（初回放送２０１６年５月１４日）をお送りします▽【５月２１日のブラタモリは「横浜・川崎」放送】","dateCreated":"2022-05-16T12:26:30+09:00","dateModified":"2022-05-16T12:56:48+09:00","actors":[],"contributors":[],"partOfSeries":{"id":"D8K46WY9MZ","name":"ブラタモリ","detailedSeriesNameRuby":"","identifierGroup":{"seriesId":"D8K46WY9MZ","tvSeriesId":"D8K46WY9MZ","seriesName":"ブラタモリ","tvSeriesName":"ブラタモリ","hashtag":[],"serviceId":["g1","g2"]},"identifierGroupEx":{"seriesGroupId":"YMX747N363","tvSeriesGroupId":"YMX747N363","seriesGroupName":"ブラタモリ","tvSeriesGroupName":"ブラタモリ","seriesNameTemp":"ブラタモリ","tvSeriesNameTemp":"ブラタモリ"},"url":"https://dev-www.nhk.jp/p/ts/D8K46WY9MZ/","canonical":"https://dev-www.nhk.jp/p/ts/D8K46WY9MZ/","description":"","detailedCatch":"","logo":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/D8K46WY9MZ/D8K46WY9MZ-logo_0a86944c0b1e7ff3f1ee4a329c1b6353.jpg","width":1080,"height":1080},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/D8K46WY9MZ/D8K46WY9MZ-logo_aa62f95bd282db8ef1986c4e0c81cbbc.jpg","width":640,"height":640}},"eyecatch":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/D8K46WY9MZ/D8K46WY9MZ-eyecatch_005920156ef538d45e758054534e9819.jpg","width":1920,"height":1080},"tver":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/D8K46WY9MZ/D8K46WY9MZ-eyecatch_97d6e0a2f99034ec9293d17186b39a8a.jpg","width":928,"height":522},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/D8K46WY9MZ/D8K46WY9MZ-eyecatch_a1e1a184ecf71f096b239e939c1a900a.jpg","width":640,"height":360}},"hero":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/D8K46WY9MZ/D8K46WY9MZ-hero_ffda14bfdfd54473ba3a24a548e95e4c.jpg","width":1920,"height":640},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/D8K46WY9MZ/D8K46WY9MZ-hero_a5ffeb90c41fae09082a452171104ae8.jpg","width":1080,"height":360}},"style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#327EA4","linkDark":"#4DC4FF","primaryLight":"#3E9ECE","primaryDark":"#4DC4FF"},"additionalProperty":{"publishLevel":"full","layoutPattern":"summary","episodeOrderBy":"releasedEvent","availableOnPlus":false,"enableVariablePlayBackSpeedControl":false,"optional":[],"seriesPackStatus":"notPacked"}},"releasedEvent":{"id":"g1-130-2022052013915","startDate":"2022-05-20T00:25:00+09:00","endDate":"2022-05-20T01:10:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHK総合テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_m.png","width":640,"height":360},"eyecatchLarge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_l.png","width":1280,"height":720},"eyecatch":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch.png","width":1920,"height":1080},"heroMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero_m.png","width":1080,"height":360},"hero":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero.png","width":1920,"height":640},"logoSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_s.png","width":200,"height":200},"logoMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_m.png","width":640,"height":640},"logo":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo.png","width":1080,"height":1080}},"identifierGroup":{"serviceId":"g1","serviceName":"NHK総合1","shortenedName":"NHK総合1","shortenedDisplayName":"総合"}}},"detailedRecentEvent":{"id":"g1-130-2022052013915","startDate":"2022-05-20T00:25:00+09:00","endDate":"2022-05-20T01:10:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHK総合テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge.png","width":200,"height":10[...]
