---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/bundle/te/Q8MP4RXRJW.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"d16d062"'
      etag:
      - W/"76da-4RAwjFXAB3L8UTv74I4r1XlWemY"
    body:
      encoding: UTF-8
      string: '{"tvepisode":{"result":[{"type":"TVEpisode","id":"Q8MP4RXRJW","name":"「ダービーマッチ」","identifierGroup":{"tvEpisodeId":"Q8MP4RXRJW","tvSeriesId":"78N6R48RW6","tvEpisodeName":"「ダービーマッチ」","tvSeriesName":"サッカーの園〜究極のワンプレー〜","hashtag":[],"serviceId":["s1","s2"],"formatGenreTag":[{"id":"05","name":"バラエティ"}],"themeGenreTag":[{"id":"022","name":"サッカー"}]},"identifierGroupEx":{"tvSeriesGroupId":"2W6718QQ16","tvSeriesGroupName":"サッカーの園〜究極のワンプレー〜","tvEpisodeNameTemp":"「ダービーマッチ」","tvSeriesNameTemp":"サッカーの園〜究極のワンプレー〜","releasedEventIdTemp":"s1-130-2022071626248","releasedEventServiceIdTemp":"s1","releasedEventStartDateTemp":"2022-07-16T21:00:00+09:00","releasedEventEndDateTemp":"2022-07-16T21:50:00+09:00"},"keywords":[],"description":"ガンバ×セレッソ！ジュビロ×エスパルス！そしてレッズ×アルディージャ！選手もサポも燃えるダービーマッチを大特集！澤登の伝説ＦＫ。中村憲剛が今も悔やむプレーとは？","dateCreated":"2022-06-08T18:27:29+09:00","dateModified":"2022-07-21T22:09:22+09:00","actors":[],"contributors":[],"partOfSeries":{"id":"78N6R48RW6","name":"サッカーの園〜究極のワンプレー〜","detailedSeriesNameRuby":"","identifierGroup":{"tvSeriesId":"78N6R48RW6","tvSeriesName":"サッカーの園〜究極のワンプレー〜","hashtag":[],"serviceId":["s1","s2"]},"identifierGroupEx":{"tvSeriesGroupId":"2W6718QQ16","tvSeriesGroupName":"サッカーの園〜究極のワンプレー〜","tvSeriesNameTemp":"サッカーの園〜究極のワンプレー〜"},"url":"https://dev-api.nr.nhk.jp/r6/t/tvseries/ts/78N6R48RW6.json","canonical":"https://dev-www.nhk.jp/p/ts/78N6R48RW6/","description":"series-tv-for-sports-00001","detailedCatch":"","logo":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/78N6R48RW6/78N6R48RW6-logo_d49d5b4358e7d9b2d46dd9e63902100d.jpg","width":1080,"height":1080},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/78N6R48RW6/78N6R48RW6-logo_887f6fa49c952cb592418e7a44f2b1ec.jpg","width":640,"height":640}},"eyecatch":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/78N6R48RW6/78N6R48RW6-eyecatch_7e29e7f8318613f5228231647a0900f0.jpg","width":1920,"height":1080},"tver":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/78N6R48RW6/78N6R48RW6-eyecatch_4ccb2cab40285478402597a37c58f87b.jpg","width":928,"height":522},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/78N6R48RW6/78N6R48RW6-eyecatch_c02b0cc9534196fa5d9a3a9cc90c4339.jpg","width":640,"height":360}},"hero":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/78N6R48RW6/78N6R48RW6-hero_9742b1b8b23c8a3ba5838579443819f4.jpg","width":1920,"height":640},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/78N6R48RW6/78N6R48RW6-hero_4c28a02b29f63f3cc5b5f8e7a729e80c.jpg","width":1080,"height":360}},"style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#7E7A00","linkDark":"#FAF100","primaryLight":"#9E9900","primaryDark":"#FAF100"},"additionalProperty":{"publishLevel":"full","layoutPattern":"summary","episodeOrderBy":"releasedEvent","availableOnPlus":false,"enableVariablePlayBackSpeedControl":false,"optional":[],"seriesPackStatus":"notPacked"}},"releasedEvent":{"id":"s1-130-2022071626248","startDate":"2022-07-16T21:00:00+09:00","endDate":"2022-07-16T21:50:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHKBS1","url":"https://dev-api.nr.nhk.jp/r6/t/broadcastservice/bs/s1.json","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/s1/s1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/s1/s1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/s1/s1-eyecatch_m.png","width":640,"height":360},"eyecatchLarge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/s1/s1-eyecatch_l.png","width":1280,"height":720},"eyecatch":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/s1/s1-eyecatch.png","width":1920,"height":1080},"heroMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/s1/s1-hero_m.png","width":1080,"height":360},"hero":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/s1/s1-hero.png","width":1920,"height":640},"logoSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/s1/s1-logo_s.png","width":200,"height":200},"logoMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/s1/s1-logo_m.png","width":640,"height":640},"logo":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/s1/s1-logo.png","width":1080,"height":1080}},"identifierGroup":{"serviceId":"s1","serviceName":"NHKBS1","shortenedName":"NHKBS1","shortenedDisplayName":"BS1"}}},"detailedRecentEvent":{"id":"s1-130-2022072616703","startDate":"2022-07-26T20:00:00+09:00","endDate":"2022-07-26T20:50:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHKBS1","url":"https://dev-api.nr.nhk.jp/r6/t/broadcastservice/bs/s1.json","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/s1/s1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/image[...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/t/tvepisode/te/Q8MP4RXRJW.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"d16d062"'
      etag:
      - W/"76b5-duGb5Cd6C6upaL/gsez7eKK15Go"
    body:
      encoding: UTF-8
[...]
