<div class="flex justify-between items-center">
  <%= render 'shared/embed_logo' %>
  <div>
    <button
      class="bg-yellow-500 hover:bg-yellow-400 text-white py-2 px-10 rounded-sm text-xs"
    >
      詳しく見る
    </button>
  </div>
</div>
