---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/bundle/te/KZ2MN6PXRJ.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      commit-hash:
      - '"5029c00"'
      etag:
      - W/"2b1f-0TGy+ubi2kOJxFvMlDRkpXKQ7Cs"
    body:
      encoding: UTF-8
      string: '{"tvepisode":{"result":[{"type":"TVEpisode","id":"KZ2MN6PXRJ","name":"「くるくる巻くだけ!フラワーイヤリング」","identifierGroup":{"episodeId":"KZ2MN6PXRJ","tvEpisodeId":"KZ2MN6PXRJ","seriesId":"E5Q48579J3","tvSeriesId":"E5Q48579J3","episodeName":"「くるくる巻くだけ!フラワーイヤリング」","tvEpisodeName":"「くるくる巻くだけ!フラワーイヤリング」","seriesName":"ガールズクラフト","tvSeriesName":"ガールズクラフト","hashtag":[],"serviceId":["e1","e3"],"themeGenreTag":[{"id":"081","name":"ファッション"},{"id":"096","name":"芸術"}]},"identifierGroupEx":{"seriesGroupId":"Y7XV8YLMX3","tvSeriesGroupId":"Y7XV8YLMX3","seriesGroupName":"ガールズクラフト","tvSeriesGroupName":"ガールズクラフト","episodeNameTemp":"「くるくる巻くだけ!フラワーイヤリング」","tvEpisodeNameTemp":"「くるくる巻くだけ!フラワーイヤリング」","seriesNameTemp":"ガールズクラフト","tvSeriesNameTemp":"ガールズクラフト","releasedEventServiceIdTemp":"e1","releasedEventStartDateTemp":"2020-03-23T19:50:00+09:00","releasedEventEndDateTemp":"2020-03-23T19:55:00+09:00"},"keywords":[],"description":"色とりどりの小花をモチーフにしたイヤリング。クラフト用のワイヤーをペンにくるくる巻きつけて、大きさや色の組み合わせも自由自在。春めく季節にぴったりのアイテム！","dateCreated":"2020-02-20T07:23:30+09:00","dateModified":"2020-03-16T00:07:14+09:00","actors":[],"contributors":[],"partOfSeries":{"id":"E5Q48579J3","name":"ガールズクラフト","identifierGroup":{"seriesId":"E5Q48579J3","tvSeriesId":"E5Q48579J3","seriesName":"ガールズクラフト","tvSeriesName":"ガールズクラフト","hashtag":[],"serviceId":["e1","e3"]},"identifierGroupEx":{"seriesGroupId":"Y7XV8YLMX3","tvSeriesGroupId":"Y7XV8YLMX3","seriesGroupName":"ガールズクラフト","tvSeriesGroupName":"ガールズクラフト","seriesNameTemp":"ガールズクラフト","tvSeriesNameTemp":"ガールズクラフト"},"url":"https://dev-www.nhk.jp/p/ts/E5Q48579J3/","description":"","logo":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-logo_dbcdf5caa7aba851840c06b1576b28eb.jpg","width":1080,"height":1080},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-logo_46a6c1cee6b47e6cd486ca7e478ed51b.jpg","width":640,"height":640},"small":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-logo_c30a95f56112ecd4f42f662aaeb3e8da.jpg","width":200,"height":200}},"eyecatch":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-eyecatch_7444ebc621120dd3fbdaca89ae467ff4.jpg","width":1920,"height":1080},"tver":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-eyecatch_65b5a3bf03a319d75fffb8fb41a569d4.jpg","width":928,"height":522},"large":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-eyecatch_cb0c7c6af6938c26910f910bf271a20b.jpg","width":1280,"height":720},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-eyecatch_fea5a35b5a3856e7eb7b916b5570aa0e.jpg","width":640,"height":360},"small":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-eyecatch_a0ef640f9e5b6ea7998ee7829f71bd2d.jpg","width":320,"height":180}},"hero":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-hero_752541bdaabe4a0eb1a601053506a92e.jpg","width":1920,"height":640},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/E5Q48579J3/E5Q48579J3-hero_cadb38fb342986ac1000884690006217.jpg","width":1080,"height":360}},"style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#B65B5D","linkDark":"#FF8082","primaryLight":"#E47374","primaryDark":"#FF8082"},"additionalProperty":{"publishLevel":"full","layoutPattern":"summary","episodeOrder":"releasedEvent","availableOnPlus":false,"enableVariablePlayBackSpeedControl":false,"optional":[],"seriesPackStatus":"notPacked"}},"releasedEvent":{"startDate":"2020-03-23T19:50:00+09:00","endDate":"2020-03-23T19:55:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHK教育テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-eyecatch_m.png","width":640,"height":360},"eyecatchLarge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-eyecatch_l.png","width":1280,"height":720},"eyecatch":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-eyecatch.png","width":1920,"height":1080},"hero":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-hero.png","width":1080,"height":360},"heroMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-hero_m.png","width":1920,"height":640},"logoSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-logo_s.png","width":200,"height":200},"logoMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-logo_m.png","width":640,"height":640},"logo":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-logo.png","width":1080,"height":1080}},"identifierGroup":{"serviceId":"e1","serviceName":"NHKEテレ1","shortenedName":"NHKEテレ1","shortenedDisplayName":"Eテレ"}}},"detailedRecentEvent":{"startDate":"2020-03-23T19:50:00+09:00","endDate":"2020-03-23T19:55:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHK教育テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"[...]
