---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/bundle/te/XKNVY22PNP.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      commit-hash:
      - '"5029c00"'
      etag:
      - W/"232c-qtDiFqi4/7ZfLWKNtlASBfXOkMg"
    body:
      encoding: UTF-8
      string: '{"tvepisode":{"result":[{"type":"TVEpisode","id":"XKNVY22PNP","name":"「すゑひろがりずVSうるとらブギーズ」","identifierGroup":{"episodeId":"XKNVY22PNP","tvEpisodeId":"XKNVY22PNP","seriesId":"98P32QNN6V","tvSeriesId":"98P32QNN6V","episodeName":"「すゑひろがりずVSうるとらブギーズ」","tvEpisodeName":"「すゑひろがりずVSうるとらブギーズ」","seriesName":"わらたまドッカ〜ン","tvSeriesName":"わらたまドッカ〜ン","hashtag":[],"serviceId":["e1","e3"],"formatGenreTag":[{"id":"05","name":"バラエティ"}],"themeGenreTag":[{"id":"051","name":"お笑い"},{"id":"102","name":"キッズ"}]},"identifierGroupEx":{"seriesGroupId":"NYP4R6761Z","tvSeriesGroupId":"NYP4R6761Z","seriesGroupName":"わらたまドッカ〜ン","tvSeriesGroupName":"わらたまドッカ〜ン","episodeNameTemp":"「すゑひろがりずVSうるとらブギーズ」","tvEpisodeNameTemp":"「すゑひろがりずVSうるとらブギーズ」","seriesNameTemp":"わらたまドッカ〜ン","tvSeriesNameTemp":"わらたまドッカ〜ン","releasedEventServiceIdTemp":"e1","releasedEventStartDateTemp":"2020-04-27T18:45:00+09:00","releasedEventEndDateTemp":"2020-04-27T18:55:00+09:00"},"keywords":[],"description":"すゑひろがりずとうるとらブギーズというお笑いコンテストで上位進出した期待のコンビ同士の対決！今回は９人の子どもたちがネタを判定！ドッカ～ンと笑わせるのはどっち！","dateCreated":"2020-03-05T07:03:14+09:00","dateModified":"2021-07-12T16:45:33+09:00","actors":[],"contributors":[],"partOfSeries":{"id":"98P32QNN6V","name":"わらたまドッカ〜ン","identifierGroup":{"seriesId":"98P32QNN6V","tvSeriesId":"98P32QNN6V","seriesName":"わらたまドッカ〜ン","tvSeriesName":"わらたまドッカ〜ン","hashtag":[],"serviceId":["e1","e3"]},"identifierGroupEx":{"seriesGroupId":"NYP4R6761Z","tvSeriesGroupId":"NYP4R6761Z","seriesGroupName":"わらたまドッカ〜ン","tvSeriesGroupName":"わらたまドッカ〜ン","seriesNameTemp":"わらたまドッカ〜ン","tvSeriesNameTemp":"わらたまドッカ〜ン"},"url":"https://dev-www.nhk.jp/p/ts/98P32QNN6V/","description":"","logo":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/98P32QNN6V/98P32QNN6V-logo_23d8b202591b6d392661b503b592839a.jpg","width":1080,"height":1080},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/98P32QNN6V/98P32QNN6V-logo_d991a086e2d19c02e3d1125c3af59ad6.jpg","width":640,"height":640},"small":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/98P32QNN6V/98P32QNN6V-logo_dc2257f2948c217055de4eb28d7464ec.jpg","width":200,"height":200}},"eyecatch":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/98P32QNN6V/98P32QNN6V-eyecatch_fa0575c0bc1674dd2e438bfb0f0a59a6.jpg","width":1920,"height":1080},"tver":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/98P32QNN6V/98P32QNN6V-eyecatch_48727aeb285a627ed9bf07b5cd77d25f.jpg","width":928,"height":522},"large":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/98P32QNN6V/98P32QNN6V-eyecatch_a682bb55c6eda1509c7278fa4eced727.jpg","width":1280,"height":720},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/98P32QNN6V/98P32QNN6V-eyecatch_d42e05d0a55250521cb5be1f10ff8b35.jpg","width":640,"height":360},"small":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/98P32QNN6V/98P32QNN6V-eyecatch_5693e7913b145cceeed1e5e2b8ccfc07.jpg","width":320,"height":180}},"hero":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/98P32QNN6V/98P32QNN6V-hero_d2adc01288647ab8da51c9ff5b540809.jpg","width":1920,"height":640},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/98P32QNN6V/98P32QNN6V-hero_e47d1c143d5cd49f319c53578ae25e1a.jpg","width":1080,"height":360}},"style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#B65B5D","linkDark":"#FF8082","primaryLight":"#E47374","primaryDark":"#FF8082"},"additionalProperty":{"publishLevel":"full","layoutPattern":"summary","episodeOrder":"releasedEvent","availableOnPlus":false,"enableVariablePlayBackSpeedControl":false,"optional":[],"seriesPackStatus":"notPacked"}},"releasedEvent":{"startDate":"2020-04-27T18:45:00+09:00","endDate":"2020-04-27T18:55:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHK教育テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-eyecatch_m.png","width":640,"height":360},"eyecatchLarge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-eyecatch_l.png","width":1280,"height":720},"eyecatch":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-eyecatch.png","width":1920,"height":1080},"hero":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-hero.png","width":1080,"height":360},"heroMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-hero_m.png","width":1920,"height":640},"logoSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-logo_s.png","width":200,"height":200},"logoMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-logo_m.png","width":640,"height":640},"logo":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-logo.png","width":1080,"height":1080}},"identifierGroup":{"serviceId":"e1","serviceName":"NHKEテレ1","shortenedName":"NHKEテレ1","shortenedDisplayName":"Eテレ"}}},"detailedRecentEvent":{"startDate":"2021-07-19T18:45:00+09:00","endDate":"2021-07-19T18:55:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHK教育テレビジョン","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/e1/e1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"[...]
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/bundle/te/XKNVY22PNP.json?extendedEntities=true&ignoreRange=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
        - application/json; charset=utf-8
      commit-hash:
        - '"5029c00"'
      etag:
        - W/"232c-qtDiFqi4/7ZfLWKNtlASBfXOkMg"
    body:
      encoding: UTF-8
      string: '{"tvepisode":{"result"[...]
