---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/l/bundle/te/Y1GJ9QKGKR.json?extendedEntities=true&ignoreRange=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"cd9aa19"'
      etag:
      - W/"4b8e-/oGTJ7Oy8tdE/nQsSzwILvZK/hg"
    body:
      encoding: UTF-8
      string: '{"tvepisode":{"result":[{"type":"TVEpisode","id":"Y1GJ9QKGKR","name":"「その“誤解”が危ない!“熱中症”対策最前線」","identifierGroup":{"tvEpisodeId":"Y1GJ9QKGKR","tvSeriesId":"R7Y6NGLJ6G","tvEpisodeName":"「その“誤解”が危ない!“熱中症”対策最前線」","tvSeriesName":"クローズアップ現代","hashtag":[],"serviceId":["g1","g2","s1","s2"],"aliasId":"gendai","formatGenreTag":[{"id":"01","name":"報道"}]},"identifierGroupEx":{"tvSeriesGroupId":"4Y6ZLM519P","tvSeriesGroupName":"クローズアップ現代","tvEpisodeNameTemp":"「その“誤解”が危ない!“熱中症”対策最前線」","tvSeriesNameTemp":"クローズアップ現代","releasedEventServiceIdTemp":"g1","releasedEventStartDateTemp":"2022-07-13T19:30:00+09:00","releasedEventEndDateTemp":"2022-07-13T19:57:00+09:00"},"keywords":[],"description":"夏休みを前に猛暑で病院搬送が相次ぐ「熱中症」。幼児から高齢者まで、あらゆる年齢層にリスクがありながら熱中症にはさまざまな“誤解”も。最前線の対処法を徹底的に紹介","dateCreated":"2022-05-30T19:52:44+09:00","dateModified":"2022-07-12T13:00:05+09:00","actors":[],"contributors":[],"partOfSeries":{"id":"R7Y6NGLJ6G","name":"クローズアップ現代","detailedSeriesNameRuby":"くろーずあっぷげんだい","identifierGroup":{"tvSeriesId":"R7Y6NGLJ6G","tvSeriesName":"クローズアップ現代","hashtag":[],"serviceId":["g1","g2","s1","s2"],"aliasId":"gendai","mediaAssetUrls":["https://movie-a.nhk.or.jp/json/R7Y6NGLJ6G.json"]},"identifierGroupEx":{"tvSeriesGroupId":"4Y6ZLM519P","tvSeriesGroupName":"クローズアップ現代","tvSeriesNameTemp":"クローズアップ現代"},"url":"https://dev-api.nr.nhk.jp/r6/t/tvseries/ts/R7Y6NGLJ6G.json","canonical":"https://dev-www.nhk.jp/p/gendai/ts/R7Y6NGLJ6G/","description":"「クローズアップ現代」は1993年放送開始の報道番組です。政治経済の動きから、独自の調査報道、暮らしに直結する身近な話題やトレンドまで。幅広いテーマを、徹底した現場取材で掘り下げます。2022年度からは放送時間が夜7時半に変更し、毎週月・火・水放送に。キャスターは桑子真帆アナウンサー。","detailedCatch":"”心に刺さるジャーナリズム”","logo":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/R7Y6NGLJ6G/R7Y6NGLJ6G-logo_9f295a1edc8ae349847106bde54e42da.jpg","width":1080,"height":1080},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/R7Y6NGLJ6G/R7Y6NGLJ6G-logo_1e8ef1d198de83eaf607586da3e35357.jpg","width":640,"height":640}},"eyecatch":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/R7Y6NGLJ6G/R7Y6NGLJ6G-eyecatch_3d7d41373aaaabc41cea8a9c71ea145c.jpg","width":1920,"height":1080},"tver":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/R7Y6NGLJ6G/R7Y6NGLJ6G-eyecatch_16dd6fbfd2a8dcc365982a54b5471300.jpg","width":928,"height":522},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/R7Y6NGLJ6G/R7Y6NGLJ6G-eyecatch_dd80b37c321ec7e4849aeddfb0a108ac.jpg","width":640,"height":360}},"hero":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/R7Y6NGLJ6G/R7Y6NGLJ6G-hero_cd6ce455714ef9787ce849b1c51ac2ce.jpg","width":1920,"height":640},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/R7Y6NGLJ6G/R7Y6NGLJ6G-hero_125ea560433196f5e6c318f88cc21e35.jpg","width":1080,"height":360}},"style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#975F5F","linkDark":"#A97A7A","primaryLight":"#975F5F","primaryDark":"#975F5F"},"additionalProperty":{"publishLevel":"full","layoutPattern":"summary","episodeOrderBy":"releasedEvent","availableOnPlus":false,"enableVariablePlayBackSpeedControl":false,"optional":[],"seriesPackStatus":"notPacked"}},"releasedEvent":{"startDate":"2022-07-13T19:30:00+09:00","endDate":"2022-07-13T19:57:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHK総合テレビジョン","url":"https://dev-api.nr.nhk.jp/r6/t/broadcastservice/bs/g1.json","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_m.png","width":640,"height":360},"eyecatchLarge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_l.png","width":1280,"height":720},"eyecatch":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch.png","width":1920,"height":1080},"heroMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero_m.png","width":1080,"height":360},"hero":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero.png","width":1920,"height":640},"logoSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_s.png","width":200,"height":200},"logoMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_m.png","width":640,"height":640},"logo":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo.png","width":1080,"height":1080}},"identifierGroup":{"serviceId":"g1","serviceName":"NHK総合1","shortenedName":"NHK総合1","shortenedDisplayName":"総合"}}},"detailedRecentEvent":{"startDate":"2022-07-13T19:30:00+09:00","endDate":"2022-07-13T19:57:00+09:00","publishedOn":{"type":"BroadcastService","name":"NHK総合テレビジョン","url":"https://dev-api.nr.nhk.jp/r6/t/broadcastservice/bs/g1.json","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g[...]
