---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6.0/s/extended.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"4dc6015"'
      etag:
      - '"fb-dxlbYlUvaVOI7DbFaonbmWqv6LU"'
    body:
      encoding: UTF-8
      string: '{"error":{"statuscode":400,"message":"parameter error","details":[{"msg":"Invalid
        value","param":"modeOfItem","location":"query"},{"msg":"Invalid value","param":"modeOfItem","location":"query"}],"requestId":"Root=1-6396d743-00d98cb410da45b84db9adee"}}'
  recorded_at: Mon, 12 Dec 2022 07:24:51 GMT
recorded_with: VCR 6.1.0
