---
http_interactions:
- request:
    method: get
    uri: https://dev-api.nr.nhk.jp/r6/s/extended.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      origin-agent-cluster:
      - "?1"
      commit-hash:
      - '"4dc6015"'
      etag:
      - W/"32b3b-RbafMZqgmZoa8sXGIz0jt6/hG0g"
    body:
      encoding: UTF-8
      string: '{"result":{"tvseries":{"result":[{"type":"TVSeries","id":"8XKZRNWY5Q","name":"これまでの「群青領域」","identifierGroup":{"tvSeriesId":"8XKZRNWY5Q","tvSeriesName":"これまでの「群青領域」","hashtag":[],"serviceId":["g1","g2"]},"keywords":[],"description":"","style":{"textLight":"#000000","textDark":"#FFFFFF","linkLight":"#990099","linkDark":"#C46BC4","primaryLight":"#990099","primaryDark":"#B13CB1"},"dateCreated":"2021-11-10T18:49:04+09:00","dateModified":"2022-04-19T14:35:05+09:00","actors":[],"contributors":[],"logo":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/8XKZRNWY5Q/8XKZRNWY5Q-logo_c20dbb5ff0ccbff5558e37809ad58845.jpg","width":1080,"height":1080},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/8XKZRNWY5Q/8XKZRNWY5Q-logo_3889f3890ae6a8201901c26b3b1ae332.jpg","width":640,"height":640}},"eyecatch":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/8XKZRNWY5Q/8XKZRNWY5Q-eyecatch_652d30145e8b74b0a05c670fa69fa35b.jpg","width":1920,"height":1080},"tver":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/8XKZRNWY5Q/8XKZRNWY5Q-eyecatch_f028f09bbb6b88b01660d6cb36088578.jpg","width":928,"height":522},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/8XKZRNWY5Q/8XKZRNWY5Q-eyecatch_302275b81472263d6f4dea65737d3ba7.jpg","width":640,"height":360}},"hero":{"main":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/8XKZRNWY5Q/8XKZRNWY5Q-hero_603efa0fda74959c3ad4b5822b2b9be7.jpg","width":1920,"height":640},"medium":{"url":"https://dev-www.nhk.jp/static/assets/images/tvseries/ts/8XKZRNWY5Q/8XKZRNWY5Q-hero_77220c31adcbcbb4ad7fa18119ca0f69.jpg","width":1080,"height":360}},"videos":[],"releasedEvent":{},"citations":[],"detailedTimetable":[{"description":"","isRerun":false,"publishedOn":{"type":"BroadcastService","name":"NHK総合テレビジョン","url":"https://dev-api.nr.nhk.jp/r6/t/broadcastservice/bs/g1.json","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-badge.png","width":200,"height":100},"eyecatchMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_m.png","width":640,"height":360},"eyecatchLarge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch_l.png","width":1280,"height":720},"eyecatch":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-eyecatch.png","width":1920,"height":1080},"heroMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero_m.png","width":1080,"height":360},"hero":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-hero.png","width":1920,"height":640},"logoSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_s.png","width":200,"height":200},"logoMedium":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo_m.png","width":640,"height":640},"logo":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g1/g1-logo.png","width":1080,"height":1080}},"identifierGroup":{"serviceId":"g1","serviceName":"NHK総合1","shortenedName":"NHK総合1","shortenedDisplayName":"総合"}}},{"description":"","isRerun":false,"publishedOn":{"type":"BroadcastService","name":"NHK総合テレビジョン","url":"https://dev-api.nr.nhk.jp/r6/t/broadcastservice/bs/g2.json","videoFormat":["2K"],"encodingFormat":["video/X-arib-mpeg2","audio/X-arib-mpeg2-aac"],"images":{"badgeSmall":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g2/g2-badge_s.png","width":100,"height":50},"badge":{"url":"https://dev-www.nhk.jp/assets/images/broadcastservice/bs/g2/g2-badge.png","width":200,"height":[...]
